Repository Adaptive-Web-Community/Adaptive-Web-Components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-381becf1-b6b2-4333-9695-40c2a1c8877e.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Added support for generated type scale token values (#272)
  change/@adaptive-web-adaptive-ui-381becf1-b6b2-4333-9695-40c2a1c8877e.json
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/component-type.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.template.ts
  packages/adaptive-ui-explorer/src/state.ts
  packages/adaptive-ui-explorer/src/typography/index.ts
  packages/adaptive-ui-explorer/src/typography/type-scale.ts
  packages/adaptive-ui-explorer/src/typography/typography.styles.ts
  packages/adaptive-ui-explorer/src/typography/typography.template.ts
  packages/adaptive-ui-explorer/src/typography/typography.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/index.ts
  packages/adaptive-ui/src/core/typography/index.ts
  packages/adaptive-ui/src/core/typography/type-ramp.ts
  packages/adaptive-ui/src/reference/type.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Added token for multiline line height in type ramp
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.template.ts
  packages/adaptive-ui-explorer/src/state.ts
  packages/adaptive-ui-explorer/src/typography/type-scale.ts
  packages/adaptive-ui-explorer/src/typography/typography.styles.ts
  packages/adaptive-ui-explorer/src/typography/typography.template.ts
  packages/adaptive-ui-explorer/src/typography/typography.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/typography/type-ramp.ts
  packages/adaptive-ui/src/reference/modules.ts
  packages/adaptive-ui/src/reference/type.ts
Owners: @nicholasrice, @bheston

Change files
  change/@adaptive-web-adaptive-ui-6e923336-80b2-4e6c-b796-5fd9a74a304b.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Added token for multiline line height in type ramp (#273)
  change/@adaptive-web-adaptive-ui-6e923336-80b2-4e6c-b796-5fd9a74a304b.json
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.template.ts
  packages/adaptive-ui-explorer/src/state.ts
  packages/adaptive-ui-explorer/src/typography/type-scale.ts
  packages/adaptive-ui-explorer/src/typography/typography.styles.ts
  packages/adaptive-ui-explorer/src/typography/typography.template.ts
  packages/adaptive-ui-explorer/src/typography/typography.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/typography/type-ramp.ts
  packages/adaptive-ui/src/reference/modules.ts
  packages/adaptive-ui/src/reference/type.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-f5cac866-335e-43c3-a779-7648d1eae6cc.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Add legacy alias tokens for updated typography tokens
  packages/adaptive-ui-designer-core/src/registry/recipes.ts
  packages/adaptive-ui/src/reference/type.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Reinstall, rebuild (previous deps updates)
  package-lock.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-8f61688b-16b6-4d93-85d8-1dba32026635.json
  change/@adaptive-web-adaptive-ui-designer-core-1382aa7b-2631-4ab8-a30c-dc87077a4680.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Add legacy alias tokens for updated typography tokens (#277)
  change/@adaptive-web-adaptive-ui-8f61688b-16b6-4d93-85d8-1dba32026635.json
  change/@adaptive-web-adaptive-ui-designer-core-1382aa7b-2631-4ab8-a30c-dc87077a4680.json
  package-lock.json
  packages/adaptive-ui-designer-core/src/registry/recipes.ts
  packages/adaptive-ui/src/reference/type.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

remove proof html workflow as it never runs on any files
  .github/workflows/proof-html.yml
Owners: @awentzel, @nicholasrice, @KingOfTac

replace beachball with changeset / update config and workflows
  .changeset/README.md
  .changeset/config.json
  .github/workflows/ci-validate-pr.yml
  .github/workflows/publish-packages.yml
  beachball.config.cjs
  package-lock.json
  package.json
Owners: @awentzel, @bheston, @nicholasrice, @KingOfTac

change changelog formatter and fix ignored packages
  .changeset/config.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

yaml formatting
  .github/workflows/ci-validate-pr.yml
  .github/workflows/publish-packages.yml
Owners: @awentzel, @nicholasrice, @KingOfTac

update docs
  CONTRIBUTING.md
Owners: @awentzel, @bheston, @nicholasrice

switch validate workflow back to using npm install
  .github/workflows/ci-validate-pr.yml
Owners: @awentzel, @nicholasrice, @KingOfTac

fix missing repo for changelog generator
  .changeset/config.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

fix missing repo for changelog generator (#279)
  .changeset/config.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

fix repository metadata
  package-lock.json
  package.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

attempting fix for publish errors
  packages/adaptive-ui-designer-core/package.json
  packages/adaptive-ui-designer-figma/package.json
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

attempting fix for publish errors
  .github/workflows/publish-packages.yml
  packages/adaptive-ui-designer-core/package.json
  packages/adaptive-ui-designer-figma/package.json
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/package.json
Owners: @awentzel, @nicholasrice, @KingOfTac, @bheston

WIP resolving vulnerability messages
  examples/customize-component/package.json
  examples/use-adaptive-components/package.json
  package-lock.json
  packages/adaptive-ui-designer-figma-plugin/package.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/package.json
Owners: @bheston, @KingOfTac, @nicholasrice, @awentzel

fix changelog commit attributions after changeset migration
  packages/adaptive-ui-designer-core/CHANGELOG.md
  packages/adaptive-ui-designer-figma/CHANGELOG.md
  packages/adaptive-ui/CHANGELOG.md
  packages/adaptive-web-components/CHANGELOG.md
Owners: @awentzel, @bheston, @nicholasrice, @KingOfTac

Fixed an issue with overlay handling of transparent colors
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.template.ts
  packages/adaptive-ui-explorer/src/state.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/color/color.ts
  packages/adaptive-ui/src/core/color/utilities/conditional.ts
  packages/adaptive-ui/src/core/color/utilities/opacity.ts
Owners: @nicholasrice, @bheston

Changeset
  .changeset/neat-plants-spend.md
Owners: @awentzel, @bheston, @nicholasrice

AUI: Fixed an issue with overlay handling of transparent colors (#281)
  .changeset/neat-plants-spend.md
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.template.ts
  packages/adaptive-ui-explorer/src/state.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/color/color.ts
  packages/adaptive-ui/src/core/color/utilities/conditional.ts
  packages/adaptive-ui/src/core/color/utilities/opacity.ts
Owners: @awentzel, @bheston, @nicholasrice

Add debug view feature
  packages/adaptive-ui-designer-figma-plugin/src/ui/app.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/index.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Improve logging for debugging
  .vscode/settings.json
  package-lock.json
  packages/adaptive-ui-designer-core/package.json
  packages/adaptive-ui-designer-core/src/index.ts
  packages/adaptive-ui-designer-core/src/logger.ts
  packages/adaptive-ui-designer-core/src/node.ts
  packages/adaptive-ui-designer-figma-plugin/package.json
  packages/adaptive-ui-designer-figma-plugin/src/figma/global-shim.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-styles.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change
  .changeset/olive-jokes-warn.md
Owners: @awentzel, @bheston, @nicholasrice

Revert back to previous plugin data storage format
  packages/adaptive-ui-designer-core/src/controller.ts
  packages/adaptive-ui-designer-core/src/model.ts
  packages/adaptive-ui-designer-core/src/node.ts
  packages/adaptive-ui-designer-core/src/serialization.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/controller.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/plugin-data-resolver.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/utility.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-elements.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller.ts
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Designer: Fix plugin data format and handling for remote components (#283)
  .changeset/olive-jokes-warn.md
  .vscode/settings.json
  package-lock.json
  packages/adaptive-ui-designer-core/package.json
  packages/adaptive-ui-designer-core/src/controller.ts
  packages/adaptive-ui-designer-core/src/index.ts
  packages/adaptive-ui-designer-core/src/logger.ts
  packages/adaptive-ui-designer-core/src/model.ts
  packages/adaptive-ui-designer-core/src/node.ts
  packages/adaptive-ui-designer-core/src/serialization.ts
  packages/adaptive-ui-designer-figma-plugin/package.json
  packages/adaptive-ui-designer-figma-plugin/src/figma/controller.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/global-shim.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/plugin-data-resolver.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/utility.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/app.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-elements.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-styles.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller.ts
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
Owners: @awentzel, @bheston, @nicholasrice, @KingOfTac

AUI: Updated layer fill interactive to invert colors to avoid white on white scenario.
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/color/recipes/index.ts
  packages/adaptive-ui/src/core/color/recipes/inverting-palette-deltas-for-set.ts
  packages/adaptive-ui/src/reference/layer.ts
  packages/adaptive-ui/src/reference/modules.ts
Owners: @nicholasrice, @bheston

Change
  .changeset/upset-ties-spend.md
Owners: @awentzel, @bheston, @nicholasrice

AUI: Updated layer fill interactive to invert colors to avoid white on white scenario (#289)
  .changeset/upset-ties-spend.md
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/color/recipes/index.ts
  packages/adaptive-ui/src/core/color/recipes/inverting-palette-deltas-for-set.ts
  packages/adaptive-ui/src/reference/layer.ts
  packages/adaptive-ui/src/reference/modules.ts
Owners: @awentzel, @bheston, @nicholasrice

Figma Designer: Update CLI to allow PAT in env var
  package-lock.json
  packages/adaptive-ui-designer-figma/package.json
  packages/adaptive-ui-designer-figma/src/cli/main.ts
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change
  .changeset/dull-sides-stand.md
Owners: @awentzel, @bheston, @nicholasrice

Figma Designer: Update CLI to allow PAT in env var (#290)
  .changeset/dull-sides-stand.md
  package-lock.json
  packages/adaptive-ui-designer-figma/package.json
  packages/adaptive-ui-designer-figma/src/cli/main.ts
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
Owners: @awentzel, @bheston, @nicholasrice, @KingOfTac

AUI Figma: Added `components` CLI option and fixed processing issues
  package-lock.json
  packages/adaptive-ui-designer-figma/src/cli/main.ts
  packages/adaptive-ui-designer-figma/src/lib/node-parser.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

changes
  .changeset/silent-trains-spend.md
Owners: @awentzel, @bheston, @nicholasrice

AUI Figma: Added `components` CLI option and fixed processing issues (#295)
  .changeset/silent-trains-spend.md
  package-lock.json
  packages/adaptive-ui-designer-figma/src/cli/main.ts
  packages/adaptive-ui-designer-figma/src/lib/node-parser.ts
Owners: @awentzel, @bheston, @nicholasrice, @KingOfTac

.github/CODEOWNERS:

# Approval for at least one *code owner* is required all packages.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more *code owners*.
# The last matching pattern has the most precendence.

# These *code owners* will be the default owners for everything in the repository.
* @awentzel @bheston @KingOfTac @nicholasrice

# File type specific owners
# Markdown specific files
*.md @awentzel @bheston @nicholasrice
/docs/ @awentzel @bheston @nicholasrice

# GitHub management
.github/ @awentzel @nicholasrice @KingOfTac
.github/workflows/ @awentzel @nicholasrice @KingOfTac

# Build scripts
*.yml @awentzel @nicholasrice @KingOfTac
build/ @awentzel @nicholasrice @KingOfTac

# Package specific owners
# Examples
/examples/ @bheston @KingOfTac @nicholasrice

# Tooling

# Utilities

# Web components
/packages/adaptive-ui/ @nicholasrice @bheston
/packages/adaptive-ui-explorer/ @nicholasrice @bheston
/packages/adaptive-web-components/ @nicholasrice @bheston @KingOfTac
