Repository Adaptive-Web-Community/Adaptive-Web-Components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

.github/CODEOWNERS:

# Approval for at least one *code owner* is required all packages.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more *code owners*.
# The last matching pattern has the most precendence.

# These *code owners* will be the default owners for everything in the repository.
* @awentzel @bheston @KingOfTac @nicholasrice

# File type specific owners
# Markdown specific files
*.md @awentzel @bheston @nicholasrice
/docs/ @awentzel @bheston @nicholasrice

# GitHub management
.github/ @awentzel @nicholasrice @KingOfTac
.github/workflows/ @awentzel @nicholasrice @KingOfTac

# Build scripts
*.yml @awentzel @nicholasrice @KingOfTac
build/ @awentzel @nicholasrice @KingOfTac

# Package specific owners
# Examples
/examples/ @bheston @KingOfTac @nicholasrice

# Tooling

# Utilities

# Web components
/packages/adaptive-ui/ @nicholasrice @bheston
/packages/adaptive-ui-explorer/ @nicholasrice @bheston
/packages/adaptive-web-components/ @nicholasrice @bheston @KingOfTac

Fixing a few CLI runtime issues (#202)
  change/@adaptive-web-adaptive-ui-designer-figma-c0e00d8c-c4ff-4895-bfa8-19cf6ec650f8.json
  packages/adaptive-ui-designer-figma/src/cli/library-config.ts
  packages/adaptive-ui-designer-figma/src/cli/main.ts
  packages/adaptive-ui-designer-figma/src/cli/stylesheet.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

applying package updates
  change/@adaptive-web-adaptive-ui-3ee37aaf-126b-435c-8f21-6b3e41ecc67b.json
  change/@adaptive-web-adaptive-ui-6cbe9dd9-ec83-4b35-af70-4884553368e6.json
  change/@adaptive-web-adaptive-ui-741c85ae-dd57-45f8-bd98-4ce58c26202e.json
  change/@adaptive-web-adaptive-ui-75f07927-6c24-47c5-8ebb-2ba36756e07d.json
  change/@adaptive-web-adaptive-ui-8394728e-6ae4-40e4-a0bc-9a0cbcb1171b.json
  change/@adaptive-web-adaptive-ui-9435dadf-6d12-4915-9466-dd24533274aa.json
  change/@adaptive-web-adaptive-ui-d99719c4-dff8-4914-b6c0-d96b4dee306c.json
  change/@adaptive-web-adaptive-ui-designer-core-7c2a3ded-5385-4952-897c-53aa895bfaca.json
  change/@adaptive-web-adaptive-ui-designer-core-af667e7f-6b1d-4f29-aa8c-807ff50bb976.json
  change/@adaptive-web-adaptive-ui-designer-core-e838feb2-cc57-46ca-8f13-49deb0925963.json
  change/@adaptive-web-adaptive-ui-designer-figma-2970b0fd-66c9-45a2-bbe8-a7ea479f0a96.json
  change/@adaptive-web-adaptive-ui-designer-figma-357981fa-b135-4ef3-bdf0-6bbe98352e06.json
  change/@adaptive-web-adaptive-ui-designer-figma-bbc0c6d3-12fc-46f1-bde4-4add8cab3333.json
  change/@adaptive-web-adaptive-ui-designer-figma-c0e00d8c-c4ff-4895-bfa8-19cf6ec650f8.json
  change/@adaptive-web-adaptive-web-components-773cc7f3-c184-4004-935e-2efb19eea303.json
  change/@adaptive-web-adaptive-web-components-a8be2964-33b7-458e-af89-13dc4ee62eca.json
  examples/customize-component/package.json
  examples/use-adaptive-components/package.json
  package-lock.json
  packages/adaptive-ui-designer-core/CHANGELOG.json
  packages/adaptive-ui-designer-core/CHANGELOG.md
  packages/adaptive-ui-designer-core/package.json
  packages/adaptive-ui-designer-figma-plugin/package.json
  packages/adaptive-ui-designer-figma/CHANGELOG.json
  packages/adaptive-ui-designer-figma/CHANGELOG.md
  packages/adaptive-ui-designer-figma/package.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui/CHANGELOG.json
  packages/adaptive-ui/CHANGELOG.md
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/CHANGELOG.json
  packages/adaptive-web-components/CHANGELOG.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Add runtime dependencies as dependencies
  packages/adaptive-ui/package.json
Owners: @nicholasrice, @bheston

remove logging of PAT
  packages/adaptive-ui-designer-figma/src/cli/main.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-designer-figma-89eb51bf-e37c-4220-98b2-8d8b307e710c.json
  change/@adaptive-web-adaptive-ui-fb42213d-30d8-4790-953d-d4c2c0ca31ac.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

fix: Dependencies and PAT logging (#204)
  change/@adaptive-web-adaptive-ui-designer-figma-89eb51bf-e37c-4220-98b2-8d8b307e710c.json
  change/@adaptive-web-adaptive-ui-fb42213d-30d8-4790-953d-d4c2c0ca31ac.json
  packages/adaptive-ui-designer-figma/src/cli/main.ts
  packages/adaptive-ui/package.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

applying package updates
  change/@adaptive-web-adaptive-ui-designer-figma-89eb51bf-e37c-4220-98b2-8d8b307e710c.json
  change/@adaptive-web-adaptive-ui-fb42213d-30d8-4790-953d-d4c2c0ca31ac.json
  examples/customize-component/package.json
  examples/use-adaptive-components/package.json
  package-lock.json
  packages/adaptive-ui-designer-core/CHANGELOG.json
  packages/adaptive-ui-designer-core/CHANGELOG.md
  packages/adaptive-ui-designer-core/package.json
  packages/adaptive-ui-designer-figma-plugin/package.json
  packages/adaptive-ui-designer-figma/CHANGELOG.json
  packages/adaptive-ui-designer-figma/CHANGELOG.md
  packages/adaptive-ui-designer-figma/package.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui/CHANGELOG.json
  packages/adaptive-ui/CHANGELOG.md
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/CHANGELOG.json
  packages/adaptive-web-components/CHANGELOG.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Adaptive UI: Improve color palette accuracy
  packages/adaptive-ui-designer-core/src/registry/recipes.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller.ts
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.template.ts
  packages/adaptive-ui-explorer/src/components/style-example.ts
  packages/adaptive-ui-explorer/src/state.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/adaptive-design-tokens.ts
  packages/adaptive-ui/src/core/color/palette-okhsl.ts
  packages/adaptive-ui/src/core/color/recipes/ideal-color-delta-swatch-set.ts
  packages/adaptive-ui/src/reference/color.ts
  packages/adaptive-ui/src/reference/modules.ts
  packages/adaptive-ui/src/reference/token-naming.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-8641f9ae-3248-4f3c-8b9b-63a1e8637d8a.json
  change/@adaptive-web-adaptive-ui-designer-core-77c9ea99-fd34-4165-91ec-a2d587cea2ef.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Review comments
  packages/adaptive-ui-explorer/src/components/style-example.ts
Owners: @nicholasrice, @bheston

Adaptive UI: Improve color palette accuracy (#207)
  change/@adaptive-web-adaptive-ui-8641f9ae-3248-4f3c-8b9b-63a1e8637d8a.json
  change/@adaptive-web-adaptive-ui-designer-core-77c9ea99-fd34-4165-91ec-a2d587cea2ef.json
  packages/adaptive-ui-designer-core/src/registry/recipes.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller.ts
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.template.ts
  packages/adaptive-ui-explorer/src/components/style-example.ts
  packages/adaptive-ui-explorer/src/state.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/adaptive-design-tokens.ts
  packages/adaptive-ui/src/core/color/palette-okhsl.ts
  packages/adaptive-ui/src/core/color/recipes/ideal-color-delta-swatch-set.ts
  packages/adaptive-ui/src/reference/color.ts
  packages/adaptive-ui/src/reference/modules.ts
  packages/adaptive-ui/src/reference/token-naming.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Adaptive UI: Anatomy CLI fixes
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/bin/aui.ts
  packages/adaptive-ui/src/core/modules/types.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

applying package updates
  change/@adaptive-web-adaptive-ui-8641f9ae-3248-4f3c-8b9b-63a1e8637d8a.json
  change/@adaptive-web-adaptive-ui-designer-core-77c9ea99-fd34-4165-91ec-a2d587cea2ef.json
  examples/customize-component/package.json
  examples/use-adaptive-components/package.json
  package-lock.json
  packages/adaptive-ui-designer-core/CHANGELOG.json
  packages/adaptive-ui-designer-core/CHANGELOG.md
  packages/adaptive-ui-designer-core/package.json
  packages/adaptive-ui-designer-figma-plugin/package.json
  packages/adaptive-ui-designer-figma/CHANGELOG.json
  packages/adaptive-ui-designer-figma/CHANGELOG.md
  packages/adaptive-ui-designer-figma/package.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui/CHANGELOG.json
  packages/adaptive-ui/CHANGELOG.md
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/CHANGELOG.json
  packages/adaptive-web-components/CHANGELOG.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

fix module imports on windows
  packages/adaptive-ui/src/bin/aui.ts
Owners: @nicholasrice, @bheston

Change files
  change/@adaptive-web-adaptive-ui-3e96b6b4-4027-44d2-ae7f-9ddbfa79dbed.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

fix type error
  packages/adaptive-ui/src/bin/aui.ts
Owners: @nicholasrice, @bheston

Fix "default" style handling
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-bf3df06e-f531-43cb-b7ae-e33d9db259c8.json
  change/@adaptive-web-adaptive-ui-designer-figma-ca51ff82-1a5d-4468-aaf8-73e9e81e15c7.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Adaptive UI: Anatomy CLI fixes (#210)
  change/@adaptive-web-adaptive-ui-bf3df06e-f531-43cb-b7ae-e33d9db259c8.json
  change/@adaptive-web-adaptive-ui-designer-figma-ca51ff82-1a5d-4468-aaf8-73e9e81e15c7.json
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/bin/aui.ts
  packages/adaptive-ui/src/core/modules/types.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

- Improved support for generating conditions - Improved support for editing anatomy file - Added individual components to the list (not sets) - Other cleanup
  packages/adaptive-ui-designer-figma-plugin/src/core/code-gen.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
  packages/adaptive-ui-designer-figma/src/cli/anatomy.ts
  packages/adaptive-ui-designer-figma/src/cli/figma-rest-client.ts
  packages/adaptive-ui-designer-figma/src/cli/main.ts
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
  packages/adaptive-ui-designer-figma/src/lib/constants.ts
  packages/adaptive-ui-designer-figma/src/lib/index.ts
  packages/adaptive-ui-designer-figma/src/lib/node-parser.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/bin/aui.ts
  packages/adaptive-ui/src/core/modules/types.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-designer-figma-c4faed57-4c53-4767-b0eb-1c18daf9c8e6.json
  change/@adaptive-web-adaptive-ui-e4bc13b2-9613-478b-943f-91caad3db43d.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Adaptive UI: Improved Figma CLI (#211)
  change/@adaptive-web-adaptive-ui-designer-figma-c4faed57-4c53-4767-b0eb-1c18daf9c8e6.json
  change/@adaptive-web-adaptive-ui-e4bc13b2-9613-478b-943f-91caad3db43d.json
  packages/adaptive-ui-designer-figma-plugin/src/core/code-gen.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
  packages/adaptive-ui-designer-figma/src/cli/anatomy.ts
  packages/adaptive-ui-designer-figma/src/cli/figma-rest-client.ts
  packages/adaptive-ui-designer-figma/src/cli/main.ts
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
  packages/adaptive-ui-designer-figma/src/lib/constants.ts
  packages/adaptive-ui-designer-figma/src/lib/index.ts
  packages/adaptive-ui-designer-figma/src/lib/node-parser.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/bin/aui.ts
  packages/adaptive-ui/src/core/modules/types.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Adaptive UI: Migrated global disabled and focus style support from AWC to AUI
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/core/modules/styles.ts
  packages/adaptive-ui/src/reference/modules.ts
  packages/adaptive-web-components/docs/api-report.md
  packages/adaptive-web-components/src/design-system.ts
  packages/adaptive-web-components/src/global.styles.modules.ts
  packages/adaptive-web-components/src/index.ts
Owners: @nicholasrice, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-ui-f9542939-99b8-4020-af98-ae80c00169bb.json
  change/@adaptive-web-adaptive-web-components-fa5ef15b-914d-40cd-a152-02ed908a35aa.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Fix import sorting
  packages/adaptive-ui/src/bin/aui.ts
Owners: @nicholasrice, @bheston

Adaptive UI: Migrated global disabled and focus style support from AWC to AUI (#212)
  change/@adaptive-web-adaptive-ui-f9542939-99b8-4020-af98-ae80c00169bb.json
  change/@adaptive-web-adaptive-web-components-fa5ef15b-914d-40cd-a152-02ed908a35aa.json
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/core/modules/styles.ts
  packages/adaptive-ui/src/reference/modules.ts
  packages/adaptive-web-components/docs/api-report.md
  packages/adaptive-web-components/src/design-system.ts
  packages/adaptive-web-components/src/global.styles.modules.ts
  packages/adaptive-web-components/src/index.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

applying package updates
  change/@adaptive-web-adaptive-ui-bf3df06e-f531-43cb-b7ae-e33d9db259c8.json
  change/@adaptive-web-adaptive-ui-designer-figma-c4faed57-4c53-4767-b0eb-1c18daf9c8e6.json
  change/@adaptive-web-adaptive-ui-designer-figma-ca51ff82-1a5d-4468-aaf8-73e9e81e15c7.json
  change/@adaptive-web-adaptive-ui-e4bc13b2-9613-478b-943f-91caad3db43d.json
  change/@adaptive-web-adaptive-ui-f9542939-99b8-4020-af98-ae80c00169bb.json
  change/@adaptive-web-adaptive-web-components-fa5ef15b-914d-40cd-a152-02ed908a35aa.json
  examples/customize-component/package.json
  examples/use-adaptive-components/package.json
  package-lock.json
  packages/adaptive-ui-designer-core/CHANGELOG.json
  packages/adaptive-ui-designer-core/CHANGELOG.md
  packages/adaptive-ui-designer-core/package.json
  packages/adaptive-ui-designer-figma-plugin/package.json
  packages/adaptive-ui-designer-figma/CHANGELOG.json
  packages/adaptive-ui-designer-figma/CHANGELOG.md
  packages/adaptive-ui-designer-figma/package.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui/CHANGELOG.json
  packages/adaptive-ui/CHANGELOG.md
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/CHANGELOG.json
  packages/adaptive-web-components/CHANGELOG.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

AUI: Fix global style generation
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/bin/aui.ts
  packages/adaptive-ui/src/core/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/core/modules/selector.ts
  packages/adaptive-ui/src/core/modules/types.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-2baa1927-6a42-4da6-a58f-7b5457bb9dec.json
  change/@adaptive-web-adaptive-ui-designer-figma-46ac51d1-29c2-42cb-8057-f9b7ce2c3643.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

AUI: Fix global style generation (#213)
  change/@adaptive-web-adaptive-ui-2baa1927-6a42-4da6-a58f-7b5457bb9dec.json
  change/@adaptive-web-adaptive-ui-designer-figma-46ac51d1-29c2-42cb-8057-f9b7ce2c3643.json
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/bin/aui.ts
  packages/adaptive-ui/src/core/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/core/modules/selector.ts
  packages/adaptive-ui/src/core/modules/types.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

applying package updates
  change/@adaptive-web-adaptive-ui-2baa1927-6a42-4da6-a58f-7b5457bb9dec.json
  change/@adaptive-web-adaptive-ui-designer-figma-46ac51d1-29c2-42cb-8057-f9b7ce2c3643.json
  examples/customize-component/package.json
  examples/use-adaptive-components/package.json
  package-lock.json
  packages/adaptive-ui-designer-core/CHANGELOG.json
  packages/adaptive-ui-designer-core/CHANGELOG.md
  packages/adaptive-ui-designer-core/package.json
  packages/adaptive-ui-designer-figma-plugin/package.json
  packages/adaptive-ui-designer-figma/CHANGELOG.json
  packages/adaptive-ui-designer-figma/CHANGELOG.md
  packages/adaptive-ui-designer-figma/package.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui/CHANGELOG.json
  packages/adaptive-ui/CHANGELOG.md
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/CHANGELOG.json
  packages/adaptive-web-components/CHANGELOG.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Merge CSS rules during CSS generation from JSON anatomy
  package-lock.json
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/bin/aui.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-80cc5c2d-8bf8-4956-a470-183ea023604e.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

feat: CSS rules during CSS generation from JSON anatomy (#215)
  change/@adaptive-web-adaptive-ui-80cc5c2d-8bf8-4956-a470-183ea023604e.json
  package-lock.json
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/bin/aui.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

applying package updates
  change/@adaptive-web-adaptive-ui-80cc5c2d-8bf8-4956-a470-183ea023604e.json
  examples/customize-component/package.json
  examples/use-adaptive-components/package.json
  package-lock.json
  packages/adaptive-ui-designer-core/CHANGELOG.json
  packages/adaptive-ui-designer-core/CHANGELOG.md
  packages/adaptive-ui-designer-core/package.json
  packages/adaptive-ui-designer-figma-plugin/package.json
  packages/adaptive-ui-designer-figma/CHANGELOG.json
  packages/adaptive-ui-designer-figma/CHANGELOG.md
  packages/adaptive-ui-designer-figma/package.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui/CHANGELOG.json
  packages/adaptive-ui/CHANGELOG.md
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/CHANGELOG.json
  packages/adaptive-web-components/CHANGELOG.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

AUI: Update CLI from `tokens` to align with existing `properties`
  packages/adaptive-ui-designer-figma-plugin/src/core/code-gen.ts
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/bin/aui.ts
  packages/adaptive-ui/src/core/modules/types.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-9a1613c3-c2e2-44c5-9a42-4cb2b5216378.json
  change/@adaptive-web-adaptive-ui-designer-figma-44d25ed7-78a9-46a7-8518-788cb1ac9ca3.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

AUI: Update CLI from `tokens` to align with existing `properties` (#216)
  change/@adaptive-web-adaptive-ui-9a1613c3-c2e2-44c5-9a42-4cb2b5216378.json
  change/@adaptive-web-adaptive-ui-designer-figma-44d25ed7-78a9-46a7-8518-788cb1ac9ca3.json
  packages/adaptive-ui-designer-figma-plugin/src/core/code-gen.ts
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/bin/aui.ts
  packages/adaptive-ui/src/core/modules/types.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Designer: Added ability to mark a node `inline` for styling
  packages/adaptive-ui-designer-core/src/index.ts
  packages/adaptive-ui-designer-core/src/model.ts
  packages/adaptive-ui-designer-core/src/node.ts
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
  packages/adaptive-ui-designer-figma/src/lib/node-parser.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-designer-core-a1d3a17c-d392-4dd1-ba4f-07204ba4b955.json
  change/@adaptive-web-adaptive-ui-designer-figma-602338ac-be9f-4281-8f99-be2dd70df37e.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice
