Repository Adaptive-Web-Community/Adaptive-Web-Components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect, @falkicon

.github/CODEOWNERS:

# Approval for at least one *code owner* is required all packages.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more *code owners*.
# The last matching pattern has the most precendence.

# These *code owners* will be the default owners for everything in the repository.
* @awentzel @bheston @KingOfTac @EisenbergEffect

# File type specific owners
# Markdown specific files
*.md @awentzel @bheston @falkicon @EisenbergEffect
/docs/ @awentzel @bheston @falkicon @EisenbergEffect

# GitHub management
.github/ @awentzel @EisenbergEffect
.github/workflows/ @awentzel @EisenbergEffect

# Build scripts
*.yml @awentzel @EisenbergEffect
build/ @awentzel @EisenbergEffect

# Package specific owners
# Examples
/examples/ @bheston @KingOfTac

# Tooling

# Utilities

# Web components
/packages/adaptive-ui/ @EisenbergEffect @bheston
/packages/adaptive-ui-explorer/ @EisenbergEffect @bheston
/packages/adaptive-web-components/ @EisenbergEffect @bheston @KingOfTac

Adaptive UI: Added styles build script
  package-lock.json
  packages/adaptive-ui/bin/adaptive-ui-build-styles.js
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/adaptive-ui-build-styles.ts
  packages/adaptive-ui/src/install-dom-shim.ts
  packages/adaptive-ui/tsconfig.json
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-c5d3789b-ade6-4ff6-9e68-549c300e6d65.json
  change/@adaptive-web-adaptive-web-components-4677862c-945e-4bc2-9156-9482acc69604.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Adaptive UI: Added styles build script (#187)
  change/@adaptive-web-adaptive-ui-c5d3789b-ade6-4ff6-9e68-549c300e6d65.json
  change/@adaptive-web-adaptive-web-components-4677862c-945e-4bc2-9156-9482acc69604.json
  package-lock.json
  packages/adaptive-ui/bin/adaptive-ui-build-styles.js
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/adaptive-ui-build-styles.ts
  packages/adaptive-ui/src/install-dom-shim.ts
  packages/adaptive-ui/tsconfig.json
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Adaptive UI: Added support for overriding interactive state selectors - Naming and type cleanup around interactive states
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/color/recipe.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/layer.ts
  packages/adaptive-ui/src/migration/color.ts
  packages/adaptive-ui/src/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/modules/selector.ts
  packages/adaptive-ui/src/modules/styles.ts
  packages/adaptive-ui/src/modules/types.ts
  packages/adaptive-ui/src/token-helpers-color.ts
  packages/adaptive-ui/src/types.ts
  packages/adaptive-web-components/src/components/breadcrumb-item/breadcrumb-item.styles.modules.ts
  packages/adaptive-web-components/src/global.styles.modules.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-ui-e82ee743-0977-4df0-9922-cc67bae3b821.json
  change/@adaptive-web-adaptive-web-components-0c4d7c77-d485-4550-91c3-93ac0004eb98.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

refactor compiler to add compile commands and allow paramaterized inputs
  package-lock.json
  packages/adaptive-ui/bin/adaptive-ui-build-styles.js
  packages/adaptive-ui/bin/aui.js
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/adaptive-ui-build-styles.ts
  packages/adaptive-ui/src/aui.ts
  packages/adaptive-ui/tsconfig.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-ce7bff83-c7cd-440d-84be-62a08db55e7b.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Update packages/adaptive-ui/tsconfig.json
  packages/adaptive-ui/tsconfig.json
Owners: @EisenbergEffect, @bheston

Update packages/adaptive-ui/src/aui.ts
  packages/adaptive-ui/src/aui.ts
Owners: @EisenbergEffect, @bheston

write file header declaring the file is generated
  packages/adaptive-ui/src/aui.ts
Owners: @EisenbergEffect, @bheston

adds support for wildcard matching exports
  package-lock.json
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/aui.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Update packages/adaptive-ui/src/aui.ts
  packages/adaptive-ui/src/aui.ts
Owners: @EisenbergEffect, @bheston

update CLI usage across packages
  packages/adaptive-web-components/package.json
Owners: @EisenbergEffect, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-web-components-e86355c3-3d3f-4647-8282-92447fb0bb43.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

refactor to use common ensureFilesExist function
  packages/adaptive-ui/src/aui.ts
Owners: @EisenbergEffect, @bheston

fixing CLI name
  packages/adaptive-ui/src/aui.ts
Owners: @EisenbergEffect, @bheston

feat: refactor compiler to add compile commands and allow parameterized inputs (#190)
  change/@adaptive-web-adaptive-ui-ce7bff83-c7cd-440d-84be-62a08db55e7b.json
  change/@adaptive-web-adaptive-web-components-e86355c3-3d3f-4647-8282-92447fb0bb43.json
  package-lock.json
  packages/adaptive-ui/bin/adaptive-ui-build-styles.js
  packages/adaptive-ui/bin/aui.js
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/adaptive-ui-build-styles.ts
  packages/adaptive-ui/src/aui.ts
  packages/adaptive-ui/tsconfig.json
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Adaptive UI: Added support for overriding interactive state selectors (#188)
  change/@adaptive-web-adaptive-ui-e82ee743-0977-4df0-9922-cc67bae3b821.json
  change/@adaptive-web-adaptive-web-components-0c4d7c77-d485-4550-91c3-93ac0004eb98.json
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/color/recipe.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/layer.ts
  packages/adaptive-ui/src/migration/color.ts
  packages/adaptive-ui/src/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/modules/selector.ts
  packages/adaptive-ui/src/modules/styles.ts
  packages/adaptive-ui/src/modules/types.ts
  packages/adaptive-ui/src/token-helpers-color.ts
  packages/adaptive-ui/src/types.ts
  packages/adaptive-web-components/src/components/breadcrumb-item/breadcrumb-item.styles.modules.ts
  packages/adaptive-web-components/src/global.styles.modules.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-6375dfc3-3f72-4e49-8ff6-7bfae933719c.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Update renamed file
  packages/adaptive-ui/src/bin/aui.ts
Owners: @EisenbergEffect, @bheston

Fix import order
  packages/adaptive-ui/src/reference/color.ts
Owners: @EisenbergEffect, @bheston

Adaptive UI: Fix a sequence issue in the density helper
  packages/adaptive-ui/src/core/density/index.ts
Owners: @EisenbergEffect, @bheston

Change files
  change/@adaptive-web-adaptive-ui-cf3e3da7-626e-49ec-ba1c-bab3c6461d40.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Adaptive UI: Fix a sequence issue in the density helper (#192)
  change/@adaptive-web-adaptive-ui-cf3e3da7-626e-49ec-ba1c-bab3c6461d40.json
  packages/adaptive-ui/src/core/density/index.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Initial version of style code generation
  package-lock.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/index.html
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-code.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
  packages/adaptive-ui/src/reference/modules.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-6cbe9dd9-ec83-4b35-af70-4884553368e6.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Fix auto-refresh
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Improve node loading
  packages/adaptive-ui-figma-designer/src/core/controller.ts
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/figma/controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Fix module name
  packages/adaptive-ui/src/reference/modules.ts
Owners: @EisenbergEffect, @bheston

Update Figma component inheritance loading
  packages/adaptive-ui-figma-designer/src/figma/node.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Fix fill color reset
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-elements.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

applying package updates
  change/@adaptive-web-adaptive-ui-02928a5b-1a67-41dc-bae7-720ad5e0156e.json
  change/@adaptive-web-adaptive-ui-1d8f42fa-b2d9-4b19-a179-23ce4bf2b329.json
  change/@adaptive-web-adaptive-ui-3ea279c0-91e4-47db-8015-8b43925b9c60.json
  change/@adaptive-web-adaptive-ui-6375dfc3-3f72-4e49-8ff6-7bfae933719c.json
  change/@adaptive-web-adaptive-ui-8b15eb8c-ffd5-4522-8252-b6214108fdee.json
  change/@adaptive-web-adaptive-ui-af78f269-705d-4753-a2cf-fa5d40c26969.json
  change/@adaptive-web-adaptive-ui-c35267ba-eebc-48c2-9d70-e26a1bbbd7d5.json
  change/@adaptive-web-adaptive-ui-c5d3789b-ade6-4ff6-9e68-549c300e6d65.json
  change/@adaptive-web-adaptive-ui-cce85a67-4756-4a97-8313-d2c810defe53.json
  change/@adaptive-web-adaptive-ui-ce7bff83-c7cd-440d-84be-62a08db55e7b.json
  change/@adaptive-web-adaptive-ui-cf3e3da7-626e-49ec-ba1c-bab3c6461d40.json
  change/@adaptive-web-adaptive-ui-e82ee743-0977-4df0-9922-cc67bae3b821.json
  change/@adaptive-web-adaptive-ui-ff49c45e-e50b-4cae-ac86-69ccd40127a7.json
  change/@adaptive-web-adaptive-web-components-0c4d7c77-d485-4550-91c3-93ac0004eb98.json
  change/@adaptive-web-adaptive-web-components-2f8d5909-eef1-4f94-82f8-d87f8d652ba2.json
  change/@adaptive-web-adaptive-web-components-4677862c-945e-4bc2-9156-9482acc69604.json
  change/@adaptive-web-adaptive-web-components-9fd4de3c-107c-447f-b092-1ec704fc9402.json
  change/@adaptive-web-adaptive-web-components-e86355c3-3d3f-4647-8282-92447fb0bb43.json
  change/@adaptive-web-adaptive-web-components-fee5fd32-8612-44e2-9b82-07a9b21b20e4.json
  examples/customize-component/package.json
  examples/use-adaptive-components/package.json
  package-lock.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui/CHANGELOG.json
  packages/adaptive-ui/CHANGELOG.md
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/CHANGELOG.json
  packages/adaptive-web-components/CHANGELOG.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Adds initial version of reponse parser. Does not build
  .vscode/settings.json
  package-lock.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui-figma-designer/src/cli/dom-shim.ts
  packages/adaptive-ui-figma-designer/src/cli/index.ts
  packages/adaptive-ui-figma-designer/src/cli/parser.ts
  packages/adaptive-ui-figma-designer/src/cli/tsconfig.json
  packages/adaptive-ui-figma-designer/src/figma/tsconfig.json
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-code.ts
  packages/adaptive-ui-figma-designer/test.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Fix auto-refresh
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Improve node loading
  packages/adaptive-ui-figma-designer/src/core/controller.ts
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/figma/controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Fix fill color reset
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-elements.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Fix module name
  packages/adaptive-ui/src/reference/modules.ts
Owners: @EisenbergEffect, @bheston

Update Figma component inheritance loading
  packages/adaptive-ui-figma-designer/src/figma/node.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-6cbe9dd9-ec83-4b35-af70-4884553368e6.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Initial version of style code generation
  package-lock.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/index.html
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-code.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
  packages/adaptive-ui/src/reference/modules.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect
