Repository Adaptive-Web-Community/Adaptive-Web-Components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect, @falkicon

.github/CODEOWNERS:

# Approval for at least one *code owner* is required all packages.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more *code owners*.
# The last matching pattern has the most precendence.

# These *code owners* will be the default owners for everything in the repository.
* @awentzel @bheston @KingOfTac @EisenbergEffect

# File type specific owners
# Markdown specific files
*.md @awentzel @bheston @falkicon @EisenbergEffect
/docs/ @awentzel @bheston @falkicon @EisenbergEffect

# GitHub management
.github/ @awentzel @EisenbergEffect
.github/workflows/ @awentzel @EisenbergEffect

# Build scripts
*.yml @awentzel @EisenbergEffect
build/ @awentzel @EisenbergEffect

# Package specific owners
# Examples
/examples/ @bheston @KingOfTac

# Tooling

# Utilities

# Web components
/packages/adaptive-ui/ @EisenbergEffect @bheston
/packages/adaptive-ui-explorer/ @EisenbergEffect @bheston
/packages/adaptive-web-components/ @EisenbergEffect @bheston @KingOfTac

Change files
  change/@adaptive-web-adaptive-ui-56e70be2-b8c2-42a4-93e2-f9bf15dfa4b4.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-web-components-578c06ad-4e1e-4d6e-a522-e0a5aa54fe58.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Fix tests
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-web-components/src/components/search/search.styles.modules.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-ui-f0fd0cb6-8f91-4965-ab74-e15faa0b4a19.json
  change/@adaptive-web-adaptive-web-components-e5498ff0-2dad-4771-8726-a873b912dd26.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Update auto-assign version
  .github/workflows/auto-assign.yml
Owners: @awentzel, @EisenbergEffect

Cleanup messaging interface Fix build output Fix svg inline
  packages/adaptive-ui-figma-designer/src/core/serialization.ts
  packages/adaptive-ui-figma-designer/src/figma/controller.ts
  packages/adaptive-ui-figma-designer/src/figma/main.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/components/design-token-add/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/design-tokens-form/index.ts
  packages/adaptive-ui-figma-designer/src/ui/index.ts
  packages/adaptive-ui-figma-designer/src/ui/tsconfig.json
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Use AWC
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/components/design-token-add/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/design-tokens-form/index.ts
  packages/adaptive-ui-figma-designer/src/ui/index.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Initial migration of the Figma plugin
  package-lock.json
  package.json
  packages/adaptive-ui-figma-designer/README.md
  packages/adaptive-ui-figma-designer/manifest.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui-figma-designer/src/core/controller.ts
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/core/registry/custom-recipes.ts
  packages/adaptive-ui-figma-designer/src/core/registry/design-token-registry.ts
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/core/serialization.ts
  packages/adaptive-ui-figma-designer/src/figma/controller.ts
  packages/adaptive-ui-figma-designer/src/figma/main.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/figma/tsconfig.json
  packages/adaptive-ui-figma-designer/src/figma/utility.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/assets/checkmark.svg
  packages/adaptive-ui-figma-designer/src/ui/assets/detach.svg
  packages/adaptive-ui-figma-designer/src/ui/assets/refresh.svg
  packages/adaptive-ui-figma-designer/src/ui/assets/revert.svg
  packages/adaptive-ui-figma-designer/src/ui/assets/subtract.svg
  packages/adaptive-ui-figma-designer/src/ui/components/corner-radius/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/design-token-add/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/design-token-field/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/design-tokens-form/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/drawer/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/stealth-button/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/token-glyph/index.ts
  packages/adaptive-ui-figma-designer/src/ui/global.css
  packages/adaptive-ui-figma-designer/src/ui/index.html
  packages/adaptive-ui-figma-designer/src/ui/index.ts
  packages/adaptive-ui-figma-designer/src/ui/tsconfig.json
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
  packages/adaptive-ui-figma-designer/src/ui/vite-env.d.ts
  packages/adaptive-ui-figma-designer/vite.config.js
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect, @falkicon

Renamed "recipes" to "applied design tokens" Mostly removed the use of the word "recipe" Some TypeScript and doc cleanup
  .vscode/settings.json
  packages/adaptive-ui-figma-designer/README.md
  packages/adaptive-ui-figma-designer/src/core/controller.ts
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/core/registry/design-token-registry.ts
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/core/serialization.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/components/design-token-add/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/design-token-field/index.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect, @falkicon

Update deps
  package-lock.json
  packages/adaptive-ui-figma-designer/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Updated to new Adaptive UI token metadata structure
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/registry/custom-recipes.ts
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/components/design-token-field/index.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
  packages/adaptive-ui/api-extractor.json
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/adaptive-design-tokens.ts
  packages/adaptive-ui/src/design-tokens/appearance.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/create.ts
  packages/adaptive-ui/src/design-tokens/layer.ts
  packages/adaptive-ui/src/design-tokens/palette.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-a60b3971-8218-4788-b9b9-d48427a1d714.json
  change/@adaptive-web-adaptive-web-components-0de227a5-8642-4ff7-8be1-3a4c931395b5.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-ba8a6af0-5af1-4d19-86b7-69f3948f435f.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Update auto-assign version (#75)
  .github/workflows/auto-assign.yml
Owners: @awentzel, @EisenbergEffect

Add start and end icon args in Storybook
  packages/adaptive-web-components/src/components/accordion-item/accordion-item.stories.ts
  packages/adaptive-web-components/src/components/anchor/anchor.stories.ts
  packages/adaptive-web-components/src/components/breadcrumb-item/breadcrumb-item.stories.ts
  packages/adaptive-web-components/src/components/button/button.stories.ts
  packages/adaptive-web-components/src/components/calendar/calendar.stories.ts
  packages/adaptive-web-components/src/components/combobox/combobox.stories.ts
  packages/adaptive-web-components/src/components/disclosure/disclosure.stories.ts
  packages/adaptive-web-components/src/components/horizontal-scroll/horizontal-scroll.stories.ts
  packages/adaptive-web-components/src/components/listbox-option/listbox-option.stories.ts
  packages/adaptive-web-components/src/components/menu-item/menu-item.stories.ts
  packages/adaptive-web-components/src/components/number-field/number-field.stories.ts
  packages/adaptive-web-components/src/components/search/search.stories.ts
  packages/adaptive-web-components/src/components/select/select.stories.ts
  packages/adaptive-web-components/src/components/tab/tab.stories.ts
  packages/adaptive-web-components/src/components/tabs/tabs.stories.ts
  packages/adaptive-web-components/src/components/text-field/text-field.stories.ts
  packages/adaptive-web-components/src/components/toolbar/toolbar.stories.ts
  packages/adaptive-web-components/src/components/tree-item/tree-item.stories.ts
  packages/adaptive-web-components/src/utilities/storybook-helpers.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-web-components-fbf08eea-b93b-422c-a4f3-d9101f79d07c.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Add start and end icon args in Storybook (#92)
  change/@adaptive-web-adaptive-web-components-fbf08eea-b93b-422c-a4f3-d9101f79d07c.json
  packages/adaptive-web-components/src/components/accordion-item/accordion-item.stories.ts
  packages/adaptive-web-components/src/components/anchor/anchor.stories.ts
  packages/adaptive-web-components/src/components/breadcrumb-item/breadcrumb-item.stories.ts
  packages/adaptive-web-components/src/components/button/button.stories.ts
  packages/adaptive-web-components/src/components/calendar/calendar.stories.ts
  packages/adaptive-web-components/src/components/combobox/combobox.stories.ts
  packages/adaptive-web-components/src/components/disclosure/disclosure.stories.ts
  packages/adaptive-web-components/src/components/horizontal-scroll/horizontal-scroll.stories.ts
  packages/adaptive-web-components/src/components/listbox-option/listbox-option.stories.ts
  packages/adaptive-web-components/src/components/menu-item/menu-item.stories.ts
  packages/adaptive-web-components/src/components/number-field/number-field.stories.ts
  packages/adaptive-web-components/src/components/search/search.stories.ts
  packages/adaptive-web-components/src/components/select/select.stories.ts
  packages/adaptive-web-components/src/components/tab/tab.stories.ts
  packages/adaptive-web-components/src/components/tabs/tabs.stories.ts
  packages/adaptive-web-components/src/components/text-field/text-field.stories.ts
  packages/adaptive-web-components/src/components/toolbar/toolbar.stories.ts
  packages/adaptive-web-components/src/components/tree-item/tree-item.stories.ts
  packages/adaptive-web-components/src/utilities/storybook-helpers.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-bd4704e0-87b4-4562-9e96-45f99f7149e1.json
  change/@adaptive-web-adaptive-web-components-6766160a-3acc-41ee-b641-e512bebcd1d6.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer token model update - Aligned plugin to new model where a token might have multiple uses - Aligned token registration - Cleanup of some component handling logic - More comments
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/core/registry/custom-recipes.ts
  packages/adaptive-ui-figma-designer/src/core/registry/design-token-registry.ts
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/controller.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/layer.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-7ad90905-59f2-4fc5-9466-accf27e11c77.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer token model update (#94)
  change/@adaptive-web-adaptive-ui-7ad90905-59f2-4fc5-9466-accf27e11c77.json
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/core/registry/custom-recipes.ts
  packages/adaptive-ui-figma-designer/src/core/registry/design-token-registry.ts
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/controller.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/layer.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

publish packages
  change/@adaptive-web-adaptive-ui-0a6575e7-51d9-40de-8047-dae15516957c.json
  change/@adaptive-web-adaptive-ui-0e25b2fa-fbfd-400a-aeb2-0b107b41be45.json
  change/@adaptive-web-adaptive-ui-4e972827-718f-45be-b101-e9d54bf6899b.json
  change/@adaptive-web-adaptive-ui-56e70be2-b8c2-42a4-93e2-f9bf15dfa4b4.json
  change/@adaptive-web-adaptive-ui-5853f7b5-40b8-44f3-940d-399362cceae9.json
  change/@adaptive-web-adaptive-ui-5c23ca46-af72-4a7c-88fd-ccefcc81bd59.json
  change/@adaptive-web-adaptive-ui-68e8e03e-6a83-4f42-acfd-d32ac1791795.json
  change/@adaptive-web-adaptive-ui-7ad90905-59f2-4fc5-9466-accf27e11c77.json
  change/@adaptive-web-adaptive-ui-8ba7e929-6e65-43aa-b8f8-2a29af929af9.json
  change/@adaptive-web-adaptive-ui-a60b3971-8218-4788-b9b9-d48427a1d714.json
  change/@adaptive-web-adaptive-ui-a8bde1d7-75ff-4a7b-a73c-58c3b8777683.json
  change/@adaptive-web-adaptive-ui-ba8a6af0-5af1-4d19-86b7-69f3948f435f.json
  change/@adaptive-web-adaptive-ui-bd4704e0-87b4-4562-9e96-45f99f7149e1.json
  change/@adaptive-web-adaptive-ui-d459eac4-9359-495a-94b6-db1b9e726274.json
  change/@adaptive-web-adaptive-ui-e3b4242c-efae-4f45-987b-c4f47d96dc75.json
  change/@adaptive-web-adaptive-ui-f0fd0cb6-8f91-4965-ab74-e15faa0b4a19.json
  change/@adaptive-web-adaptive-web-components-0de227a5-8642-4ff7-8be1-3a4c931395b5.json
  change/@adaptive-web-adaptive-web-components-45ec4d64-27db-48f6-b201-997549877931.json
  change/@adaptive-web-adaptive-web-components-578c06ad-4e1e-4d6e-a522-e0a5aa54fe58.json
  change/@adaptive-web-adaptive-web-components-5aa394e6-8f7e-448f-bd0b-1de4f7e575f2.json
  change/@adaptive-web-adaptive-web-components-6766160a-3acc-41ee-b641-e512bebcd1d6.json
  change/@adaptive-web-adaptive-web-components-6e52aa65-2d1f-4d70-a1a3-458236ea36aa.json
  change/@adaptive-web-adaptive-web-components-8b329238-ae80-44fe-93f1-26f5993770dc.json
  change/@adaptive-web-adaptive-web-components-9c8db456-1c6f-4206-bb3a-8839633fc09b.json
  change/@adaptive-web-adaptive-web-components-a8642f8b-05e2-4473-9350-7c341a39adb0.json
  change/@adaptive-web-adaptive-web-components-ca691012-4ca5-4f72-ae9e-ce28f0d7e6b6.json
  change/@adaptive-web-adaptive-web-components-e5498ff0-2dad-4771-8726-a873b912dd26.json
  change/@adaptive-web-adaptive-web-components-ee19d797-05d2-4aee-853f-3c06bfff0cd4.json
  change/@adaptive-web-adaptive-web-components-fbf08eea-b93b-422c-a4f3-d9101f79d07c.json
  examples/customize-component/package.json
  examples/use-adaptive-components/package.json
  package-lock.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui/CHANGELOG.json
  packages/adaptive-ui/CHANGELOG.md
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/CHANGELOG.json
  packages/adaptive-web-components/CHANGELOG.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer: Separate effective applied tokens
  packages/adaptive-ui-figma-designer/src/core/controller.ts
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/serialization.ts
  packages/adaptive-ui-figma-designer/src/figma/controller.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

fix indentation
  .vscode/settings.json
  examples/customize-component/package.json
  examples/use-adaptive-components/package.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer: Separate effective applied tokens (#98)
  packages/adaptive-ui-figma-designer/src/core/controller.ts
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/serialization.ts
  packages/adaptive-ui-figma-designer/src/figma/controller.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Updated style modules to keep a registry by name
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/modules/styles.ts
  packages/adaptive-web-components/src/components/accordion-item/accordion-item.styles.modules.ts
  packages/adaptive-web-components/src/components/badge/badge.styles.modules.ts
  packages/adaptive-web-components/src/components/breadcrumb-item/breadcrumb-item.styles.modules.ts
  packages/adaptive-web-components/src/components/card/card.styles.modules.ts
  packages/adaptive-web-components/src/components/combobox/combobox.styles.modules.ts
  packages/adaptive-web-components/src/components/data-grid-cell/data-grid-cell.styles.modules.ts
  packages/adaptive-web-components/src/components/disclosure/disclosure.styles.modules.ts
  packages/adaptive-web-components/src/components/listbox/listbox.styles.modules.ts
  packages/adaptive-web-components/src/components/menu/menu.styles.modules.ts
  packages/adaptive-web-components/src/components/picker-menu/picker-menu.styles.modules.ts
  packages/adaptive-web-components/src/components/picker/picker.styles.modules.ts
  packages/adaptive-web-components/src/components/search/search.styles.modules.ts
  packages/adaptive-web-components/src/components/select/select.styles.modules.ts
  packages/adaptive-web-components/src/components/tab-panel/tab-panel.styles.modules.ts
  packages/adaptive-web-components/src/components/tooltip/tooltip.styles.modules.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Designer: add style module support
  packages/adaptive-ui-explorer/src/components/style-example.ts
  packages/adaptive-ui-figma-designer/src/core/controller.ts
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/core/serialization.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/modules/styles.ts
Owners: @EisenbergEffect, @bheston, @awentzel, @KingOfTac

Change files
  change/@adaptive-web-adaptive-ui-5a8c14e6-76e1-4b14-b0a1-5be5bd4ab774.json
  change/@adaptive-web-adaptive-web-components-4f880444-6134-4422-8d95-fad857235e9d.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Update package lock file
  package-lock.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Update package lock file (#101)
  package-lock.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

move tokens to their own export path
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/index.ts
Owners: @EisenbergEffect, @bheston

Change files
  change/@adaptive-web-adaptive-ui-8a48860c-63f3-40e8-9c8b-054be37f8224.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer: add style module support (#100)
  change/@adaptive-web-adaptive-ui-5a8c14e6-76e1-4b14-b0a1-5be5bd4ab774.json
  change/@adaptive-web-adaptive-web-components-4f880444-6134-4422-8d95-fad857235e9d.json
  packages/adaptive-ui-explorer/src/components/style-example.ts
  packages/adaptive-ui-figma-designer/src/core/controller.ts
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/core/serialization.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/modules/styles.ts
  packages/adaptive-web-components/src/components/accordion-item/accordion-item.styles.modules.ts
  packages/adaptive-web-components/src/components/badge/badge.styles.modules.ts
  packages/adaptive-web-components/src/components/breadcrumb-item/breadcrumb-item.styles.modules.ts
  packages/adaptive-web-components/src/components/card/card.styles.modules.ts
  packages/adaptive-web-components/src/components/combobox/combobox.styles.modules.ts
  packages/adaptive-web-components/src/components/data-grid-cell/data-grid-cell.styles.modules.ts
  packages/adaptive-web-components/src/components/disclosure/disclosure.styles.modules.ts
  packages/adaptive-web-components/src/components/listbox/listbox.styles.modules.ts
  packages/adaptive-web-components/src/components/menu/menu.styles.modules.ts
  packages/adaptive-web-components/src/components/picker-menu/picker-menu.styles.modules.ts
  packages/adaptive-web-components/src/components/picker/picker.styles.modules.ts
  packages/adaptive-web-components/src/components/search/search.styles.modules.ts
  packages/adaptive-web-components/src/components/select/select.styles.modules.ts
  packages/adaptive-web-components/src/components/tab-panel/tab-panel.styles.modules.ts
  packages/adaptive-web-components/src/components/tooltip/tooltip.styles.modules.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Update compound properties (padding, border, etc.)
  examples/customize-component/src/index.ts
  package-lock.json
  packages/adaptive-ui-explorer/src/components/style-example.ts
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui-figma-designer/src/core/registry/custom-recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/appearance.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/modules/css.ts
  packages/adaptive-ui/src/modules/styles.ts
  packages/adaptive-ui/src/modules/types.ts
  packages/adaptive-web-components/src/components/listbox/listbox.styles.modules.ts
  packages/adaptive-web-components/src/components/tooltip/tooltip.styles.modules.ts
Owners: @bheston, @KingOfTac, @awentzel, @EisenbergEffect

Updated more component styles to use new properties modules
  packages/adaptive-web-components/src/components/accordion-item/accordion-item.styles.modules.ts
  packages/adaptive-web-components/src/components/accordion-item/accordion-item.styles.ts
  packages/adaptive-web-components/src/components/accordion/accordion.styles.modules.ts
  packages/adaptive-web-components/src/components/accordion/accordion.styles.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.styles.modules.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.styles.ts
  packages/adaptive-web-components/src/components/divider/divider.styles.modules.ts
  packages/adaptive-web-components/src/components/divider/divider.styles.ts
  packages/adaptive-web-components/src/components/progress/progress.styles.modules.ts
  packages/adaptive-web-components/src/components/progress/progress.styles.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-ui-9cf489bb-f08c-4dbd-ab63-c0fc340423d2.json
  change/@adaptive-web-adaptive-web-components-9feaf463-744b-48f4-ac29-48a76f7c3144.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Update compound properties (padding, border, etc.) (#102)
  change/@adaptive-web-adaptive-ui-9cf489bb-f08c-4dbd-ab63-c0fc340423d2.json
  change/@adaptive-web-adaptive-web-components-9feaf463-744b-48f4-ac29-48a76f7c3144.json
  examples/customize-component/src/index.ts
  package-lock.json
  packages/adaptive-ui-explorer/src/components/style-example.ts
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui-figma-designer/src/core/registry/custom-recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/appearance.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/modules/css.ts
  packages/adaptive-ui/src/modules/styles.ts
  packages/adaptive-ui/src/modules/types.ts
  packages/adaptive-web-components/src/components/accordion-item/accordion-item.styles.modules.ts
  packages/adaptive-web-components/src/components/accordion-item/accordion-item.styles.ts
  packages/adaptive-web-components/src/components/accordion/accordion.styles.modules.ts
  packages/adaptive-web-components/src/components/accordion/accordion.styles.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.styles.modules.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.styles.ts
  packages/adaptive-web-components/src/components/divider/divider.styles.modules.ts
  packages/adaptive-web-components/src/components/divider/divider.styles.ts
  packages/adaptive-web-components/src/components/listbox/listbox.styles.modules.ts
  packages/adaptive-web-components/src/components/progress/progress.styles.modules.ts
  packages/adaptive-web-components/src/components/progress/progress.styles.ts
  packages/adaptive-web-components/src/components/tooltip/tooltip.styles.modules.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Update styles to normalize to `border-box` sizing
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/styles.ts
  packages/adaptive-web-components/src/components/anchor/anchor.styles.ts
  packages/adaptive-web-components/src/components/avatar/avatar.styles.ts
  packages/adaptive-web-components/src/components/breadcrumb-item/breadcrumb-item.styles.ts
  packages/adaptive-web-components/src/components/button/button.styles.ts
  packages/adaptive-web-components/src/components/card/card.styles.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.styles.ts
  packages/adaptive-web-components/src/components/combobox/combobox.styles.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.styles.ts
  packages/adaptive-web-components/src/components/divider/divider.styles.ts
  packages/adaptive-web-components/src/components/listbox-option/listbox-option.styles.ts
  packages/adaptive-web-components/src/components/listbox/listbox.styles.ts
  packages/adaptive-web-components/src/components/menu-item/menu-item.styles.ts
  packages/adaptive-web-components/src/components/number-field/number-field.styles.ts
  packages/adaptive-web-components/src/components/picker-list-item/picker-list-item.styles.ts
  packages/adaptive-web-components/src/components/picker-list/picker-list.styles.ts
  packages/adaptive-web-components/src/components/picker-menu-option/picker-menu-option.styles.ts
  packages/adaptive-web-components/src/components/picker-menu/picker-menu.styles.ts
  packages/adaptive-web-components/src/components/radio/radio.styles.ts
  packages/adaptive-web-components/src/components/search/search.styles.ts
  packages/adaptive-web-components/src/components/select/select.styles.ts
  packages/adaptive-web-components/src/components/switch/switch.styles.ts
  packages/adaptive-web-components/src/components/tab/tab.styles.ts
  packages/adaptive-web-components/src/components/text-area/text-area.styles.ts
  packages/adaptive-web-components/src/components/text-field/text-field.styles.ts
  packages/adaptive-web-components/src/components/tooltip/tooltip.styles.ts
  packages/adaptive-web-components/src/components/tree-item/tree-item.styles.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-ui-c5541eb5-a043-4841-9783-4f449af6f27d.json
  change/@adaptive-web-adaptive-web-components-29c191a0-f10e-4247-83e5-59a516148022.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Update styles to normalize to `border-box` sizing (#103)
  change/@adaptive-web-adaptive-ui-c5541eb5-a043-4841-9783-4f449af6f27d.json
  change/@adaptive-web-adaptive-web-components-29c191a0-f10e-4247-83e5-59a516148022.json
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/styles.ts
  packages/adaptive-web-components/src/components/anchor/anchor.styles.ts
  packages/adaptive-web-components/src/components/avatar/avatar.styles.ts
  packages/adaptive-web-components/src/components/breadcrumb-item/breadcrumb-item.styles.ts
  packages/adaptive-web-components/src/components/button/button.styles.ts
  packages/adaptive-web-components/src/components/card/card.styles.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.styles.ts
  packages/adaptive-web-components/src/components/combobox/combobox.styles.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.styles.ts
  packages/adaptive-web-components/src/components/divider/divider.styles.ts
  packages/adaptive-web-components/src/components/listbox-option/listbox-option.styles.ts
  packages/adaptive-web-components/src/components/listbox/listbox.styles.ts
  packages/adaptive-web-components/src/components/menu-item/menu-item.styles.ts
  packages/adaptive-web-components/src/components/number-field/number-field.styles.ts
  packages/adaptive-web-components/src/components/picker-list-item/picker-list-item.styles.ts
  packages/adaptive-web-components/src/components/picker-list/picker-list.styles.ts
  packages/adaptive-web-components/src/components/picker-menu-option/picker-menu-option.styles.ts
  packages/adaptive-web-components/src/components/picker-menu/picker-menu.styles.ts
  packages/adaptive-web-components/src/components/radio/radio.styles.ts
  packages/adaptive-web-components/src/components/search/search.styles.ts
  packages/adaptive-web-components/src/components/select/select.styles.ts
  packages/adaptive-web-components/src/components/switch/switch.styles.ts
  packages/adaptive-web-components/src/components/tab/tab.styles.ts
  packages/adaptive-web-components/src/components/text-area/text-area.styles.ts
  packages/adaptive-web-components/src/components/text-field/text-field.styles.ts
  packages/adaptive-web-components/src/components/tooltip/tooltip.styles.ts
  packages/adaptive-web-components/src/components/tree-item/tree-item.styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect
