Repository Adaptive-Web-Community/Adaptive-Web-Components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect, @falkicon

working
  packages/adaptive-web-components/src/components/patient-search/patient-search.options.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.stories.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.template.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Designer: Updated style value model to support fixed values (#116)
  packages/adaptive-ui-figma-designer/src/core/controller.ts
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/core/serialization.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

working
  packages/adaptive-web-components/src/components/patient-search/patient-search.options.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.stories.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.styles.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.template.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.ts
  packages/adaptive-web-components/src/components/patient-search/strings.en.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

working
  packages/adaptive-web-components/src/components/patient-search/patient-search.options.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.styles.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.template.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.ts
  packages/adaptive-web-components/src/components/patient-search/strings.en.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

sorting
  packages/adaptive-web-components/src/components/patient-list/patient-list.template.ts
  packages/adaptive-web-components/src/components/patient-list/patient-list.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

sort invert
  packages/adaptive-web-components/src/components/patient-list/patient-list.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

column header
  packages/adaptive-web-components/src/components/index.ts
  packages/adaptive-web-components/src/components/patient-list/index.ts
  packages/adaptive-web-components/src/components/patient-list/patient-list.template.ts
  packages/adaptive-web-components/src/components/patient-list/patient-list.ts
  packages/adaptive-web-components/src/components/sortable-column/index.ts
  packages/adaptive-web-components/src/components/sortable-column/sortable-column-header.compose.ts
  packages/adaptive-web-components/src/components/sortable-column/sortable-column-header.definition.ts
  packages/adaptive-web-components/src/components/sortable-column/sortable-column-header.styles.modules.ts
  packages/adaptive-web-components/src/components/sortable-column/sortable-column-header.styles.ts
  packages/adaptive-web-components/src/components/sortable-column/sortable-column-header.template.ts
  packages/adaptive-web-components/src/components/sortable-column/sortable-column-header.ts
  packages/adaptive-web-components/src/components/sortable-column/sortable-column.context.ts
  packages/adaptive-web-components/src/custom-elements.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

col header
  packages/adaptive-web-components/src/components/patient-list/patient-list.template.ts
  packages/adaptive-web-components/src/components/patient-list/patient-list.ts
  packages/adaptive-web-components/src/components/sortable-column/sortable-column-header.styles.ts
  packages/adaptive-web-components/src/components/sortable-column/sortable-column-header.template.ts
  packages/adaptive-web-components/src/components/sortable-column/sortable-column-header.ts
  packages/adaptive-web-components/src/components/sortable-column/sortable-column.context.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

tweak
  packages/adaptive-web-components/src/components/patient-list/patient-list.template.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

enable prefix changing for composed definitions
  package-lock.json
  packages/adaptive-web-components/docs/api-report.md
  packages/adaptive-web-components/src/design-system.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-web-components-26b9e0a6-29cf-4aaf-b82d-0e59321ea5ba.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

feat: enable prefix changing for composed definitions through the `DesignSystem` interface (#117)
  change/@adaptive-web-adaptive-web-components-26b9e0a6-29cf-4aaf-b82d-0e59321ea5ba.json
  package-lock.json
  packages/adaptive-web-components/docs/api-report.md
  packages/adaptive-web-components/src/design-system.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

fix the publish workflow
  .github/workflows/publish-packages.yml
Owners: @awentzel, @EisenbergEffect

add secrets for git and npm auth
  .github/workflows/publish-packages.yml
Owners: @awentzel, @EisenbergEffect

fix: fix the publish workflow failing to publish (#120)
  .github/workflows/publish-packages.yml
Owners: @awentzel, @EisenbergEffect

testing config tweaks
  .github/workflows/publish-packages.yml
Owners: @awentzel, @EisenbergEffect

adjustments to runner config and token variable
  .github/workflows/publish-packages.yml
Owners: @awentzel, @EisenbergEffect

fix: testing new ci config for publishing (#121)
  .github/workflows/publish-packages.yml
Owners: @awentzel, @EisenbergEffect

applying package updates
  change/@adaptive-web-adaptive-web-components-26b9e0a6-29cf-4aaf-b82d-0e59321ea5ba.json
  examples/customize-component/package.json
  examples/use-adaptive-components/package.json
  package-lock.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-web-components/CHANGELOG.json
  packages/adaptive-web-components/CHANGELOG.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

change step order and change engine version
  .github/workflows/publish-packages.yml
Owners: @awentzel, @EisenbergEffect

manual version bump from failed ci run
  change/@adaptive-web-adaptive-web-components-26b9e0a6-29cf-4aaf-b82d-0e59321ea5ba.json
  examples/customize-component/package.json
  examples/use-adaptive-components/package.json
  package-lock.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-web-components/CHANGELOG.json
  packages/adaptive-web-components/CHANGELOG.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

select control width
  packages/adaptive-web-components/src/components/select/select.styles.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-web-components-c04ae354-a56c-4f7d-9083-4b10f9b7d4cb.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

fix: select inner control width (#124)
  change/@adaptive-web-adaptive-web-components-c04ae354-a56c-4f7d-9083-4b10f9b7d4cb.json
  packages/adaptive-web-components/src/components/select/select.styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

manual version bump from failed ci run (#123)
  change/@adaptive-web-adaptive-web-components-26b9e0a6-29cf-4aaf-b82d-0e59321ea5ba.json
  examples/customize-component/package.json
  examples/use-adaptive-components/package.json
  package-lock.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-web-components/CHANGELOG.json
  packages/adaptive-web-components/CHANGELOG.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

change step order and change engine version (#122)
  .github/workflows/publish-packages.yml
Owners: @awentzel, @EisenbergEffect

working on new model for default components
  packages/adaptive-web-components/src/components/checkbox/checkbox.compose.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.definition.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

resize
  change/@adaptive-web-adaptive-web-components-f7feeb4e-447d-44bc-afae-280f0e7eb583.json
  packages/adaptive-web-components/src/components/number-field/number-field.styles.ts
  packages/adaptive-web-components/src/components/text-field/text-field.styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

resize (#126)
  change/@adaptive-web-adaptive-web-components-f7feeb4e-447d-44bc-afae-280f0e7eb583.json
  packages/adaptive-web-components/src/components/number-field/number-field.styles.ts
  packages/adaptive-web-components/src/components/text-field/text-field.styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

picker styles
  packages/adaptive-web-components/src/components/picker-list/picker-list.styles.modules.ts
  packages/adaptive-web-components/src/components/picker-list/picker-list.styles.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-web-components-0de560ad-b55b-48a1-b602-f7e4436daebe.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

move styles
  packages/adaptive-web-components/src/components/picker-list/picker-list.styles.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

fix: picker gets taller when items selected (#127)
  change/@adaptive-web-adaptive-web-components-0de560ad-b55b-48a1-b602-f7e4436daebe.json
  packages/adaptive-web-components/src/components/picker-list/picker-list.styles.modules.ts
  packages/adaptive-web-components/src/components/picker-list/picker-list.styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer: Added missing highlight color
  package-lock.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-web-components/docs/api-report.md
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-web-components-c7bec1ba-d56a-48f6-83b6-398ec204dc0a.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

fix sticky header styles
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.styles.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-web-components-a02b023a-6d04-4b29-be99-fa4c1b31c347.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer: Added missing highlight color (#128)
  change/@adaptive-web-adaptive-web-components-c7bec1ba-d56a-48f6-83b6-398ec204dc0a.json
  package-lock.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-web-components/docs/api-report.md
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Adaptive UI - Improve density support
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
  packages/adaptive-ui/src/density/index.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-aba7bf21-ab6e-4125-afe4-e3217c1a28c3.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

.github/CODEOWNERS:

# Approval for at least one *code owner* is required all packages.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more *code owners*.
# The last matching pattern has the most precendence.

# These *code owners* will be the default owners for everything in the repository.
* @awentzel @bheston @KingOfTac @EisenbergEffect

# File type specific owners
# Markdown specific files
*.md @awentzel @bheston @falkicon @EisenbergEffect
/docs/ @awentzel @bheston @falkicon @EisenbergEffect

# GitHub management
.github/ @awentzel @EisenbergEffect
.github/workflows/ @awentzel @EisenbergEffect

# Build scripts
*.yml @awentzel @EisenbergEffect
build/ @awentzel @EisenbergEffect

# Package specific owners
# Examples
/examples/ @bheston @KingOfTac

# Tooling

# Utilities

# Web components
/packages/adaptive-ui/ @EisenbergEffect @bheston
/packages/adaptive-ui-explorer/ @EisenbergEffect @bheston
/packages/adaptive-web-components/ @EisenbergEffect @bheston @KingOfTac
