Repository Adaptive-Web-Community/Adaptive-Web-Components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

.github/CODEOWNERS:

# Approval for at least one *code owner* is required all packages.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more *code owners*.
# The last matching pattern has the most precendence.

# These *code owners* will be the default owners for everything in the repository.
* @awentzel @bheston @KingOfTac @nicholasrice

# File type specific owners
# Markdown specific files
*.md @awentzel @bheston @nicholasrice
/docs/ @awentzel @bheston @nicholasrice

# GitHub management
.github/ @awentzel @nicholasrice @KingOfTac
.github/workflows/ @awentzel @nicholasrice @KingOfTac

# Build scripts
*.yml @awentzel @nicholasrice @KingOfTac
build/ @awentzel @nicholasrice @KingOfTac

# Package specific owners
# Examples
/examples/ @bheston @KingOfTac @nicholasrice

# Tooling

# Utilities

# Web components
/packages/adaptive-ui/ @nicholasrice @bheston
/packages/adaptive-ui-explorer/ @nicholasrice @bheston
/packages/adaptive-web-components/ @nicholasrice @bheston @KingOfTac

Add subtle inverse recipes to Designer plugin
  packages/adaptive-ui-designer-core/src/registry/recipes.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Fix string comparison casing issues
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-code.ts
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-designer-core-289da1f2-dd15-46e7-b788-14bff1e6223a.json
  change/@adaptive-web-adaptive-ui-designer-figma-4e1269e6-8c1d-48af-8d6e-6e1d944d1ebf.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Add subtle inverse recipes to Designer plugin (#251)
  change/@adaptive-web-adaptive-ui-designer-core-289da1f2-dd15-46e7-b788-14bff1e6223a.json
  change/@adaptive-web-adaptive-ui-designer-figma-4e1269e6-8c1d-48af-8d6e-6e1d944d1ebf.json
  packages/adaptive-ui-designer-core/src/registry/recipes.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-code.ts
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Create dependabot.yml
  .github/dependabot.yml
Owners: @awentzel, @nicholasrice, @KingOfTac

Update package lock file
  package-lock.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Delete .github/dependabot.yml
  .github/dependabot.yml
Owners: @awentzel, @nicholasrice, @KingOfTac

Update package lock file (#258)
  package-lock.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Add full tests for Color and Swatch classes
  packages/adaptive-ui/src/core/color/color.spec.ts
  packages/adaptive-ui/src/core/color/swatch.spec.ts
Owners: @nicholasrice, @bheston

Change files
  change/@adaptive-web-adaptive-ui-e17e5bd7-2c91-4d33-a2cf-7554ac72eb6a.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Add full tests for Color and Swatch classes (#259)
  change/@adaptive-web-adaptive-ui-e17e5bd7-2c91-4d33-a2cf-7554ac72eb6a.json
  packages/adaptive-ui/src/core/color/color.spec.ts
  packages/adaptive-ui/src/core/color/swatch.spec.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-65457e29-816e-41a0-b84d-d5eb76b92e78.json
  change/@adaptive-web-adaptive-web-components-f26fdf42-e841-46c7-bcf2-927d4a453ab2.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Add gradient recipes
  package-lock.json
  packages/adaptive-ui-designer-core/src/registry/recipes.ts
  packages/adaptive-ui-designer-figma-plugin/package.json
  packages/adaptive-ui-designer-figma-plugin/src/figma/gradient.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/utility.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-elements.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/color/color.ts
  packages/adaptive-ui/src/core/color/gradient.spec.ts
  packages/adaptive-ui/src/core/color/gradient.ts
  packages/adaptive-ui/src/core/color/index.ts
  packages/adaptive-ui/src/core/color/paint.ts
  packages/adaptive-ui/src/core/color/recipes/hue-shift-gradient.ts
  packages/adaptive-ui/src/core/color/recipes/index.ts
  packages/adaptive-ui/src/core/color/recipes/two-palette-gradient.ts
  packages/adaptive-ui/src/core/modules/css.ts
  packages/adaptive-ui/src/core/types.ts
  packages/adaptive-ui/src/reference/experimental.ts
  packages/adaptive-ui/src/reference/index.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Fix doc comment
  packages/adaptive-ui/src/core/shadow/index.ts
  packages/adaptive-ui/src/core/token-helpers-color.ts
  packages/adaptive-ui/src/core/token-helpers.ts
Owners: @nicholasrice, @bheston

Style definition cleanup
  packages/adaptive-ui/src/core/modules/styles.ts
  packages/adaptive-ui/src/reference/modules.ts
  packages/adaptive-ui/src/reference/util.ts
Owners: @nicholasrice, @bheston

Change files
  change/@adaptive-web-adaptive-ui-designer-core-24f1f38c-f5db-496d-9543-e3c36a258a89.json
  change/@adaptive-web-adaptive-ui-f6c9b518-1e77-49ab-b7ad-6b634ac0189c.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Fix jsdom
  packages/adaptive-ui/.mocha-jsdom.js
  packages/adaptive-ui/.mocharc.json
Owners: @nicholasrice, @bheston

Add gradient recipes (#262)
  change/@adaptive-web-adaptive-ui-designer-core-24f1f38c-f5db-496d-9543-e3c36a258a89.json
  change/@adaptive-web-adaptive-ui-f6c9b518-1e77-49ab-b7ad-6b634ac0189c.json
  package-lock.json
  packages/adaptive-ui-designer-core/src/registry/recipes.ts
  packages/adaptive-ui-designer-figma-plugin/package.json
  packages/adaptive-ui-designer-figma-plugin/src/figma/gradient.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/utility.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-elements.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui/.mocha-jsdom.js
  packages/adaptive-ui/.mocharc.json
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/color/color.ts
  packages/adaptive-ui/src/core/color/gradient.spec.ts
  packages/adaptive-ui/src/core/color/gradient.ts
  packages/adaptive-ui/src/core/color/index.ts
  packages/adaptive-ui/src/core/color/paint.ts
  packages/adaptive-ui/src/core/color/recipes/hue-shift-gradient.ts
  packages/adaptive-ui/src/core/color/recipes/index.ts
  packages/adaptive-ui/src/core/color/recipes/two-palette-gradient.ts
  packages/adaptive-ui/src/core/modules/css.ts
  packages/adaptive-ui/src/core/modules/styles.ts
  packages/adaptive-ui/src/core/shadow/index.ts
  packages/adaptive-ui/src/core/token-helpers-color.ts
  packages/adaptive-ui/src/core/token-helpers.ts
  packages/adaptive-ui/src/core/types.ts
  packages/adaptive-ui/src/reference/experimental.ts
  packages/adaptive-ui/src/reference/index.ts
  packages/adaptive-ui/src/reference/modules.ts
  packages/adaptive-ui/src/reference/util.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Performance setting default update
  packages/adaptive-ui-designer-figma-plugin/src/figma/controller.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/main.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/app.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Fix a style generation bug on placement of state selector
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/bin/aui.ts
  packages/adaptive-ui/src/core/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/core/modules/types.ts
Owners: @nicholasrice, @bheston

Change files
  change/@adaptive-web-adaptive-ui-296ddcb4-ce1d-4ec7-80b5-106cc55a112b.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

AUI state bug fix (#263)
  change/@adaptive-web-adaptive-ui-296ddcb4-ce1d-4ec7-80b5-106cc55a112b.json
  packages/adaptive-ui-designer-figma-plugin/src/figma/controller.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/main.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/app.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/bin/aui.ts
  packages/adaptive-ui/src/core/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/core/modules/types.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Rename fillColor to colorContext
  examples/use-adaptive-components/src/index.ts
  packages/adaptive-ui-designer-core/src/registry/recipes.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-elements.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui-explorer/src/components/layer-background/index.ts
  packages/adaptive-ui-explorer/src/components/style-example.ts
  packages/adaptive-ui-explorer/src/components/swatch.ts
  packages/adaptive-ui-explorer/src/sample/sample-app/sample-app.styles.ts
  packages/adaptive-ui/src/core/color/recipe.ts
  packages/adaptive-ui/src/migration/color.ts
  packages/adaptive-ui/src/reference/color.ts
  packages/adaptive-ui/src/reference/experimental.ts
  packages/adaptive-ui/src/reference/layer.ts
  packages/adaptive-ui/src/reference/modules.ts
  packages/adaptive-web-components/src/components/calendar/calendar.styles.ts
Owners: @bheston, @KingOfTac, @nicholasrice, @awentzel

Change files
  change/@adaptive-web-adaptive-ui-8c8f6c84-57c3-4d8e-a436-454ac2f76be4.json
  change/@adaptive-web-adaptive-ui-designer-core-7ccbfed0-3249-4681-b5c3-120ea4aa80a0.json
  change/@adaptive-web-adaptive-web-components-80e4915e-6d95-4e32-a1da-f9c8524f5841.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Rename fillColor to colorContext (#265)
  change/@adaptive-web-adaptive-ui-8c8f6c84-57c3-4d8e-a436-454ac2f76be4.json
  change/@adaptive-web-adaptive-ui-designer-core-7ccbfed0-3249-4681-b5c3-120ea4aa80a0.json
  change/@adaptive-web-adaptive-web-components-80e4915e-6d95-4e32-a1da-f9c8524f5841.json
  examples/use-adaptive-components/src/index.ts
  packages/adaptive-ui-designer-core/src/registry/recipes.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-elements.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui-explorer/src/components/layer-background/index.ts
  packages/adaptive-ui-explorer/src/components/style-example.ts
  packages/adaptive-ui-explorer/src/components/swatch.ts
  packages/adaptive-ui-explorer/src/sample/sample-app/sample-app.styles.ts
  packages/adaptive-ui/src/core/color/recipe.ts
  packages/adaptive-ui/src/migration/color.ts
  packages/adaptive-ui/src/reference/color.ts
  packages/adaptive-ui/src/reference/experimental.ts
  packages/adaptive-ui/src/reference/layer.ts
  packages/adaptive-ui/src/reference/modules.ts
  packages/adaptive-web-components/src/components/calendar/calendar.styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Fix a couple of bugs in the Designer plugin
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/app.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Fix a couple of bugs in the Designer plugin (#266)
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/app.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Doc and dependency cleanup
  package-lock.json
  packages/adaptive-ui-designer-core/package.json
  packages/adaptive-ui-designer-core/src/controller.ts
  packages/adaptive-ui-designer-core/src/registry/design-token-registry.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/main.ts
  packages/adaptive-ui-designer-figma/src/cli/schema-validator.ts
  packages/adaptive-ui-designer-figma/src/lib/node-parser.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Improve tracking of applied plugin data
  packages/adaptive-ui-designer-core/src/index.ts
  packages/adaptive-ui-designer-core/src/model.ts
  packages/adaptive-ui-designer-core/src/node.ts
  packages/adaptive-ui-designer-core/src/serialization.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/plugin-data-resolver.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/utility.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-styles.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-tokens.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/util.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-designer-core-be44768f-8691-4d5f-a685-254d5d53400b.json
  change/@adaptive-web-adaptive-ui-designer-figma-7bed13ad-4844-42eb-9f20-6cd57e65a3c5.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Improve tracking of applied plugin data (#268)
  change/@adaptive-web-adaptive-ui-designer-core-be44768f-8691-4d5f-a685-254d5d53400b.json
  change/@adaptive-web-adaptive-ui-designer-figma-7bed13ad-4844-42eb-9f20-6cd57e65a3c5.json
  package-lock.json
  packages/adaptive-ui-designer-core/package.json
  packages/adaptive-ui-designer-core/src/controller.ts
  packages/adaptive-ui-designer-core/src/index.ts
  packages/adaptive-ui-designer-core/src/model.ts
  packages/adaptive-ui-designer-core/src/node.ts
  packages/adaptive-ui-designer-core/src/registry/design-token-registry.ts
  packages/adaptive-ui-designer-core/src/serialization.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/main.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/plugin-data-resolver.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/utility.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-styles.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-tokens.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/util.ts
  packages/adaptive-ui-designer-figma/src/cli/schema-validator.ts
  packages/adaptive-ui-designer-figma/src/lib/node-parser.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Update caniuse-lite version
  package-lock.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Update caniuse-lite version (#269)
  package-lock.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-designer-figma-6e2d675e-50db-4ca3-8a9d-973dfcd17294.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Put back code gen support for anatomy definition
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/utility.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/app.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-code.ts
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Put back code gen support for anatomy definition (#270)
  change/@adaptive-web-adaptive-ui-designer-figma-6e2d675e-50db-4ca3-8a9d-973dfcd17294.json
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/utility.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/app.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-code.ts
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Updated typography tokens into token group
  packages/adaptive-ui/src/core/typography/type-ramp.ts
  packages/adaptive-ui/src/reference/token-naming.ts
  packages/adaptive-ui/src/reference/type.ts
Owners: @nicholasrice, @bheston

Change files
  change/@adaptive-web-adaptive-ui-3122690b-44f1-452f-881c-e6f08186573d.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Updated typography tokens into token group (#271)
  change/@adaptive-web-adaptive-ui-3122690b-44f1-452f-881c-e6f08186573d.json
  packages/adaptive-ui/src/core/typography/type-ramp.ts
  packages/adaptive-ui/src/reference/token-naming.ts
  packages/adaptive-ui/src/reference/type.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Added support for generated type scale token values
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/component-type.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.template.ts
  packages/adaptive-ui-explorer/src/state.ts
  packages/adaptive-ui-explorer/src/typography/index.ts
  packages/adaptive-ui-explorer/src/typography/type-scale.ts
  packages/adaptive-ui-explorer/src/typography/typography.styles.ts
  packages/adaptive-ui-explorer/src/typography/typography.template.ts
  packages/adaptive-ui-explorer/src/typography/typography.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/index.ts
  packages/adaptive-ui/src/core/typography/index.ts
  packages/adaptive-ui/src/core/typography/type-ramp.ts
  packages/adaptive-ui/src/reference/type.ts
Owners: @nicholasrice, @bheston
