Repository Adaptive-Web-Community/Adaptive-Web-Components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect, @falkicon

.github/CODEOWNERS:

# Approval for at least one *code owner* is required all packages.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more *code owners*.
# The last matching pattern has the most precendence.

# These *code owners* will be the default owners for everything in the repository.
* @awentzel @bheston @KingOfTac @EisenbergEffect

# File type specific owners
# Markdown specific files
*.md @awentzel @bheston @falkicon @EisenbergEffect
/docs/ @awentzel @bheston @falkicon @EisenbergEffect

# GitHub management
.github/ @awentzel @EisenbergEffect
.github/workflows/ @awentzel @EisenbergEffect

# Build scripts
*.yml @awentzel @EisenbergEffect
build/ @awentzel @EisenbergEffect

# Package specific owners
# Examples
/examples/ @bheston @KingOfTac

# Tooling

# Utilities

# Web components
/packages/adaptive-ui/ @EisenbergEffect @bheston
/packages/adaptive-ui-explorer/ @EisenbergEffect @bheston
/packages/adaptive-web-components/ @EisenbergEffect @bheston @KingOfTac

Change files
  change/@adaptive-web-adaptive-ui-35ef2d2c-f17c-46e7-a514-14e7dfba627d.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer: Reorganize styles - Split styles into respective sections (color, text, etc.) - Rename "font" styles to "text" - Added simple rename handling temporarily
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-b0af08d9-8f2c-4968-89eb-f79d9c725b6c.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Renamed "destructive" palette to "critical"
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/design-tokens/palette.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Renamed "destructive" palette to "critical" (#143)
  change/@adaptive-web-adaptive-ui-b0af08d9-8f2c-4968-89eb-f79d9c725b6c.json
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/design-tokens/palette.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer: Reorganize styles (#145)
  change/@adaptive-web-adaptive-ui-35ef2d2c-f17c-46e7-a514-14e7dfba627d.json
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Small Adaptive UI and Designer fixes - Removed subtle stroke from subtle fill styles - Fixed border style handling - Added WCAG contrast token to Designer
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-styles.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/adaptive-design-tokens.ts
  packages/adaptive-ui/src/density/index.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-web-components/src/components/button/button.styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-e3098e7a-5d85-4d96-a94a-e749705ad9bf.json
  change/@adaptive-web-adaptive-web-components-ac53355b-9197-4617-a00d-9fa90edbb090.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Small Adaptive UI and Designer fixes (#147)
  change/@adaptive-web-adaptive-ui-e3098e7a-5d85-4d96-a94a-e749705ad9bf.json
  change/@adaptive-web-adaptive-web-components-ac53355b-9197-4617-a00d-9fa90edbb090.json
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-styles.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/adaptive-design-tokens.ts
  packages/adaptive-ui/src/density/index.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-web-components/src/components/button/button.styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-9016eb50-55d5-48a1-9dfc-eb50601c8f61.json
  change/@adaptive-web-adaptive-web-components-a8561622-586a-4f6c-af9f-4171cee09919.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer: Added remove support for styles and tokens
  packages/adaptive-ui-figma-designer/src/core/controller.ts
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-styles.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Import fix
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer: Added remove support for styles and tokens (#149)
  packages/adaptive-ui-figma-designer/src/core/controller.ts
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-styles.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-b1f99344-ba31-417c-a4d1-4670dded59c7.json
  change/@adaptive-web-adaptive-web-components-ef56e4a6-4179-40e6-92e5-39cced762d94.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Build fixes
  examples/customize-component/src/index.ts
  packages/adaptive-ui-figma-designer/src/core/registry/custom-recipes.ts
Owners: @bheston, @KingOfTac, @awentzel, @EisenbergEffect

Incorporate component anatomy interactivity config into global styles
  packages/adaptive-ui/src/modules/types.ts
  packages/adaptive-web-components/docs/api-report.md
  packages/adaptive-web-components/src/design-system.ts
  packages/adaptive-web-components/src/global.styles.modules.ts
  packages/adaptive-web-components/src/index.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

applying package updates
  change/@adaptive-web-adaptive-ui-225efc1f-77b4-4221-bde7-3e390f91e404.json
  change/@adaptive-web-adaptive-ui-34b70724-2f9f-46e6-a8e9-1d3bc0db656e.json
  change/@adaptive-web-adaptive-ui-35ef2d2c-f17c-46e7-a514-14e7dfba627d.json
  change/@adaptive-web-adaptive-ui-3eb0625b-478d-4cb3-8c51-0eede6dde439.json
  change/@adaptive-web-adaptive-ui-49a1a1c3-cb47-4350-a4e7-ed80ccaeb2eb.json
  change/@adaptive-web-adaptive-ui-4d6986b1-1304-429f-8b58-d77ed807b506.json
  change/@adaptive-web-adaptive-ui-5cbfb44a-0c65-4ea7-b11e-dfcca25a4960.json
  change/@adaptive-web-adaptive-ui-9016eb50-55d5-48a1-9dfc-eb50601c8f61.json
  change/@adaptive-web-adaptive-ui-aba7bf21-ab6e-4125-afe4-e3217c1a28c3.json
  change/@adaptive-web-adaptive-ui-aca7a0a4-d703-4df0-a6a7-31ea31149f18.json
  change/@adaptive-web-adaptive-ui-b0af08d9-8f2c-4968-89eb-f79d9c725b6c.json
  change/@adaptive-web-adaptive-ui-b1f99344-ba31-417c-a4d1-4670dded59c7.json
  change/@adaptive-web-adaptive-ui-e3098e7a-5d85-4d96-a94a-e749705ad9bf.json
  change/@adaptive-web-adaptive-ui-e9b55f15-87f7-421e-95fe-f4d0380e715e.json
  change/@adaptive-web-adaptive-web-components-0de560ad-b55b-48a1-b602-f7e4436daebe.json
  change/@adaptive-web-adaptive-web-components-468d3c54-91d7-4cfd-a287-6681ccd5f766.json
  change/@adaptive-web-adaptive-web-components-a02b023a-6d04-4b29-be99-fa4c1b31c347.json
  change/@adaptive-web-adaptive-web-components-a8561622-586a-4f6c-af9f-4171cee09919.json
  change/@adaptive-web-adaptive-web-components-ac53355b-9197-4617-a00d-9fa90edbb090.json
  change/@adaptive-web-adaptive-web-components-c04ae354-a56c-4f7d-9083-4b10f9b7d4cb.json
  change/@adaptive-web-adaptive-web-components-c7bec1ba-d56a-48f6-83b6-398ec204dc0a.json
  change/@adaptive-web-adaptive-web-components-ef56e4a6-4179-40e6-92e5-39cced762d94.json
  change/@adaptive-web-adaptive-web-components-f7feeb4e-447d-44bc-afae-280f0e7eb583.json
  examples/customize-component/package.json
  examples/use-adaptive-components/package.json
  package-lock.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui/CHANGELOG.json
  packages/adaptive-ui/CHANGELOG.md
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/CHANGELOG.json
  packages/adaptive-web-components/CHANGELOG.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-web-components-52f429c6-0fd9-4c89-8129-e130742b20a3.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Updated color recipes to allow null interactive states
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/adaptive-design-tokens.ts
  packages/adaptive-ui/src/color/recipe.ts
  packages/adaptive-ui/src/color/recipes/black-or-white-by-contrast-set.ts
  packages/adaptive-ui/src/color/recipes/ideal-color-delta-swatch-set.spec.ts
  packages/adaptive-ui/src/color/utilities/opacity.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/layer.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/design-tokens/palette.ts
  packages/adaptive-ui/src/migration/color.ts
  packages/adaptive-ui/src/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/modules/styles.ts
  packages/adaptive-ui/src/token-helpers-color.ts
  packages/adaptive-ui/src/token-helpers.ts
  packages/adaptive-web-components/src/components/tree-item/tree-item.styles.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-ui-dcb49912-a53a-4289-bbd2-b5117bafc451.json
  change/@adaptive-web-adaptive-web-components-1f3a9607-2e82-49c5-b7ba-ba9de8f9d63d.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Updated color recipes to allow null interactive states (#153)
  change/@adaptive-web-adaptive-ui-dcb49912-a53a-4289-bbd2-b5117bafc451.json
  change/@adaptive-web-adaptive-web-components-1f3a9607-2e82-49c5-b7ba-ba9de8f9d63d.json
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/adaptive-design-tokens.ts
  packages/adaptive-ui/src/color/recipe.ts
  packages/adaptive-ui/src/color/recipes/black-or-white-by-contrast-set.ts
  packages/adaptive-ui/src/color/recipes/ideal-color-delta-swatch-set.spec.ts
  packages/adaptive-ui/src/color/utilities/opacity.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/layer.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/design-tokens/palette.ts
  packages/adaptive-ui/src/migration/color.ts
  packages/adaptive-ui/src/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/modules/styles.ts
  packages/adaptive-ui/src/token-helpers-color.ts
  packages/adaptive-ui/src/token-helpers.ts
  packages/adaptive-web-components/src/components/tree-item/tree-item.styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-e22c0e69-ddd1-4daa-8582-ea65df858880.json
  change/@adaptive-web-adaptive-web-components-4f10e619-dea0-468d-9f77-c904dfcfe772.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Added support for setting `fill` when `color` is set
  packages/adaptive-ui/src/modules/element-styles-renderer.ts
  packages/adaptive-web-components/src/components/accordion-item/accordion-item.styles.ts
  packages/adaptive-web-components/src/components/anchor/anchor.styles.ts
  packages/adaptive-web-components/src/components/avatar/avatar.styles.ts
  packages/adaptive-web-components/src/components/badge/badge.styles.ts
  packages/adaptive-web-components/src/components/breadcrumb-item/breadcrumb-item.styles.ts
  packages/adaptive-web-components/src/components/button/button.styles.ts
  packages/adaptive-web-components/src/components/calendar/calendar.styles.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.styles.ts
  packages/adaptive-web-components/src/components/combobox/combobox.styles.ts
  packages/adaptive-web-components/src/components/data-grid-cell/data-grid-cell.styles.ts
  packages/adaptive-web-components/src/components/flipper/flipper.styles.ts
  packages/adaptive-web-components/src/components/listbox-option/listbox-option.styles.ts
  packages/adaptive-web-components/src/components/menu-item/menu-item.styles.ts
  packages/adaptive-web-components/src/components/number-field/number-field.styles.ts
  packages/adaptive-web-components/src/components/picker-list-item/picker-list-item.styles.ts
  packages/adaptive-web-components/src/components/picker-list/picker-list.styles.ts
  packages/adaptive-web-components/src/components/picker-menu-option/picker-menu-option.styles.ts
  packages/adaptive-web-components/src/components/radio/radio.styles.ts
  packages/adaptive-web-components/src/components/search/search.styles.ts
  packages/adaptive-web-components/src/components/select/select.styles.ts
  packages/adaptive-web-components/src/components/tab/tab.styles.ts
  packages/adaptive-web-components/src/components/text-field/text-field.styles.ts
  packages/adaptive-web-components/src/components/tree-item/tree-item.styles.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-ui-be94cfb8-7fcd-465e-a89d-1fb7a1c82d9d.json
  change/@adaptive-web-adaptive-web-components-53b24c53-96a4-443f-b5f0-1b5f51768892.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Added support for setting `fill` when `color` is set (#155)
  change/@adaptive-web-adaptive-ui-be94cfb8-7fcd-465e-a89d-1fb7a1c82d9d.json
  change/@adaptive-web-adaptive-web-components-53b24c53-96a4-443f-b5f0-1b5f51768892.json
  packages/adaptive-ui/src/modules/element-styles-renderer.ts
  packages/adaptive-web-components/src/components/accordion-item/accordion-item.styles.ts
  packages/adaptive-web-components/src/components/anchor/anchor.styles.ts
  packages/adaptive-web-components/src/components/avatar/avatar.styles.ts
  packages/adaptive-web-components/src/components/badge/badge.styles.ts
  packages/adaptive-web-components/src/components/breadcrumb-item/breadcrumb-item.styles.ts
  packages/adaptive-web-components/src/components/button/button.styles.ts
  packages/adaptive-web-components/src/components/calendar/calendar.styles.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.styles.ts
  packages/adaptive-web-components/src/components/combobox/combobox.styles.ts
  packages/adaptive-web-components/src/components/data-grid-cell/data-grid-cell.styles.ts
  packages/adaptive-web-components/src/components/flipper/flipper.styles.ts
  packages/adaptive-web-components/src/components/listbox-option/listbox-option.styles.ts
  packages/adaptive-web-components/src/components/menu-item/menu-item.styles.ts
  packages/adaptive-web-components/src/components/number-field/number-field.styles.ts
  packages/adaptive-web-components/src/components/picker-list-item/picker-list-item.styles.ts
  packages/adaptive-web-components/src/components/picker-list/picker-list.styles.ts
  packages/adaptive-web-components/src/components/picker-menu-option/picker-menu-option.styles.ts
  packages/adaptive-web-components/src/components/radio/radio.styles.ts
  packages/adaptive-web-components/src/components/search/search.styles.ts
  packages/adaptive-web-components/src/components/select/select.styles.ts
  packages/adaptive-web-components/src/components/tab/tab.styles.ts
  packages/adaptive-web-components/src/components/text-field/text-field.styles.ts
  packages/adaptive-web-components/src/components/tree-item/tree-item.styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer: Added feature to create interactive component states
  package-lock.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/figma/controller.ts
  packages/adaptive-ui-figma-designer/src/figma/main.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/index.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-states.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Fix tests
  packages/adaptive-ui-figma-designer/src/ui/index.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Make `Disabled` its own variant property
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer: Added feature to create interactive component states (#156)
  package-lock.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/figma/controller.ts
  packages/adaptive-ui-figma-designer/src/figma/main.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/index.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-states.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

refactor component definitions
  .vscode/settings.json
  packages/adaptive-web-components/src/components/accordion-item/accordion-item.compose.ts
  packages/adaptive-web-components/src/components/accordion-item/accordion-item.definition.ts
  packages/adaptive-web-components/src/components/accordion-item/accordion-item.options.ts
  packages/adaptive-web-components/src/components/accordion-item/accordion-item.styles.modules.ts
  packages/adaptive-web-components/src/components/accordion-item/accordion-item.styles.ts
  packages/adaptive-web-components/src/components/accordion-item/accordion-item.template.ts
  packages/adaptive-web-components/src/components/accordion-item/index.ts
  packages/adaptive-web-components/src/components/accordion/accordion.compose.ts
  packages/adaptive-web-components/src/components/accordion/accordion.definition.ts
  packages/adaptive-web-components/src/components/accordion/accordion.options.ts
  packages/adaptive-web-components/src/components/accordion/accordion.styles.modules.ts
  packages/adaptive-web-components/src/components/accordion/accordion.styles.ts
  packages/adaptive-web-components/src/components/accordion/accordion.template.ts
  packages/adaptive-web-components/src/components/accordion/index.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.compose.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.definition.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.options.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.template.ts
  packages/adaptive-web-components/src/components/checkbox/index.ts
  packages/adaptive-web-components/src/custom-elements.ts
  packages/adaptive-web-components/src/design-system.ts
  packages/adaptive-web-components/src/index.bundle.ts
  packages/adaptive-web-components/src/index.ts
  packages/adaptive-web-components/src/statics/checkmark.ts
  packages/adaptive-web-components/src/statics/chevron-down.ts
  packages/adaptive-web-components/src/statics/chevron-up.ts
  packages/adaptive-web-components/src/statics/subtract.ts
  tsconfig.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-4a2ed00b-771c-4531-9808-f03159b28bf9.json
  change/@adaptive-web-adaptive-web-components-6dc6a84e-64fc-4e8d-ae1a-3460ce54cce8.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Adaptive UI: Adjust color deltas
  packages/adaptive-ui/src/design-tokens/color.ts
Owners: @EisenbergEffect, @bheston

Change files
  change/@adaptive-web-adaptive-ui-834cdbaa-9341-4063-a72b-f6ea2f1fe264.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

updates adaptive ui color deltas (#161)
  change/@adaptive-web-adaptive-ui-834cdbaa-9341-4063-a72b-f6ea2f1fe264.json
  packages/adaptive-ui/src/design-tokens/color.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Adaptive UI: Update culori imports for tree shaking
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/color/palette-okhsl.ts
Owners: @EisenbergEffect, @bheston

Change files
  change/@adaptive-web-adaptive-ui-73e391e4-8d30-43d4-adb3-e25f35e09723.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Adaptive UI: Update culori imports for tree shaking (#162)
  change/@adaptive-web-adaptive-ui-73e391e4-8d30-43d4-adb3-e25f35e09723.json
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/color/palette-okhsl.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

tsconfig warning that `module` should be NodeNext
  tsconfig.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

tsconfig warning that `module` should be NodeNext (#163)
  tsconfig.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-82cdb824-eb0c-4e1a-9434-e9e75cd32956.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect
