Repository Adaptive-Web-Community/Adaptive-Web-Components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

.github/CODEOWNERS:

# Approval for at least one *code owner* is required all packages.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more *code owners*.
# The last matching pattern has the most precendence.

# These *code owners* will be the default owners for everything in the repository.
* @awentzel @bheston @KingOfTac @nicholasrice

# File type specific owners
# Markdown specific files
*.md @awentzel @bheston @nicholasrice
/docs/ @awentzel @bheston @nicholasrice

# GitHub management
.github/ @awentzel @nicholasrice @KingOfTac
.github/workflows/ @awentzel @nicholasrice @KingOfTac

# Build scripts
*.yml @awentzel @nicholasrice @KingOfTac
build/ @awentzel @nicholasrice @KingOfTac

# Package specific owners
# Examples
/examples/ @bheston @KingOfTac @nicholasrice

# Tooling

# Utilities

# Web components
/packages/adaptive-ui/ @nicholasrice @bheston
/packages/adaptive-ui-explorer/ @nicholasrice @bheston
/packages/adaptive-web-components/ @nicholasrice @bheston @KingOfTac

Designer: Clean up message serialization
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/core/serialization.ts
  packages/adaptive-ui-figma-designer/src/figma/controller.ts
  packages/adaptive-ui-figma-designer/src/figma/main.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/index.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Designer: Added anatomy code generation (#193)
  change/@adaptive-web-adaptive-ui-75f07927-6c24-47c5-8ebb-2ba36756e07d.json
  packages/adaptive-ui-figma-designer/src/core/code-gen.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-code.ts
  packages/adaptive-ui/src/reference/modules.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Adaptive UI: Add support for multi-value string anatomy conditions
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/modules/types.ts
  packages/adaptive-web-components/docs/api-report.md
  packages/adaptive-web-components/src/components/data-grid-cell/data-grid-cell.styles.modules.ts
  packages/adaptive-web-components/src/components/data-grid-cell/data-grid-cell.template.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.template.ts
  packages/adaptive-web-components/src/components/divider/divider.styles.modules.ts
  packages/adaptive-web-components/src/components/divider/divider.template.ts
  packages/adaptive-web-components/src/components/flipper/flipper.template.ts
  packages/adaptive-web-components/src/components/radio-group/radio-group.template.ts
  packages/adaptive-web-components/src/components/skeleton/skeleton.styles.modules.ts
  packages/adaptive-web-components/src/components/skeleton/skeleton.template.ts
  packages/adaptive-web-components/src/components/slider-label/slider-label.template.ts
  packages/adaptive-web-components/src/components/slider/slider.template.ts
  packages/adaptive-web-components/src/components/tabs/tabs.template.ts
  packages/adaptive-web-components/src/components/toolbar/toolbar.template.ts
Owners: @nicholasrice, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-ui-d99719c4-dff8-4914-b6c0-d96b4dee306c.json
  change/@adaptive-web-adaptive-web-components-a8be2964-33b7-458e-af89-13dc4ee62eca.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Clean up some logic and comments
  packages/adaptive-ui-figma-designer/src/core/serialization.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Adaptive UI: Add support for multi-value string anatomy conditions (#196)
  change/@adaptive-web-adaptive-ui-d99719c4-dff8-4914-b6c0-d96b4dee306c.json
  change/@adaptive-web-adaptive-web-components-a8be2964-33b7-458e-af89-13dc4ee62eca.json
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/modules/types.ts
  packages/adaptive-web-components/docs/api-report.md
  packages/adaptive-web-components/src/components/data-grid-cell/data-grid-cell.styles.modules.ts
  packages/adaptive-web-components/src/components/data-grid-cell/data-grid-cell.template.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.template.ts
  packages/adaptive-web-components/src/components/divider/divider.styles.modules.ts
  packages/adaptive-web-components/src/components/divider/divider.template.ts
  packages/adaptive-web-components/src/components/flipper/flipper.template.ts
  packages/adaptive-web-components/src/components/radio-group/radio-group.template.ts
  packages/adaptive-web-components/src/components/skeleton/skeleton.styles.modules.ts
  packages/adaptive-web-components/src/components/skeleton/skeleton.template.ts
  packages/adaptive-web-components/src/components/slider-label/slider-label.template.ts
  packages/adaptive-web-components/src/components/slider/slider.template.ts
  packages/adaptive-web-components/src/components/tabs/tabs.template.ts
  packages/adaptive-web-components/src/components/toolbar/toolbar.template.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Designer: Clean up message serialization (#195)
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/core/serialization.ts
  packages/adaptive-ui-figma-designer/src/figma/controller.ts
  packages/adaptive-ui-figma-designer/src/figma/main.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/index.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Designer: Refactor code gen for more consumption use cases
  packages/adaptive-ui-figma-designer/src/core/code-gen.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/adaptive-design-tokens.ts
  packages/adaptive-ui/src/core/modules/types.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-8394728e-6ae4-40e4-a0bc-9a0cbcb1171b.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

AUI: Remove assumption on `part` selector
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/modules/selector.ts
  packages/adaptive-ui/src/core/modules/types.ts
  packages/adaptive-web-components/docs/api-report.md
  packages/adaptive-web-components/src/design-system.ts
Owners: @nicholasrice, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-ui-3ee37aaf-126b-435c-8f21-6b3e41ecc67b.json
  change/@adaptive-web-adaptive-web-components-773cc7f3-c184-4004-935e-2efb19eea303.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

AUI: Remove assumption on `part` selector (#198)
  change/@adaptive-web-adaptive-ui-3ee37aaf-126b-435c-8f21-6b3e41ecc67b.json
  change/@adaptive-web-adaptive-web-components-773cc7f3-c184-4004-935e-2efb19eea303.json
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/modules/selector.ts
  packages/adaptive-ui/src/core/modules/types.ts
  packages/adaptive-web-components/docs/api-report.md
  packages/adaptive-web-components/src/design-system.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Designer: Refactor code gen for more consumption use cases (#197)
  change/@adaptive-web-adaptive-ui-8394728e-6ae4-40e4-a0bc-9a0cbcb1171b.json
  packages/adaptive-ui-figma-designer/src/core/code-gen.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/adaptive-design-tokens.ts
  packages/adaptive-ui/src/core/modules/types.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

adding package for figma non-plugin integrations
  package-lock.json
  package.json
  packages/adaptive-ui-designer-figma/package.json
  packages/adaptive-ui-designer-figma/src/figma-rest-client.ts
  packages/adaptive-ui-designer-figma/src/node-parser.ts
  packages/adaptive-ui-designer-figma/src/parser-legacy.ts
  packages/adaptive-ui-designer-figma/tsconfig.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

migrate designer core to adaptive-ui-designer-core package
  package-lock.json
  package.json
  packages/adaptive-ui-designer-core/package.json
  packages/adaptive-ui-designer-core/src/code-gen.ts
  packages/adaptive-ui-designer-core/src/controller.ts
  packages/adaptive-ui-designer-core/src/index.ts
  packages/adaptive-ui-designer-core/src/model.ts
  packages/adaptive-ui-designer-core/src/node.ts
  packages/adaptive-ui-designer-core/src/registry/custom-recipes.ts
  packages/adaptive-ui-designer-core/src/registry/design-token-registry.ts
  packages/adaptive-ui-designer-core/src/registry/recipes.ts
  packages/adaptive-ui-designer-core/src/serialization.ts
  packages/adaptive-ui-designer-core/tsconfig.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Update adaptive-uifigma-designer imports to source from adaptive-ui-designer-core
  package-lock.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui-figma-designer/src/figma/controller.ts
  packages/adaptive-ui-figma-designer/src/figma/main.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/figma/tsconfig.json
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/components/design-token-add/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/design-token-field/index.ts
  packages/adaptive-ui-figma-designer/src/ui/index.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-code.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-elements.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-states.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-styles.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-tokens.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Add REST node parsing to adaptive-ui-designer-figma
  package-lock.json
  packages/adaptive-ui-designer-core/src/code-gen.ts
  packages/adaptive-ui-designer-core/src/index.ts
  packages/adaptive-ui-designer-core/src/registry/custom-recipes.ts
  packages/adaptive-ui-designer-core/tsconfig.json
  packages/adaptive-ui-designer-figma/package.json
  packages/adaptive-ui-designer-figma/src/anatomy.ts
  packages/adaptive-ui-designer-figma/src/index.ts
  packages/adaptive-ui-designer-figma/src/node-parser.ts
  packages/adaptive-ui-designer-figma/src/parser-legacy.ts
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui-figma-designer/src/core/code-gen.ts
  packages/adaptive-ui-figma-designer/src/figma/controller.ts
  packages/adaptive-ui-figma-designer/src/figma/tsconfig.json
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-code.ts
  tsconfig.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

rename plugin directory
  package.json
  packages/adaptive-ui-designer-figma-plugin/README.md
  packages/adaptive-ui-designer-figma-plugin/manifest.json
  packages/adaptive-ui-designer-figma-plugin/package.json
  packages/adaptive-ui-designer-figma-plugin/src/core/code-gen.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/controller.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/main.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/tsconfig.json
  packages/adaptive-ui-designer-figma-plugin/src/figma/utility.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/app.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/assets/blob.svg
  packages/adaptive-ui-designer-figma-plugin/src/ui/assets/checkmark.svg
  packages/adaptive-ui-designer-figma-plugin/src/ui/assets/detach.svg
  packages/adaptive-ui-designer-figma-plugin/src/ui/assets/refresh.svg
  packages/adaptive-ui-designer-figma-plugin/src/ui/assets/revert.svg
  packages/adaptive-ui-designer-figma-plugin/src/ui/assets/subtract.svg
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/corner-radius/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/design-token-add/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/design-token-field/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/design-tokens-form/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/drawer/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/stealth-button/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/style-token-item/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/token-glyph/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/global.css
  packages/adaptive-ui-designer-figma-plugin/src/ui/index.html
  packages/adaptive-ui-designer-figma-plugin/src/ui/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/tsconfig.json
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-code.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-elements.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-states.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-styles.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-tokens.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/vite-env.d.ts
  packages/adaptive-ui-designer-figma-plugin/vite.config.js
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Add CLI to compile stylesheets
  package-lock.json
  packages/adaptive-ui-designer-figma/bin/aui-figma-compiler.js
  packages/adaptive-ui-designer-figma/package.json
  packages/adaptive-ui-designer-figma/src/cli/anatomy.ts
  packages/adaptive-ui-designer-figma/src/cli/dom-shim.ts
  packages/adaptive-ui-designer-figma/src/cli/figma-rest-client.ts
  packages/adaptive-ui-designer-figma/src/cli/library-config.ts
  packages/adaptive-ui-designer-figma/src/cli/library-schema.ts
  packages/adaptive-ui-designer-figma/src/cli/logger.ts
  packages/adaptive-ui-designer-figma/src/cli/main.ts
  packages/adaptive-ui-designer-figma/src/cli/schema-validator.ts
  packages/adaptive-ui-designer-figma/src/cli/string-utils.ts
  packages/adaptive-ui-designer-figma/src/cli/stylesheet.ts
  packages/adaptive-ui-designer-figma/src/cli/tsconfig.json
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
  packages/adaptive-ui-designer-figma/src/lib/index.ts
  packages/adaptive-ui-designer-figma/src/lib/node-parser.ts
  packages/adaptive-ui-designer-figma/src/lib/tsconfig.json
  packages/adaptive-ui-designer-figma/tsconfig.json
  tsconfig.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Add JSON compiler to adaptive-ui and add readme
  packages/adaptive-ui-designer-figma/README.md
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/bin/aui.ts
  packages/adaptive-ui/src/core/modules/types.ts
Owners: @awentzel, @bheston, @nicholasrice

refactor spinalCase to kebabCase
  packages/adaptive-ui-designer-figma/src/cli/anatomy.ts
  packages/adaptive-ui-designer-figma/src/cli/string-utils.ts
  packages/adaptive-ui-designer-figma/src/cli/stylesheet.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

remove company references
  packages/adaptive-ui-designer-figma/src/cli/main.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

fixing declaration path and schema url
  package-lock.json
  packages/adaptive-ui-designer-figma/src/cli/library-schema.ts
  packages/adaptive-ui-designer-figma/src/lib/tsconfig.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Update packages/adaptive-ui-designer-figma-plugin/src/core/code-gen.ts
  packages/adaptive-ui-designer-figma-plugin/src/core/code-gen.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

fixing typescript build
  packages/adaptive-ui-designer-figma/package.json
  packages/adaptive-ui-designer-figma/src/cli/tsconfig.json
  packages/adaptive-ui-designer-figma/src/lib/tsconfig.json
  packages/adaptive-ui-designer-figma/tsconfig.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-9435dadf-6d12-4915-9466-dd24533274aa.json
  change/@adaptive-web-adaptive-ui-designer-core-7c2a3ded-5385-4952-897c-53aa895bfaca.json
  change/@adaptive-web-adaptive-ui-designer-figma-2970b0fd-66c9-45a2-bbe8-a7ea479f0a96.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

adds CI process to build all packages before running tests
  .github/workflows/ci-validate-pr.yml
Owners: @awentzel, @nicholasrice, @KingOfTac

Cleanup in Designer plugin
  packages/adaptive-ui-designer-core/src/registry/custom-recipes.ts
  packages/adaptive-ui-designer-core/src/registry/recipes.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/design-token-field/index.ts
  packages/adaptive-ui/src/reference/token-naming.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Adaptive UI: Updated token names to hierarchical format
  packages/adaptive-ui-designer-core/src/node.ts
  packages/adaptive-ui-designer-core/src/registry/custom-recipes.ts
  packages/adaptive-ui-designer-core/src/registry/recipes.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/app.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/token-glyph/index.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/adaptive-design-tokens.ts
  packages/adaptive-ui/src/core/density/index.ts
  packages/adaptive-ui/src/core/token-helpers-color.ts
  packages/adaptive-ui/src/core/token-helpers.ts
  packages/adaptive-ui/src/core/types.ts
  packages/adaptive-ui/src/reference/appearance.ts
  packages/adaptive-ui/src/reference/color.ts
  packages/adaptive-ui/src/reference/density.ts
  packages/adaptive-ui/src/reference/elevation.ts
  packages/adaptive-ui/src/reference/index.ts
  packages/adaptive-ui/src/reference/layer.ts
  packages/adaptive-ui/src/reference/palette.ts
  packages/adaptive-ui/src/reference/token-naming.ts
  packages/adaptive-ui/src/reference/type.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-741c85ae-dd57-45f8-bd98-4ce58c26202e.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-designer-core-e838feb2-cc57-46ca-8f13-49deb0925963.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Fix plugin: - Relocate messaging interfaces back to the plugin - Mark new dependencies sideEffects to allow tree shaking
  packages/adaptive-ui-designer-core/package.json
  packages/adaptive-ui-designer-core/src/index.ts
  packages/adaptive-ui-designer-core/src/model.ts
  packages/adaptive-ui-designer-figma-plugin/src/core/messages.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/controller.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/main.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/app.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-states.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller.ts
  packages/adaptive-ui-designer-figma/package.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-designer-figma-bbc0c6d3-12fc-46f1-bde4-4add8cab3333.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Fixing a few CLI runtime issues
  packages/adaptive-ui-designer-figma/src/cli/library-config.ts
  packages/adaptive-ui-designer-figma/src/cli/main.ts
  packages/adaptive-ui-designer-figma/src/cli/stylesheet.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

build all packages for publishing
  .github/workflows/publish-packages.yml
Owners: @awentzel, @nicholasrice, @KingOfTac

prevent packing un-necessary files
  packages/adaptive-ui-designer-core/.npmignore
  packages/adaptive-ui-designer-figma/.npmignore
  packages/adaptive-ui-designer-figma/package.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-designer-core-af667e7f-6b1d-4f29-aa8c-807ff50bb976.json
  change/@adaptive-web-adaptive-ui-designer-figma-357981fa-b135-4ef3-bdf0-6bbe98352e06.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-designer-figma-c0e00d8c-c4ff-4895-bfa8-19cf6ec650f8.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Adaptive UI: Updated token names to hierarchical format (#199)
  change/@adaptive-web-adaptive-ui-741c85ae-dd57-45f8-bd98-4ce58c26202e.json
  change/@adaptive-web-adaptive-ui-designer-core-e838feb2-cc57-46ca-8f13-49deb0925963.json
  change/@adaptive-web-adaptive-ui-designer-figma-bbc0c6d3-12fc-46f1-bde4-4add8cab3333.json
  packages/adaptive-ui-designer-core/package.json
  packages/adaptive-ui-designer-core/src/index.ts
  packages/adaptive-ui-designer-core/src/model.ts
  packages/adaptive-ui-designer-core/src/node.ts
  packages/adaptive-ui-designer-core/src/registry/custom-recipes.ts
  packages/adaptive-ui-designer-core/src/registry/recipes.ts
  packages/adaptive-ui-designer-figma-plugin/src/core/messages.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/controller.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/main.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/app.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/design-token-field/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/token-glyph/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-states.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller.ts
  packages/adaptive-ui-designer-figma/package.json
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/adaptive-design-tokens.ts
  packages/adaptive-ui/src/core/density/index.ts
  packages/adaptive-ui/src/core/token-helpers-color.ts
  packages/adaptive-ui/src/core/token-helpers.ts
  packages/adaptive-ui/src/core/types.ts
  packages/adaptive-ui/src/reference/appearance.ts
  packages/adaptive-ui/src/reference/color.ts
  packages/adaptive-ui/src/reference/density.ts
  packages/adaptive-ui/src/reference/elevation.ts
  packages/adaptive-ui/src/reference/index.ts
  packages/adaptive-ui/src/reference/layer.ts
  packages/adaptive-ui/src/reference/palette.ts
  packages/adaptive-ui/src/reference/token-naming.ts
  packages/adaptive-ui/src/reference/type.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

chore: update publish pipeline to publish new packages (#201)
  .github/workflows/publish-packages.yml
  change/@adaptive-web-adaptive-ui-designer-core-af667e7f-6b1d-4f29-aa8c-807ff50bb976.json
  change/@adaptive-web-adaptive-ui-designer-figma-357981fa-b135-4ef3-bdf0-6bbe98352e06.json
  packages/adaptive-ui-designer-core/.npmignore
  packages/adaptive-ui-designer-figma/.npmignore
  packages/adaptive-ui-designer-figma/package.json
Owners: @awentzel, @nicholasrice, @KingOfTac, @bheston
