Repository Adaptive-Web-Community/Adaptive-Web-Components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect, @falkicon

temp patch for tooltip bug
  packages/adaptive-web-components/src/components/tooltip/tooltip.compose.ts
  packages/adaptive-web-components/src/components/tooltip/tooltip.ts
  packages/adaptive-web-components/src/custom-elements.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

temp patch for tooltip bug (#40)
  packages/adaptive-web-components/src/components/tooltip/tooltip.compose.ts
  packages/adaptive-web-components/src/components/tooltip/tooltip.ts
  packages/adaptive-web-components/src/custom-elements.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

revert my last PR
  packages/adaptive-web-components/src/components/tooltip/tooltip.compose.ts
  packages/adaptive-web-components/src/components/tooltip/tooltip.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

revert my last PR (#41)
  packages/adaptive-web-components/src/components/tooltip/tooltip.compose.ts
  packages/adaptive-web-components/src/components/tooltip/tooltip.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

bump version for publish
  packages/adaptive-ui/package.json
Owners: @EisenbergEffect, @bheston

missed bumping adaptive-ui for the components
  package-lock.json
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

bump version for publish (#42)
  package-lock.json
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

add fixed positioning to select menu
  packages/adaptive-web-components/src/components/select/select.styles.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Updated example svg inline config
  examples/use-adaptive-components/package.json
  examples/use-adaptive-components/vite.config.js
  package-lock.json
Owners: @bheston, @KingOfTac, @awentzel, @EisenbergEffect

fix: add fixed positioning to select listbox(#43)
  packages/adaptive-web-components/src/components/select/select.styles.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Updated example svg inline config (#44)
  examples/use-adaptive-components/package.json
  examples/use-adaptive-components/vite.config.js
  package-lock.json
Owners: @bheston, @KingOfTac, @awentzel, @EisenbergEffect

add beachball and api-extractor
  .gitignore
  api-extractor.json
  beachball.config.cjs
  examples/use-adaptive-components/package.json
  package-lock.json
  package.json
  packages/adaptive-ui/api-extractor.json
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/api-extractor.json
  packages/adaptive-web-components/docs/api-report.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-baa25884-cf16-4abe-87ce-1f795a686f79.json
  change/@adaptive-web-adaptive-web-components-6845d394-bf6f-493f-85e6-a4fad4ac2ab8.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

update contributing docs with change instructions
  CONTRIBUTING.md
Owners: @awentzel, @bheston, @falkicon, @EisenbergEffect

add beachball and api-extractor (#45)
  .gitignore
  CONTRIBUTING.md
  api-extractor.json
  beachball.config.cjs
  change/@adaptive-web-adaptive-ui-baa25884-cf16-4abe-87ce-1f795a686f79.json
  change/@adaptive-web-adaptive-web-components-6845d394-bf6f-493f-85e6-a4fad4ac2ab8.json
  examples/use-adaptive-components/package.json
  package-lock.json
  package.json
  packages/adaptive-ui/api-extractor.json
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/api-extractor.json
  packages/adaptive-web-components/docs/api-report.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect, @falkicon

Minor package cleanup
  package-lock.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Minor package cleanup (#46)
  package-lock.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Optimize color recipe evaluation
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui/src/design-tokens/color.ts
Owners: @EisenbergEffect, @bheston

Optimize color recipe evaluation (#47)
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui/src/design-tokens/color.ts
Owners: @EisenbergEffect, @bheston

Fix black or white foreground recipe Minor Adaptive UI Explorer fixes
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/components/adaptive-component.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui/src/color/recipes/black-or-white-by-contrast.spec.ts
  packages/adaptive-ui/src/color/recipes/black-or-white-by-contrast.ts
Owners: @EisenbergEffect, @bheston

Change files
  change/@adaptive-web-adaptive-ui-a7fba9b9-4637-44fe-bbe8-525e6a6b464e.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Fix black or white foreground recipe (#48)
  change/@adaptive-web-adaptive-ui-a7fba9b9-4637-44fe-bbe8-525e6a6b464e.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/components/adaptive-component.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui/src/color/recipes/black-or-white-by-contrast.spec.ts
  packages/adaptive-ui/src/color/recipes/black-or-white-by-contrast.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

update to latest FAST
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/package.json
Owners: @EisenbergEffect, @bheston, @KingOfTac

update to latest FAST (#50)
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/package.json
Owners: @EisenbergEffect, @bheston, @KingOfTac

applying package updates
  change/@adaptive-web-adaptive-ui-a7fba9b9-4637-44fe-bbe8-525e6a6b464e.json
  change/@adaptive-web-adaptive-ui-baa25884-cf16-4abe-87ce-1f795a686f79.json
  change/@adaptive-web-adaptive-web-components-6845d394-bf6f-493f-85e6-a4fad4ac2ab8.json
  examples/use-adaptive-components/package.json
  package-lock.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui/CHANGELOG.json
  packages/adaptive-ui/CHANGELOG.md
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/CHANGELOG.json
  packages/adaptive-web-components/CHANGELOG.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

manual bump
  change/@adaptive-web-adaptive-ui-a7fba9b9-4637-44fe-bbe8-525e6a6b464e.json
  change/@adaptive-web-adaptive-ui-baa25884-cf16-4abe-87ce-1f795a686f79.json
  change/@adaptive-web-adaptive-web-components-6845d394-bf6f-493f-85e6-a4fad4ac2ab8.json
  examples/use-adaptive-components/package.json
  package-lock.json
  package.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui/CHANGELOG.json
  packages/adaptive-ui/CHANGELOG.md
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/CHANGELOG.json
  packages/adaptive-web-components/CHANGELOG.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

json indentation
  examples/use-adaptive-components/package.json
  package.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/package.json
Owners: @bheston, @KingOfTac, @awentzel, @EisenbergEffect

Updated package lock per recent changes
  package-lock.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-5c23ca46-af72-4a7c-88fd-ccefcc81bd59.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Restructure color recipe design token definition
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/color/recipe.ts
  packages/adaptive-ui/src/design-tokens/color.ts
Owners: @EisenbergEffect, @bheston

Restructure color recipe design token definition (#49)
  change/@adaptive-web-adaptive-ui-5c23ca46-af72-4a7c-88fd-ccefcc81bd59.json
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/color/recipe.ts
  packages/adaptive-ui/src/design-tokens/color.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

manually bump package versions (#52)
  change/@adaptive-web-adaptive-ui-a7fba9b9-4637-44fe-bbe8-525e6a6b464e.json
  change/@adaptive-web-adaptive-ui-baa25884-cf16-4abe-87ce-1f795a686f79.json
  change/@adaptive-web-adaptive-web-components-6845d394-bf6f-493f-85e6-a4fad4ac2ab8.json
  examples/use-adaptive-components/package.json
  package-lock.json
  package.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui/CHANGELOG.json
  packages/adaptive-ui/CHANGELOG.md
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/CHANGELOG.json
  packages/adaptive-web-components/CHANGELOG.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Updated to semantic color recipes and added WCAG contrast level support
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.template.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/README.md
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/styles.ts
Owners: @EisenbergEffect, @bheston

Updated to semantic color recipes and added WCAG contrast level support (#54)
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.template.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/README.md
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/styles.ts
Owners: @EisenbergEffect, @bheston

Updated svg plugin
  examples/use-adaptive-components/package.json
  package-lock.json
Owners: @bheston, @KingOfTac, @awentzel, @EisenbergEffect

Updated svg plugin (#55)
  examples/use-adaptive-components/package.json
  package-lock.json
Owners: @bheston, @KingOfTac, @awentzel, @EisenbergEffect

Update components to use renamed color tokens Fix neutral fill subtle tokens
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-web-components/src/components/accordion-item/accordion-item.styles.ts
  packages/adaptive-web-components/src/components/accordion/accordion.styles.ts
  packages/adaptive-web-components/src/components/anchor/anchor.styles.ts
  packages/adaptive-web-components/src/components/avatar/avatar.styles.ts
  packages/adaptive-web-components/src/components/badge/badge.styles.ts
  packages/adaptive-web-components/src/components/button/button.styles.ts
  packages/adaptive-web-components/src/components/calendar/calendar.styles.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.styles.ts
  packages/adaptive-web-components/src/components/combobox/combobox.styles.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.styles.ts
  packages/adaptive-web-components/src/components/disclosure/disclosure.styles.ts
  packages/adaptive-web-components/src/components/divider/divider.styles.ts
  packages/adaptive-web-components/src/components/flipper/flipper.styles.ts
  packages/adaptive-web-components/src/components/listbox-option/listbox-option.styles.ts
  packages/adaptive-web-components/src/components/listbox/listbox.styles.ts
  packages/adaptive-web-components/src/components/menu-item/menu-item.styles.ts
  packages/adaptive-web-components/src/components/number-field/number-field.styles.ts
  packages/adaptive-web-components/src/components/picker-list/picker-list.styles.ts
  packages/adaptive-web-components/src/components/picker-menu-option/picker-menu-option.styles.ts
  packages/adaptive-web-components/src/components/progress-ring/progress-ring.styles.ts
  packages/adaptive-web-components/src/components/progress/progress.styles.ts
  packages/adaptive-web-components/src/components/radio/radio.styles.ts
  packages/adaptive-web-components/src/components/search/search.styles.ts
  packages/adaptive-web-components/src/components/select/select.styles.ts
  packages/adaptive-web-components/src/components/skeleton/skeleton.styles.ts
  packages/adaptive-web-components/src/components/slider-label/slider-label.styles.ts
  packages/adaptive-web-components/src/components/slider/slider.styles.ts
  packages/adaptive-web-components/src/components/switch/switch.styles.ts
  packages/adaptive-web-components/src/components/tabs/tabs.styles.ts
  packages/adaptive-web-components/src/components/text-area/text-area.styles.ts
  packages/adaptive-web-components/src/components/text-field/text-field.styles.ts
  packages/adaptive-web-components/src/components/toolbar/toolbar.styles.ts
  packages/adaptive-web-components/src/components/tooltip/tooltip.styles.ts
  packages/adaptive-web-components/src/components/tree-item/tree-item.styles.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Update components to use renamed color tokens (#56)
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-web-components/src/components/accordion-item/accordion-item.styles.ts
  packages/adaptive-web-components/src/components/accordion/accordion.styles.ts
  packages/adaptive-web-components/src/components/anchor/anchor.styles.ts
  packages/adaptive-web-components/src/components/avatar/avatar.styles.ts
  packages/adaptive-web-components/src/components/badge/badge.styles.ts
  packages/adaptive-web-components/src/components/button/button.styles.ts
  packages/adaptive-web-components/src/components/calendar/calendar.styles.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.styles.ts
  packages/adaptive-web-components/src/components/combobox/combobox.styles.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.styles.ts
  packages/adaptive-web-components/src/components/disclosure/disclosure.styles.ts
  packages/adaptive-web-components/src/components/divider/divider.styles.ts
  packages/adaptive-web-components/src/components/flipper/flipper.styles.ts
  packages/adaptive-web-components/src/components/listbox-option/listbox-option.styles.ts
  packages/adaptive-web-components/src/components/listbox/listbox.styles.ts
  packages/adaptive-web-components/src/components/menu-item/menu-item.styles.ts
  packages/adaptive-web-components/src/components/number-field/number-field.styles.ts
  packages/adaptive-web-components/src/components/picker-list/picker-list.styles.ts
  packages/adaptive-web-components/src/components/picker-menu-option/picker-menu-option.styles.ts
  packages/adaptive-web-components/src/components/progress-ring/progress-ring.styles.ts
  packages/adaptive-web-components/src/components/progress/progress.styles.ts
  packages/adaptive-web-components/src/components/radio/radio.styles.ts
  packages/adaptive-web-components/src/components/search/search.styles.ts
  packages/adaptive-web-components/src/components/select/select.styles.ts
  packages/adaptive-web-components/src/components/skeleton/skeleton.styles.ts
  packages/adaptive-web-components/src/components/slider-label/slider-label.styles.ts
  packages/adaptive-web-components/src/components/slider/slider.styles.ts
  packages/adaptive-web-components/src/components/switch/switch.styles.ts
  packages/adaptive-web-components/src/components/tabs/tabs.styles.ts
  packages/adaptive-web-components/src/components/text-area/text-area.styles.ts
  packages/adaptive-web-components/src/components/text-field/text-field.styles.ts
  packages/adaptive-web-components/src/components/toolbar/toolbar.styles.ts
  packages/adaptive-web-components/src/components/tooltip/tooltip.styles.ts
  packages/adaptive-web-components/src/components/tree-item/tree-item.styles.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Package color tokens as sets and style modules Add style module rendering to ElementStyles Update Adaptive UI Explorer to use style modules Update Anchor to illustrate initial migration for components
  packages/adaptive-ui-explorer/src/components/adaptive-component.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui-explorer/src/components/style-example.ts
  packages/adaptive-ui-explorer/src/components/swatch.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/color/recipe.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/index.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/index.ts
  packages/adaptive-ui/src/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/modules/index.ts
  packages/adaptive-ui/src/modules/selector.ts
  packages/adaptive-ui/src/modules/types.ts
  packages/adaptive-ui/src/types.ts
  packages/adaptive-web-components/src/components/anchor/anchor.compose.ts
  packages/adaptive-web-components/src/components/anchor/anchor.styles.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Minor rename and doc cleanup.
  packages/adaptive-ui-explorer/src/components/adaptive-component.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/modules/element-styles-renderer.ts
  packages/adaptive-web-components/src/components/anchor/anchor.styles.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

.github/CODEOWNERS:

# Approval for at least one *code owner* is required all packages.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more *code owners*.
# The last matching pattern has the most precendence.

# These *code owners* will be the default owners for everything in the repository.
* @awentzel @bheston @KingOfTac @EisenbergEffect

# File type specific owners
# Markdown specific files
*.md @awentzel @bheston @falkicon @EisenbergEffect
/docs/ @awentzel @bheston @falkicon @EisenbergEffect

# GitHub management
.github/ @awentzel @EisenbergEffect
.github/workflows/ @awentzel @EisenbergEffect

# Build scripts
*.yml @awentzel @EisenbergEffect
build/ @awentzel @EisenbergEffect

# Package specific owners
# Examples
/examples/ @bheston @KingOfTac

# Tooling

# Utilities

# Web components
/packages/adaptive-ui/ @EisenbergEffect @bheston
/packages/adaptive-ui-explorer/ @EisenbergEffect @bheston
/packages/adaptive-web-components/ @EisenbergEffect @bheston @KingOfTac
