Repository Adaptive-Web-Community/Adaptive-Web-Components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect, @falkicon

.github/CODEOWNERS:

# Approval for at least one *code owner* is required all packages.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more *code owners*.
# The last matching pattern has the most precendence.

# These *code owners* will be the default owners for everything in the repository.
* @awentzel @bheston @KingOfTac @EisenbergEffect

# File type specific owners
# Markdown specific files
*.md @awentzel @bheston @falkicon @EisenbergEffect
/docs/ @awentzel @bheston @falkicon @EisenbergEffect

# GitHub management
.github/ @awentzel @EisenbergEffect
.github/workflows/ @awentzel @EisenbergEffect

# Build scripts
*.yml @awentzel @EisenbergEffect
build/ @awentzel @EisenbergEffect

# Package specific owners
# Examples
/examples/ @bheston @KingOfTac

# Tooling

# Utilities

# Web components
/packages/adaptive-ui/ @EisenbergEffect @bheston
/packages/adaptive-ui-explorer/ @EisenbergEffect @bheston
/packages/adaptive-web-components/ @EisenbergEffect @bheston @KingOfTac

use row and cell types
  packages/adaptive-web-components/src/components/data-grid-cell/data-grid-cell.template.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.template.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

fix: sticky header styles (#129)
  change/@adaptive-web-adaptive-web-components-a02b023a-6d04-4b29-be99-fa4c1b31c347.json
  packages/adaptive-web-components/src/components/data-grid-cell/data-grid-cell.template.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.styles.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.template.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Adaptive UI - Updated color palette based on okhsl
  .vscode/settings.json
  package-lock.json
  packages/adaptive-ui-explorer/src/components/adaptive-component.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/color/index.ts
  packages/adaptive-ui/src/color/palette-okhsl.ts
  packages/adaptive-ui/src/design-tokens/palette.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-49a1a1c3-cb47-4350-a4e7-ed80ccaeb2eb.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Review comments
  package-lock.json
  packages/adaptive-ui-explorer/src/components/adaptive-component.ts
  packages/adaptive-ui/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Adaptive UI - Updated color palette based on okhsl (#131)
  .vscode/settings.json
  change/@adaptive-web-adaptive-ui-49a1a1c3-cb47-4350-a4e7-ed80ccaeb2eb.json
  package-lock.json
  packages/adaptive-ui-explorer/src/components/adaptive-component.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/color/index.ts
  packages/adaptive-ui/src/color/palette-okhsl.ts
  packages/adaptive-ui/src/design-tokens/palette.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Adaptive UI - Improve density support (#130)
  change/@adaptive-web-adaptive-ui-aba7bf21-ab6e-4125-afe4-e3217c1a28c3.json
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
  packages/adaptive-ui/src/density/index.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Add a few styles and tokens to Adaptive UI reference
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/color/palette-okhsl.ts
  packages/adaptive-ui/src/design-tokens/density.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/design-tokens/type.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-4d6986b1-1304-429f-8b58-d77ed807b506.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Adaptive UI - Add density, shape, and font reference tokens (#132)
  change/@adaptive-web-adaptive-ui-4d6986b1-1304-429f-8b58-d77ed807b506.json
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/color/palette-okhsl.ts
  packages/adaptive-ui/src/design-tokens/density.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/design-tokens/type.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer - Update bindings and add delta tokens
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/components/design-token-add/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/design-token-field/index.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer - Update bindings and add delta tokens (#133)
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/components/design-token-add/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/design-token-field/index.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

update fast dependencies
  package-lock.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

fix fast imports
  package-lock.json
  packages/adaptive-ui-figma-designer/src/ui/components/design-token-field/index.ts
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/adaptive-design-tokens.ts
  packages/adaptive-ui/src/apply-mixins.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-5cbfb44a-0c65-4ea7-b11e-dfcca25a4960.json
  change/@adaptive-web-adaptive-web-components-468d3c54-91d7-4cfd-a287-6681ccd5f766.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

chore: update fast dependencies (#134)
  change/@adaptive-web-adaptive-ui-5cbfb44a-0c65-4ea7-b11e-dfcca25a4960.json
  change/@adaptive-web-adaptive-web-components-468d3c54-91d7-4cfd-a287-6681ccd5f766.json
  package-lock.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui-figma-designer/src/ui/components/design-token-field/index.ts
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/adaptive-design-tokens.ts
  packages/adaptive-ui/src/apply-mixins.ts
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer - Fix the fill color evaluation
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Additional fixes
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
  packages/adaptive-ui/src/color/palette-okhsl.ts
  packages/adaptive-ui/src/color/recipes/contrast-and-delta-swatch-set.ts
  packages/adaptive-ui/src/color/recipes/delta-swatch-set.ts
  packages/adaptive-ui/src/color/swatch.ts
  packages/adaptive-ui/src/color/utilities/conditional.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-225efc1f-77b4-4221-bde7-3e390f91e404.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer - Fix the fill color evaluation (#135)
  change/@adaptive-web-adaptive-ui-225efc1f-77b4-4221-bde7-3e390f91e404.json
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
  packages/adaptive-ui/src/color/palette-okhsl.ts
  packages/adaptive-ui/src/color/recipes/contrast-and-delta-swatch-set.ts
  packages/adaptive-ui/src/color/recipes/delta-swatch-set.ts
  packages/adaptive-ui/src/color/swatch.ts
  packages/adaptive-ui/src/color/utilities/conditional.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-e9b55f15-87f7-421e-95fe-f4d0380e715e.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

A handful of fixes in the Designer (#136)
  change/@adaptive-web-adaptive-ui-e9b55f15-87f7-421e-95fe-f4d0380e715e.json
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/components/corner-radius/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/stealth-button/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/token-glyph/index.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/color/recipes/contrast-and-delta-swatch-set.ts
  packages/adaptive-ui/src/color/recipes/delta-swatch-set.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/modules/styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Added `destructive` color palette and recipes
  packages/adaptive-ui-figma-designer/designer-plugin.zip
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/design-tokens/palette.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-34b70724-2f9f-46e6-a8e9-1d3bc0db656e.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Added destructive color palette and recipes (#137)
  change/@adaptive-web-adaptive-ui-34b70724-2f9f-46e6-a8e9-1d3bc0db656e.json
  packages/adaptive-ui-figma-designer/designer-plugin.zip
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/design-tokens/palette.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Added support for setting font weight and italic style
  packages/adaptive-ui-figma-designer/src/core/controller.ts
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/design-tokens/type.ts
  packages/adaptive-ui/src/token-helpers.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-aca7a0a4-d703-4df0-a6a7-31ea31149f18.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Added support for setting font weight and italic style (#138)
  change/@adaptive-web-adaptive-ui-aca7a0a4-d703-4df0-a6a7-31ea31149f18.json
  packages/adaptive-ui-figma-designer/src/core/controller.ts
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/design-tokens/type.ts
  packages/adaptive-ui/src/token-helpers.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Fix density application Remove unintended zip file
  packages/adaptive-ui-figma-designer/designer-plugin.zip
  packages/adaptive-ui-figma-designer/src/figma/node.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Fix density application (#139)
  packages/adaptive-ui-figma-designer/designer-plugin.zip
  packages/adaptive-ui-figma-designer/src/figma/node.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Refactor the UI controller class
  .vscode/settings.json
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/components/design-tokens-form/index.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-elements.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-styles.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-tokens.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer: Cleanup token and style module preview - Also fix a lingering fill color issue - Turn on evaluation of invisible nodes to keep everything current
  packages/adaptive-ui-figma-designer/src/core/controller.ts
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/main.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/assets/blob.svg
  packages/adaptive-ui-figma-designer/src/ui/components/corner-radius/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/drawer/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/style-token-item/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/token-glyph/index.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-elements.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-styles.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-tokens.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Adaptive UI: Update grouped tokens to use period instead of underscore
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui/src/design-tokens/density.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-f0a16521-5d26-45eb-a365-13fdf9e51031.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Refactor the UI controller class (#140)
  .vscode/settings.json
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/components/design-tokens-form/index.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-elements.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-styles.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-tokens.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer: Cleanup token and style module preview - Also fix a lingering fill color issue - Turn on evaluation of invisible nodes to keep everything current
  packages/adaptive-ui-figma-designer/src/core/controller.ts
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/main.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/assets/blob.svg
  packages/adaptive-ui-figma-designer/src/ui/components/corner-radius/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/drawer/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/style-token-item/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/token-glyph/index.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-elements.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-styles.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-tokens.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer: Cleanup token and style module preview (#141)
  packages/adaptive-ui-figma-designer/src/core/controller.ts
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/main.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/assets/blob.svg
  packages/adaptive-ui-figma-designer/src/ui/components/corner-radius/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/drawer/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/style-token-item/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/token-glyph/index.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-elements.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-styles.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-tokens.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Fix corner radius style not applying
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/modules/styles.ts
Owners: @EisenbergEffect, @bheston

Change files
  change/@adaptive-web-adaptive-ui-3eb0625b-478d-4cb3-8c51-0eede6dde439.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Fix corner radius style not applying (redo) (#146)
  change/@adaptive-web-adaptive-ui-3eb0625b-478d-4cb3-8c51-0eede6dde439.json
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/modules/styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect
