Repository Adaptive-Web-Community/Adaptive-Web-Components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect, @falkicon

Change files
  change/@adaptive-web-adaptive-ui-d459eac4-9359-495a-94b6-db1b9e726274.json
  change/@adaptive-web-adaptive-web-components-ca691012-4ca5-4f72-ae9e-ce28f0d7e6b6.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Add style modules (#57)
  change/@adaptive-web-adaptive-ui-d459eac4-9359-495a-94b6-db1b9e726274.json
  change/@adaptive-web-adaptive-web-components-ca691012-4ca5-4f72-ae9e-ce28f0d7e6b6.json
  packages/adaptive-ui-explorer/src/components/adaptive-component.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui-explorer/src/components/style-example.ts
  packages/adaptive-ui-explorer/src/components/swatch.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/color/recipe.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/index.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/index.ts
  packages/adaptive-ui/src/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/modules/index.ts
  packages/adaptive-ui/src/modules/selector.ts
  packages/adaptive-ui/src/modules/types.ts
  packages/adaptive-ui/src/types.ts
  packages/adaptive-web-components/src/components/anchor/anchor.compose.ts
  packages/adaptive-web-components/src/components/anchor/anchor.styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Added reminder to run beachball
  .github/pull_request_template.md
Owners: @awentzel, @EisenbergEffect

Added CI workflow
  .github/workflows/ci-validate-pr.yml
  package.json
Owners: @awentzel, @EisenbergEffect, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-ui-4e972827-718f-45be-b101-e9d54bf6899b.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Updated more color tokens and modules (#59)
  change/@adaptive-web-adaptive-ui-4e972827-718f-45be-b101-e9d54bf6899b.json
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui-explorer/src/components/swatch.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/README.md
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/layer.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

add examples to root readme
  README.md
Owners: @awentzel, @bheston, @falkicon, @EisenbergEffect

Added CI workflow and reminder to run beachball (#58)
  .github/pull_request_template.md
  .github/workflows/ci-validate-pr.yml
  package.json
Owners: @awentzel, @EisenbergEffect, @bheston, @KingOfTac

Add customization example placeholder
  examples/README.md
  examples/customize-component/README.md
  examples/customize-component/index.html
  examples/customize-component/package.json
  examples/customize-component/src/index.ts
  examples/customize-component/tsconfig.json
  examples/customize-component/vite.config.js
Owners: @bheston, @KingOfTac

remove added horizontal rules
  README.md
Owners: @awentzel, @bheston, @falkicon, @EisenbergEffect

add examples to root readme (#61)
  README.md
Owners: @awentzel, @bheston, @falkicon, @EisenbergEffect

Update Styles to typed StylesProperty key
  packages/adaptive-ui-explorer/src/components/style-example.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/modules/css.ts
  packages/adaptive-ui/src/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/modules/selector.ts
  packages/adaptive-ui/src/modules/types.ts
  packages/adaptive-ui/src/types.ts
  packages/adaptive-ui/tsconfig.json
Owners: @EisenbergEffect, @bheston

Change files
  change/@adaptive-web-adaptive-ui-8ba7e929-6e65-43aa-b8f8-2a29af929af9.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Update Styles to typed StylesProperty key (#64)
  change/@adaptive-web-adaptive-ui-8ba7e929-6e65-43aa-b8f8-2a29af929af9.json
  packages/adaptive-ui-explorer/src/components/style-example.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/modules/css.ts
  packages/adaptive-ui/src/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/modules/selector.ts
  packages/adaptive-ui/src/modules/types.ts
  packages/adaptive-ui/src/types.ts
  packages/adaptive-ui/tsconfig.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Add customization example placeholder (#62)
  examples/README.md
  examples/customize-component/README.md
  examples/customize-component/index.html
  examples/customize-component/package.json
  examples/customize-component/src/index.ts
  examples/customize-component/tsconfig.json
  examples/customize-component/vite.config.js
Owners: @bheston, @KingOfTac

Update package lock from previous merge
  package-lock.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Update package lock from previous merge (#65)
  package-lock.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

update to latest
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/package.json
Owners: @EisenbergEffect, @bheston, @KingOfTac

Updated styles for updates from fast-foundation
  package-lock.json
  packages/adaptive-web-components/package.json
  packages/adaptive-web-components/src/components/data-grid-cell/data-grid-cell.styles.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.styles.ts
  packages/adaptive-web-components/src/components/data-grid/data-grid.stories.ts
  packages/adaptive-web-components/src/components/data-grid/data-grid.styles.ts
  packages/adaptive-web-components/src/components/slider/slider.styles.ts
  packages/adaptive-web-components/src/components/tabs/tabs.stories.ts
  packages/adaptive-web-components/src/components/tabs/tabs.styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

install
  package-lock.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-e3b4242c-efae-4f45-987b-c4f47d96dc75.json
  change/@adaptive-web-adaptive-web-components-5aa394e6-8f7e-448f-bd0b-1de4f7e575f2.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

feat: update to latest FAST (#63)
  change/@adaptive-web-adaptive-ui-e3b4242c-efae-4f45-987b-c4f47d96dc75.json
  change/@adaptive-web-adaptive-web-components-5aa394e6-8f7e-448f-bd0b-1de4f7e575f2.json
  package-lock.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/package.json
  packages/adaptive-web-components/src/components/data-grid-cell/data-grid-cell.styles.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.styles.ts
  packages/adaptive-web-components/src/components/data-grid/data-grid.stories.ts
  packages/adaptive-web-components/src/components/data-grid/data-grid.styles.ts
  packages/adaptive-web-components/src/components/slider/slider.styles.ts
  packages/adaptive-web-components/src/components/tabs/tabs.stories.ts
  packages/adaptive-web-components/src/components/tabs/tabs.styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Clean up style module definition
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/modules/types.ts
  packages/adaptive-web-components/docs/api-report.md
  packages/adaptive-web-components/src/components/checkbox/checkbox.compose.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.definition.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.styles.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.template.ts
  packages/adaptive-web-components/src/design-system.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-ui-5853f7b5-40b8-44f3-940d-399362cceae9.json
  change/@adaptive-web-adaptive-web-components-ee19d797-05d2-4aee-853f-3c06bfff0cd4.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Moved `Anatomy` types
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/modules/types.ts
  packages/adaptive-web-components/docs/api-report.md
  packages/adaptive-web-components/src/components/checkbox/checkbox.compose.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.template.ts
  packages/adaptive-web-components/src/design-system.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Clean up style module definition (#60)
  change/@adaptive-web-adaptive-ui-5853f7b5-40b8-44f3-940d-399362cceae9.json
  change/@adaptive-web-adaptive-web-components-ee19d797-05d2-4aee-853f-3c06bfff0cd4.json
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/modules/types.ts
  packages/adaptive-web-components/docs/api-report.md
  packages/adaptive-web-components/src/components/checkbox/checkbox.compose.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.definition.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.styles.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.template.ts
  packages/adaptive-web-components/src/design-system.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Renamed `perceivable` colors to `discernible`
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/README.md
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.definition.ts
  packages/adaptive-web-components/src/components/radio/radio.styles.ts
  packages/adaptive-web-components/src/components/slider/slider.styles.ts
  packages/adaptive-web-components/src/components/switch/switch.styles.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-ui-0e25b2fa-fbfd-400a-aeb2-0b107b41be45.json
  change/@adaptive-web-adaptive-web-components-9c8db456-1c6f-4206-bb3a-8839633fc09b.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Renamed `perceivable` colors to `discernible` (#66)
  change/@adaptive-web-adaptive-ui-0e25b2fa-fbfd-400a-aeb2-0b107b41be45.json
  change/@adaptive-web-adaptive-web-components-9c8db456-1c6f-4206-bb3a-8839633fc09b.json
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/README.md
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.definition.ts
  packages/adaptive-web-components/src/components/radio/radio.styles.ts
  packages/adaptive-web-components/src/components/slider/slider.styles.ts
  packages/adaptive-web-components/src/components/switch/switch.styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

style fixes
  packages/adaptive-web-components/src/components/checkbox/checkbox.styles.ts
  packages/adaptive-web-components/src/components/number-field/number-field.styles.ts
  packages/adaptive-web-components/src/components/picker-list/picker-list.styles.ts
  packages/adaptive-web-components/src/components/picker/picker.styles.ts
  packages/adaptive-web-components/src/components/radio/radio.styles.ts
  packages/adaptive-web-components/src/components/search/search.styles.ts
  packages/adaptive-web-components/src/components/switch/switch.styles.ts
  packages/adaptive-web-components/src/components/text-area/text-area.styles.ts
  packages/adaptive-web-components/src/components/text-field/text-field.styles.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-web-components-8b329238-ae80-44fe-93f1-26f5993770dc.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Update Adaptive UI code sequence (organization only)
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
Owners: @EisenbergEffect, @bheston

Change files
  change/@adaptive-web-adaptive-ui-0a6575e7-51d9-40de-8047-dae15516957c.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Update Adaptive UI code sequence (organization only) (#68)
  change/@adaptive-web-adaptive-ui-0a6575e7-51d9-40de-8047-dae15516957c.json
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Finish semantic color recipe system and foundation style modules
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/color/recipe.ts
  packages/adaptive-ui/src/color/recipes/contrast-and-delta-swatch-set.ts
  packages/adaptive-ui/src/color/recipes/delta-swatch-set.ts
  packages/adaptive-ui/src/color/swatch.ts
  packages/adaptive-ui/src/color/utilities/conditional.ts
  packages/adaptive-ui/src/design-tokens/README.md
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-web-components/src/components/anchor/anchor.styles.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.definition.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-ui-68e8e03e-6a83-4f42-acfd-d32ac1791795.json
  change/@adaptive-web-adaptive-web-components-45ec4d64-27db-48f6-b201-997549877931.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Finish semantic color recipe system and foundation style modules (#69)
  change/@adaptive-web-adaptive-ui-68e8e03e-6a83-4f42-acfd-d32ac1791795.json
  change/@adaptive-web-adaptive-web-components-45ec4d64-27db-48f6-b201-997549877931.json
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/color/recipe.ts
  packages/adaptive-ui/src/color/recipes/contrast-and-delta-swatch-set.ts
  packages/adaptive-ui/src/color/recipes/delta-swatch-set.ts
  packages/adaptive-ui/src/color/swatch.ts
  packages/adaptive-ui/src/color/utilities/conditional.ts
  packages/adaptive-ui/src/design-tokens/README.md
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-web-components/src/components/anchor/anchor.styles.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.definition.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Empty labels not being hidden (#67)
  change/@adaptive-web-adaptive-web-components-8b329238-ae80-44fe-93f1-26f5993770dc.json
  packages/adaptive-web-components/src/components/checkbox/checkbox.styles.ts
  packages/adaptive-web-components/src/components/number-field/number-field.styles.ts
  packages/adaptive-web-components/src/components/picker-list/picker-list.styles.ts
  packages/adaptive-web-components/src/components/picker/picker.styles.ts
  packages/adaptive-web-components/src/components/radio/radio.styles.ts
  packages/adaptive-web-components/src/components/search/search.styles.ts
  packages/adaptive-web-components/src/components/switch/switch.styles.ts
  packages/adaptive-web-components/src/components/text-area/text-area.styles.ts
  packages/adaptive-web-components/src/components/text-field/text-field.styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-a8bde1d7-75ff-4a7b-a73c-58c3b8777683.json
  change/@adaptive-web-adaptive-web-components-a8642f8b-05e2-4473-9350-7c341a39adb0.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-web-components-6e52aa65-2d1f-4d70-a1a3-458236ea36aa.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

.github/CODEOWNERS:

# Approval for at least one *code owner* is required all packages.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more *code owners*.
# The last matching pattern has the most precendence.

# These *code owners* will be the default owners for everything in the repository.
* @awentzel @bheston @KingOfTac @EisenbergEffect

# File type specific owners
# Markdown specific files
*.md @awentzel @bheston @falkicon @EisenbergEffect
/docs/ @awentzel @bheston @falkicon @EisenbergEffect

# GitHub management
.github/ @awentzel @EisenbergEffect
.github/workflows/ @awentzel @EisenbergEffect

# Build scripts
*.yml @awentzel @EisenbergEffect
build/ @awentzel @EisenbergEffect

# Package specific owners
# Examples
/examples/ @bheston @KingOfTac

# Tooling

# Utilities

# Web components
/packages/adaptive-ui/ @EisenbergEffect @bheston
/packages/adaptive-ui-explorer/ @EisenbergEffect @bheston
/packages/adaptive-web-components/ @EisenbergEffect @bheston @KingOfTac
