Repository Adaptive-Web-Community/Adaptive-Web-Components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect, @falkicon

Fix alpha handling
  packages/adaptive-ui/src/color/color.ts
Owners: @EisenbergEffect, @bheston

Added tests Updated imports for minification
  packages/adaptive-ui-explorer/src/components/swatch.ts
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/components/token-glyph/index.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/color/color.spec.ts
  packages/adaptive-ui/src/color/color.ts
  packages/adaptive-ui/src/color/palette-rgb.ts
  packages/adaptive-ui/src/color/swatch.spec.ts
  packages/adaptive-ui/src/color/swatch.ts
Owners: @EisenbergEffect, @bheston, @awentzel, @KingOfTac

Migrated from fast-colors to culori
  .vscode/settings.json
  package-lock.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui-explorer/src/components/palette-gradient/palette-gradient.template.ts
  packages/adaptive-ui-explorer/src/components/swatch.ts
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/components/token-glyph/index.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-elements.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-tokens.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/color/README.md
  packages/adaptive-ui/src/color/color.ts
  packages/adaptive-ui/src/color/index.ts
  packages/adaptive-ui/src/color/palette-okhsl.ts
  packages/adaptive-ui/src/color/palette-rgb.spec.ts
  packages/adaptive-ui/src/color/palette-rgb.ts
  packages/adaptive-ui/src/color/palette.ts
  packages/adaptive-ui/src/color/recipes/black-or-white-by-contrast-set.ts
  packages/adaptive-ui/src/color/recipes/black-or-white-by-contrast.spec.ts
  packages/adaptive-ui/src/color/recipes/contrast-and-delta-swatch-set.ts
  packages/adaptive-ui/src/color/recipes/contrast-swatch.spec.ts
  packages/adaptive-ui/src/color/recipes/delta-swatch-set.ts
  packages/adaptive-ui/src/color/recipes/ideal-color-delta-swatch-set.spec.ts
  packages/adaptive-ui/src/color/recipes/ideal-color-delta-swatch-set.ts
  packages/adaptive-ui/src/color/swatch.ts
  packages/adaptive-ui/src/color/utilities/color-constants.ts
  packages/adaptive-ui/src/color/utilities/conditional.ts
  packages/adaptive-ui/src/color/utilities/luminance-swatch.ts
  packages/adaptive-ui/src/color/utilities/opacity.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Fix luminance calculation import
  packages/adaptive-ui/src/color/color.ts
Owners: @EisenbergEffect, @bheston

Fix some build issues
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/figma/tsconfig.json
  packages/adaptive-ui-figma-designer/src/ui/tsconfig.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Adaptive UI: Migrated from fast-colors to culori (#164)
  .vscode/settings.json
  change/@adaptive-web-adaptive-ui-82cdb824-eb0c-4e1a-9434-e9e75cd32956.json
  package-lock.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui-explorer/src/components/palette-gradient/palette-gradient.template.ts
  packages/adaptive-ui-explorer/src/components/swatch.ts
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/figma/tsconfig.json
  packages/adaptive-ui-figma-designer/src/ui/components/token-glyph/index.ts
  packages/adaptive-ui-figma-designer/src/ui/tsconfig.json
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-elements.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-tokens.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/color/README.md
  packages/adaptive-ui/src/color/color.spec.ts
  packages/adaptive-ui/src/color/color.ts
  packages/adaptive-ui/src/color/index.ts
  packages/adaptive-ui/src/color/palette-okhsl.ts
  packages/adaptive-ui/src/color/palette-rgb.spec.ts
  packages/adaptive-ui/src/color/palette-rgb.ts
  packages/adaptive-ui/src/color/palette.ts
  packages/adaptive-ui/src/color/recipes/black-or-white-by-contrast-set.ts
  packages/adaptive-ui/src/color/recipes/black-or-white-by-contrast.spec.ts
  packages/adaptive-ui/src/color/recipes/contrast-and-delta-swatch-set.ts
  packages/adaptive-ui/src/color/recipes/contrast-swatch.spec.ts
  packages/adaptive-ui/src/color/recipes/delta-swatch-set.ts
  packages/adaptive-ui/src/color/recipes/ideal-color-delta-swatch-set.spec.ts
  packages/adaptive-ui/src/color/recipes/ideal-color-delta-swatch-set.ts
  packages/adaptive-ui/src/color/swatch.spec.ts
  packages/adaptive-ui/src/color/swatch.ts
  packages/adaptive-ui/src/color/utilities/color-constants.ts
  packages/adaptive-ui/src/color/utilities/conditional.ts
  packages/adaptive-ui/src/color/utilities/luminance-swatch.ts
  packages/adaptive-ui/src/color/utilities/opacity.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer: Fix containment issue with focus indicators in Figma.
  .vscode/settings.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/controller.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-elements.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-d998460b-6962-454f-b19c-e2d7d55ff826.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Fix an issue with foreground on text nodes
  packages/adaptive-ui-figma-designer/src/figma/node.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-web-components-71eb14e3-f8d5-4ef7-8a87-7f748d117bde.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Fixed border not getting set on fill styles
  packages/adaptive-ui/src/design-tokens/modules.ts
Owners: @EisenbergEffect, @bheston

Change files
  change/@adaptive-web-adaptive-ui-4b2506c8-6e4d-46ea-bfc2-c4a2f728789d.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer: Fix containment issue with focus indicators in Figma. (#165)
  .vscode/settings.json
  change/@adaptive-web-adaptive-ui-d998460b-6962-454f-b19c-e2d7d55ff826.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/controller.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-elements.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Remove svg icon configuration from components
  package-lock.json
  packages/adaptive-web-components/.storybook/main.cjs
  packages/adaptive-web-components/.storybook/preview-head.html
  packages/adaptive-web-components/package.json
  packages/adaptive-web-components/rollup.config.js
  packages/adaptive-web-components/src/gobal.d.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

WIP
  examples/custom-icons/README.md
  examples/custom-icons/index.html
  examples/custom-icons/package.json
  examples/custom-icons/src/app.ts
  examples/custom-icons/src/assets/check.svg
  examples/custom-icons/src/assets/indeterminate.svg
  examples/custom-icons/src/gobal.d.ts
  examples/custom-icons/src/index.ts
  examples/custom-icons/tsconfig.json
  examples/custom-icons/vite.config.js
  package-lock.json
Owners: @bheston, @KingOfTac, @awentzel, @EisenbergEffect

Component cleanup - Adjust small control label style - Fix position issue on combobox - Fix shortcut issue in Storybook
  packages/adaptive-web-components/.storybook/manager.mjs
  packages/adaptive-web-components/src/components/checkbox/checkbox.styles.modules.ts
  packages/adaptive-web-components/src/components/combobox/combobox.styles.ts
  packages/adaptive-web-components/src/components/radio/radio.styles.modules.ts
  packages/adaptive-web-components/src/components/switch/switch.styles.modules.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-web-components-729a45f2-bc11-46dc-b00a-f15f7ebbd44c.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Component cleanup (#169)
  change/@adaptive-web-adaptive-web-components-729a45f2-bc11-46dc-b00a-f15f7ebbd44c.json
  packages/adaptive-web-components/.storybook/manager.mjs
  packages/adaptive-web-components/src/components/checkbox/checkbox.styles.modules.ts
  packages/adaptive-web-components/src/components/combobox/combobox.styles.ts
  packages/adaptive-web-components/src/components/radio/radio.styles.modules.ts
  packages/adaptive-web-components/src/components/switch/switch.styles.modules.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-441e8bcb-a127-46ee-80d4-854d9dbca84d.json
  change/@adaptive-web-adaptive-web-components-7339c7b4-c12c-4f9b-9123-3ef45537efa4.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Fix tests run
  package-lock.json
  packages/adaptive-ui/.mocharc.json
  packages/adaptive-ui/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Revert interactive Card addition (will update separately)
  packages/adaptive-web-components/src/components/card/card.compose.ts
  packages/adaptive-web-components/src/components/card/card.stories.ts
  packages/adaptive-web-components/src/components/card/card.styles.modules.ts
  packages/adaptive-web-components/src/components/card/card.styles.ts
  packages/adaptive-web-components/src/components/card/card.template.ts
  packages/adaptive-web-components/src/components/card/card.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Centralize flyout styling
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-web-components/src/components/combobox/combobox.styles.modules.ts
  packages/adaptive-web-components/src/components/menu/menu.styles.modules.ts
  packages/adaptive-web-components/src/components/picker-menu/picker-menu.styles.modules.ts
  packages/adaptive-web-components/src/components/picker/picker.styles.modules.ts
  packages/adaptive-web-components/src/components/select/select.styles.modules.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Cleanup changes
  change/@adaptive-web-adaptive-ui-441e8bcb-a127-46ee-80d4-854d9dbca84d.json
  change/@adaptive-web-adaptive-web-components-7339c7b4-c12c-4f9b-9123-3ef45537efa4.json
  packages/adaptive-web-components/docs/api-report.md
  packages/adaptive-web-components/src/components/card/card.template.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Updated elevation tokens to work with Adaptive Styles (#168)
  change/@adaptive-web-adaptive-ui-441e8bcb-a127-46ee-80d4-854d9dbca84d.json
  change/@adaptive-web-adaptive-web-components-7339c7b4-c12c-4f9b-9123-3ef45537efa4.json
  package-lock.json
  packages/adaptive-ui/.mocharc.json
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/adaptive-design-tokens.ts
  packages/adaptive-ui/src/color/color.ts
  packages/adaptive-ui/src/design-tokens/elevation.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/modules/css.ts
  packages/adaptive-ui/src/modules/types.ts
  packages/adaptive-ui/src/shadow/index.ts
  packages/adaptive-ui/src/token-helpers.ts
  packages/adaptive-web-components/src/components/card/card.styles.modules.ts
  packages/adaptive-web-components/src/components/card/card.styles.ts
  packages/adaptive-web-components/src/components/combobox/combobox.styles.modules.ts
  packages/adaptive-web-components/src/components/combobox/combobox.styles.ts
  packages/adaptive-web-components/src/components/dialog/dialog.styles.modules.ts
  packages/adaptive-web-components/src/components/dialog/dialog.styles.ts
  packages/adaptive-web-components/src/components/menu/menu.styles.modules.ts
  packages/adaptive-web-components/src/components/menu/menu.styles.ts
  packages/adaptive-web-components/src/components/picker-menu/picker-menu.styles.modules.ts
  packages/adaptive-web-components/src/components/picker-menu/picker-menu.styles.ts
  packages/adaptive-web-components/src/components/picker/picker.styles.modules.ts
  packages/adaptive-web-components/src/components/picker/picker.styles.ts
  packages/adaptive-web-components/src/components/select/select.styles.modules.ts
  packages/adaptive-web-components/src/components/select/select.styles.ts
  packages/adaptive-web-components/src/components/tooltip/tooltip.styles.modules.ts
  packages/adaptive-web-components/src/components/tooltip/tooltip.styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Added density and component styling helpers
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/density/index.ts
  packages/adaptive-web-components/docs/api-report.md
  packages/adaptive-web-components/src/index.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-ui-0f4590a7-06cd-4556-921f-54831283c1dd.json
  change/@adaptive-web-adaptive-web-components-1b25a35c-1ea0-4c2b-a03b-1514a5895a2a.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Added density and component styling helpers (#170)
  change/@adaptive-web-adaptive-ui-0f4590a7-06cd-4556-921f-54831283c1dd.json
  change/@adaptive-web-adaptive-web-components-1b25a35c-1ea0-4c2b-a03b-1514a5895a2a.json
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/density/index.ts
  packages/adaptive-web-components/docs/api-report.md
  packages/adaptive-web-components/src/index.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Added the sample app layout back to the Explorer
  .vscode/settings.json
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/component-type.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.ts
  packages/adaptive-ui-explorer/src/components/control-pane/index.ts
  packages/adaptive-ui-explorer/src/components/layer-background/index.ts
  packages/adaptive-ui-explorer/src/components/palette-gradient/index.ts
  packages/adaptive-ui-explorer/src/components/style-example.ts
  packages/adaptive-ui-explorer/src/components/swatch.ts
  packages/adaptive-ui-explorer/src/sample/assets.ts
  packages/adaptive-ui-explorer/src/sample/index.ts
  packages/adaptive-ui-explorer/src/sample/sample-app/index.ts
  packages/adaptive-ui-explorer/src/sample/sample-app/sample-app.styles.ts
  packages/adaptive-ui-explorer/src/sample/sample-app/sample-app.template.ts
  packages/adaptive-ui-explorer/src/sample/sample-app/sample-app.ts
  packages/adaptive-ui-explorer/src/sample/sample-page/index.ts
  packages/adaptive-ui-explorer/src/sample/sample-page/sample-page.styles.ts
  packages/adaptive-ui-explorer/src/sample/sample-page/sample-page.template.ts
  packages/adaptive-ui-explorer/src/sample/sample-page/sample-page.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Update styling
  packages/adaptive-ui-explorer/src/sample/sample-app/sample-app.styles.ts
Owners: @EisenbergEffect, @bheston

Change files
  change/@adaptive-web-adaptive-web-components-5882d7f1-fab6-47ac-afbf-6902a107c524.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Added the sample app layout back to the Explorer (#167)
  .vscode/settings.json
  change/@adaptive-web-adaptive-web-components-5882d7f1-fab6-47ac-afbf-6902a107c524.json
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/component-type.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.ts
  packages/adaptive-ui-explorer/src/components/control-pane/index.ts
  packages/adaptive-ui-explorer/src/components/layer-background/index.ts
  packages/adaptive-ui-explorer/src/components/palette-gradient/index.ts
  packages/adaptive-ui-explorer/src/components/style-example.ts
  packages/adaptive-ui-explorer/src/components/swatch.ts
  packages/adaptive-ui-explorer/src/sample/assets.ts
  packages/adaptive-ui-explorer/src/sample/index.ts
  packages/adaptive-ui-explorer/src/sample/sample-app/index.ts
  packages/adaptive-ui-explorer/src/sample/sample-app/sample-app.styles.ts
  packages/adaptive-ui-explorer/src/sample/sample-app/sample-app.template.ts
  packages/adaptive-ui-explorer/src/sample/sample-app/sample-app.ts
  packages/adaptive-ui-explorer/src/sample/sample-page/index.ts
  packages/adaptive-ui-explorer/src/sample/sample-page/sample-page.styles.ts
  packages/adaptive-ui-explorer/src/sample/sample-page/sample-page.template.ts
  packages/adaptive-ui-explorer/src/sample/sample-page/sample-page.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

update data grid styles to use subgrid.
  packages/adaptive-web-components/src/components/anchor/anchor.options.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.compose.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.styles.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.ts
  packages/adaptive-web-components/src/components/data-grid/data-grid.styles.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-web-components-cc7e748e-c4f1-4ef1-88bf-b0c93ae66117.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

remove unrelated file that was accidentally committed
  packages/adaptive-web-components/src/components/anchor/anchor.options.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.compose.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.styles.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

update grid styles
  packages/adaptive-web-components/src/components/data-grid-cell/data-grid-cell.styles.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.compose.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.styles.ts
  packages/adaptive-web-components/src/components/data-grid-row/data-grid-row.ts
  packages/adaptive-web-components/src/components/data-grid/data-grid.styles.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

quotes
  packages/adaptive-web-components/src/components/data-grid/data-grid.styles.ts
  packages/adaptive-web-components/src/components/data-grid/data-grid.template.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

applying package updates
  change/@adaptive-web-adaptive-ui-0f4590a7-06cd-4556-921f-54831283c1dd.json
  change/@adaptive-web-adaptive-ui-441e8bcb-a127-46ee-80d4-854d9dbca84d.json
  change/@adaptive-web-adaptive-ui-4a2ed00b-771c-4531-9808-f03159b28bf9.json
  change/@adaptive-web-adaptive-ui-4b2506c8-6e4d-46ea-bfc2-c4a2f728789d.json
  change/@adaptive-web-adaptive-ui-73e391e4-8d30-43d4-adb3-e25f35e09723.json
  change/@adaptive-web-adaptive-ui-82cdb824-eb0c-4e1a-9434-e9e75cd32956.json
  change/@adaptive-web-adaptive-ui-834cdbaa-9341-4063-a72b-f6ea2f1fe264.json
  change/@adaptive-web-adaptive-ui-be94cfb8-7fcd-465e-a89d-1fb7a1c82d9d.json
  change/@adaptive-web-adaptive-ui-d998460b-6962-454f-b19c-e2d7d55ff826.json
  change/@adaptive-web-adaptive-ui-dcb49912-a53a-4289-bbd2-b5117bafc451.json
  change/@adaptive-web-adaptive-ui-e22c0e69-ddd1-4daa-8582-ea65df858880.json
  change/@adaptive-web-adaptive-web-components-1b25a35c-1ea0-4c2b-a03b-1514a5895a2a.json
  change/@adaptive-web-adaptive-web-components-1f3a9607-2e82-49c5-b7ba-ba9de8f9d63d.json
  change/@adaptive-web-adaptive-web-components-4f10e619-dea0-468d-9f77-c904dfcfe772.json
  change/@adaptive-web-adaptive-web-components-52f429c6-0fd9-4c89-8129-e130742b20a3.json
  change/@adaptive-web-adaptive-web-components-53b24c53-96a4-443f-b5f0-1b5f51768892.json
  change/@adaptive-web-adaptive-web-components-5882d7f1-fab6-47ac-afbf-6902a107c524.json
  change/@adaptive-web-adaptive-web-components-6dc6a84e-64fc-4e8d-ae1a-3460ce54cce8.json
  change/@adaptive-web-adaptive-web-components-71eb14e3-f8d5-4ef7-8a87-7f748d117bde.json
  change/@adaptive-web-adaptive-web-components-729a45f2-bc11-46dc-b00a-f15f7ebbd44c.json
  change/@adaptive-web-adaptive-web-components-7339c7b4-c12c-4f9b-9123-3ef45537efa4.json
  examples/customize-component/package.json
  examples/use-adaptive-components/package.json
  package-lock.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui/CHANGELOG.json
  packages/adaptive-ui/CHANGELOG.md
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/CHANGELOG.json
  packages/adaptive-web-components/CHANGELOG.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Fix tsdoc
  packages/adaptive-web-components/docs/api-report.md
  packages/adaptive-web-components/src/styles/index.ts
  packages/adaptive-web-components/tsdoc.json
Owners: @EisenbergEffect, @bheston, @KingOfTac

Change files
  change/@adaptive-web-adaptive-web-components-9fd4de3c-107c-447f-b092-1ec704fc9402.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Fix tsdoc (#174)
  change/@adaptive-web-adaptive-web-components-9fd4de3c-107c-447f-b092-1ec704fc9402.json
  packages/adaptive-web-components/docs/api-report.md
  packages/adaptive-web-components/src/styles/index.ts
  packages/adaptive-web-components/tsdoc.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

.github/CODEOWNERS:

# Approval for at least one *code owner* is required all packages.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more *code owners*.
# The last matching pattern has the most precendence.

# These *code owners* will be the default owners for everything in the repository.
* @awentzel @bheston @KingOfTac @EisenbergEffect

# File type specific owners
# Markdown specific files
*.md @awentzel @bheston @falkicon @EisenbergEffect
/docs/ @awentzel @bheston @falkicon @EisenbergEffect

# GitHub management
.github/ @awentzel @EisenbergEffect
.github/workflows/ @awentzel @EisenbergEffect

# Build scripts
*.yml @awentzel @EisenbergEffect
build/ @awentzel @EisenbergEffect

# Package specific owners
# Examples
/examples/ @bheston @KingOfTac

# Tooling

# Utilities

# Web components
/packages/adaptive-ui/ @EisenbergEffect @bheston
/packages/adaptive-ui-explorer/ @EisenbergEffect @bheston
/packages/adaptive-web-components/ @EisenbergEffect @bheston @KingOfTac
