Repository Adaptive-Web-Community/Adaptive-Web-Components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect, @falkicon

Adaptive UI: Formalized `Recipe` structure to enable better composition
  packages/adaptive-ui-figma-designer/src/core/registry/custom-recipes.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/color/recipe.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/layer.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/elevation/recipe.ts
  packages/adaptive-ui/src/recipes.ts
  packages/adaptive-web-components/src/components/tree-item/tree-item.styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-46eea0a4-4401-4a9a-b0cb-dc3dfb1a9eac.json
  change/@adaptive-web-adaptive-web-components-cb0d66f8-ea09-4e3b-96e0-40390e01607a.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Adaptive UI: Formalized `Recipe` structure to enable better composition (#105)
  change/@adaptive-web-adaptive-ui-46eea0a4-4401-4a9a-b0cb-dc3dfb1a9eac.json
  change/@adaptive-web-adaptive-web-components-cb0d66f8-ea09-4e3b-96e0-40390e01607a.json
  packages/adaptive-ui-figma-designer/src/core/registry/custom-recipes.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/color/recipe.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/layer.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/elevation/recipe.ts
  packages/adaptive-ui/src/recipes.ts
  packages/adaptive-web-components/src/components/tree-item/tree-item.styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Adaptive UI: Token helpers cleanup
  packages/adaptive-ui/src/density/index.ts
  packages/adaptive-ui/src/design-tokens/appearance.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/elevation.ts
  packages/adaptive-ui/src/design-tokens/index.ts
  packages/adaptive-ui/src/design-tokens/layer.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/design-tokens/palette.ts
  packages/adaptive-ui/src/design-tokens/type.ts
  packages/adaptive-ui/src/index.ts
  packages/adaptive-ui/src/token-helpers.ts
Owners: @EisenbergEffect, @bheston

Change files
  change/@adaptive-web-adaptive-ui-52badea5-1494-4073-a335-ef8562470c5d.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Adaptive UI: Token helpers cleanup (#106)
  change/@adaptive-web-adaptive-ui-52badea5-1494-4073-a335-ef8562470c5d.json
  packages/adaptive-ui/src/density/index.ts
  packages/adaptive-ui/src/design-tokens/appearance.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/elevation.ts
  packages/adaptive-ui/src/design-tokens/index.ts
  packages/adaptive-ui/src/design-tokens/layer.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/design-tokens/palette.ts
  packages/adaptive-ui/src/design-tokens/type.ts
  packages/adaptive-ui/src/index.ts
  packages/adaptive-ui/src/token-helpers.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

move type rample a tokens to reference path
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/index.ts
  packages/adaptive-ui/src/reference.ts
Owners: @EisenbergEffect, @bheston

Change files
  change/@adaptive-web-adaptive-ui-d2785b2f-53c0-4fc8-9293-f9bc0027c2ac.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

chore: move design tokens to optional reference path (#107)
  change/@adaptive-web-adaptive-ui-d2785b2f-53c0-4fc8-9293-f9bc0027c2ac.json
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/index.ts
  packages/adaptive-ui/src/reference.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

update explorer imports
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.styles.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.template.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.ts
  packages/adaptive-ui-explorer/src/components/layer-background/index.ts
  packages/adaptive-ui-explorer/src/components/style-example.ts
  packages/adaptive-ui-explorer/src/components/swatch.ts
Owners: @EisenbergEffect, @bheston

update designer imports
  packages/adaptive-ui-figma-designer/src/core/registry/custom-recipes.ts
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/ui/components/corner-radius/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/design-token-field/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/stealth-button/index.ts
  packages/adaptive-ui-figma-designer/src/ui/components/token-glyph/index.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

updates examples' imports
  examples/customize-component/src/index.ts
  examples/use-adaptive-components/src/index.ts
  packages/adaptive-ui-explorer/src/app.ts
Owners: @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-6e0ca8ae-ac2d-4f40-806c-25a538f0a0ab.json
  change/@adaptive-web-adaptive-web-components-fb405a21-d810-4012-8aa4-2d42fe336de4.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

change files
  change/@adaptive-web-adaptive-ui-6e0ca8ae-ac2d-4f40-806c-25a538f0a0ab.json
  change/@adaptive-web-adaptive-web-components-fb405a21-d810-4012-8aa4-2d42fe336de4.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

add publish workflow
  .github/workflows/publish-packages.yml
Owners: @awentzel, @EisenbergEffect

add publish workflow (#110)
  .github/workflows/publish-packages.yml
Owners: @awentzel, @EisenbergEffect

exports sequence
  packages/adaptive-ui/src/design-tokens/index.ts
Owners: @EisenbergEffect, @bheston

combine duped imports
  packages/adaptive-web-components/src/components/listbox/listbox.styles.modules.ts
  packages/adaptive-web-components/src/components/tooltip/tooltip.styles.modules.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Export color token and style helpers
  examples/customize-component/src/index.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/index.ts
  packages/adaptive-ui/src/modules/styles.ts
  packages/adaptive-ui/src/token-helpers-color.ts
Owners: @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-81d66b12-c2d3-448c-a461-f69df207ce7e.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Export color token and style helpers (#108)
  change/@adaptive-web-adaptive-ui-81d66b12-c2d3-448c-a461-f69df207ce7e.json
  examples/customize-component/src/index.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/index.ts
  packages/adaptive-ui/src/modules/styles.ts
  packages/adaptive-ui/src/token-helpers-color.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Improved typing and metadata on color recipes
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/adaptive-design-tokens.ts
  packages/adaptive-ui/src/color/recipe.ts
  packages/adaptive-ui/src/color/recipes/black-or-white-by-contrast-set.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/index.ts
  packages/adaptive-ui/src/modules/styles.ts
  packages/adaptive-ui/src/token-helpers-color.ts
  packages/adaptive-ui/src/token-helpers.ts
  packages/adaptive-ui/src/types.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-23ce4046-3241-426a-918b-cc361a6bfdff.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Improved typing and metadata on color recipes (#111)
  change/@adaptive-web-adaptive-ui-23ce4046-3241-426a-918b-cc361a6bfdff.json
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/adaptive-design-tokens.ts
  packages/adaptive-ui/src/color/recipe.ts
  packages/adaptive-ui/src/color/recipes/black-or-white-by-contrast-set.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/index.ts
  packages/adaptive-ui/src/modules/styles.ts
  packages/adaptive-ui/src/token-helpers-color.ts
  packages/adaptive-ui/src/token-helpers.ts
  packages/adaptive-ui/src/types.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Add highlight palette and recipes
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.template.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.ts
  packages/adaptive-ui-figma-designer/src/core/registry/custom-recipes.ts
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/design-tokens/palette.ts
  packages/adaptive-ui/src/recipes.ts
  packages/adaptive-ui/src/types.ts
Owners: @EisenbergEffect, @bheston, @awentzel, @KingOfTac

Change files
  change/@adaptive-web-adaptive-ui-0bd327ff-ef0c-4914-98f1-ef5bacf098b3.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Add highlight palette and recipes (#112)
  change/@adaptive-web-adaptive-ui-0bd327ff-ef0c-4914-98f1-ef5bacf098b3.json
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.template.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.ts
  packages/adaptive-ui-figma-designer/src/core/registry/custom-recipes.ts
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/design-tokens/palette.ts
  packages/adaptive-ui/src/recipes.ts
  packages/adaptive-ui/src/types.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-fc02451e-1a04-4f28-a159-53ede7af978f.json
  change/@adaptive-web-adaptive-web-components-4c31d385-6717-4dd3-8117-df8317a12c6f.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

fix failures in publish workflow
  .github/workflows/publish-packages.yml
Owners: @awentzel, @EisenbergEffect

fix failures in publish workflow (#114)
  .github/workflows/publish-packages.yml
Owners: @awentzel, @EisenbergEffect

applying package updates
  change/@adaptive-web-adaptive-ui-0bd327ff-ef0c-4914-98f1-ef5bacf098b3.json
  change/@adaptive-web-adaptive-ui-23ce4046-3241-426a-918b-cc361a6bfdff.json
  change/@adaptive-web-adaptive-ui-46eea0a4-4401-4a9a-b0cb-dc3dfb1a9eac.json
  change/@adaptive-web-adaptive-ui-52badea5-1494-4073-a335-ef8562470c5d.json
  change/@adaptive-web-adaptive-ui-5a8c14e6-76e1-4b14-b0a1-5be5bd4ab774.json
  change/@adaptive-web-adaptive-ui-6e0ca8ae-ac2d-4f40-806c-25a538f0a0ab.json
  change/@adaptive-web-adaptive-ui-81d66b12-c2d3-448c-a461-f69df207ce7e.json
  change/@adaptive-web-adaptive-ui-9cf489bb-f08c-4dbd-ab63-c0fc340423d2.json
  change/@adaptive-web-adaptive-ui-c5541eb5-a043-4841-9783-4f449af6f27d.json
  change/@adaptive-web-adaptive-ui-d2785b2f-53c0-4fc8-9293-f9bc0027c2ac.json
  change/@adaptive-web-adaptive-ui-fc02451e-1a04-4f28-a159-53ede7af978f.json
  change/@adaptive-web-adaptive-web-components-29c191a0-f10e-4247-83e5-59a516148022.json
  change/@adaptive-web-adaptive-web-components-4c31d385-6717-4dd3-8117-df8317a12c6f.json
  change/@adaptive-web-adaptive-web-components-4f880444-6134-4422-8d95-fad857235e9d.json
  change/@adaptive-web-adaptive-web-components-9feaf463-744b-48f4-ac29-48a76f7c3144.json
  change/@adaptive-web-adaptive-web-components-cb0d66f8-ea09-4e3b-96e0-40390e01607a.json
  change/@adaptive-web-adaptive-web-components-fb405a21-d810-4012-8aa4-2d42fe336de4.json
  examples/customize-component/package.json
  examples/use-adaptive-components/package.json
  package-lock.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui/CHANGELOG.json
  packages/adaptive-ui/CHANGELOG.md
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/CHANGELOG.json
  packages/adaptive-web-components/CHANGELOG.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

publish packages
  change/@adaptive-web-adaptive-ui-0bd327ff-ef0c-4914-98f1-ef5bacf098b3.json
  change/@adaptive-web-adaptive-ui-23ce4046-3241-426a-918b-cc361a6bfdff.json
  change/@adaptive-web-adaptive-ui-46eea0a4-4401-4a9a-b0cb-dc3dfb1a9eac.json
  change/@adaptive-web-adaptive-ui-52badea5-1494-4073-a335-ef8562470c5d.json
  change/@adaptive-web-adaptive-ui-5a8c14e6-76e1-4b14-b0a1-5be5bd4ab774.json
  change/@adaptive-web-adaptive-ui-6e0ca8ae-ac2d-4f40-806c-25a538f0a0ab.json
  change/@adaptive-web-adaptive-ui-81d66b12-c2d3-448c-a461-f69df207ce7e.json
  change/@adaptive-web-adaptive-ui-9cf489bb-f08c-4dbd-ab63-c0fc340423d2.json
  change/@adaptive-web-adaptive-ui-c5541eb5-a043-4841-9783-4f449af6f27d.json
  change/@adaptive-web-adaptive-ui-d2785b2f-53c0-4fc8-9293-f9bc0027c2ac.json
  change/@adaptive-web-adaptive-ui-fc02451e-1a04-4f28-a159-53ede7af978f.json
  change/@adaptive-web-adaptive-web-components-29c191a0-f10e-4247-83e5-59a516148022.json
  change/@adaptive-web-adaptive-web-components-4c31d385-6717-4dd3-8117-df8317a12c6f.json
  change/@adaptive-web-adaptive-web-components-4f880444-6134-4422-8d95-fad857235e9d.json
  change/@adaptive-web-adaptive-web-components-9feaf463-744b-48f4-ac29-48a76f7c3144.json
  change/@adaptive-web-adaptive-web-components-cb0d66f8-ea09-4e3b-96e0-40390e01607a.json
  change/@adaptive-web-adaptive-web-components-fb405a21-d810-4012-8aa4-2d42fe336de4.json
  examples/customize-component/package.json
  examples/use-adaptive-components/package.json
  package-lock.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui/CHANGELOG.json
  packages/adaptive-ui/CHANGELOG.md
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/CHANGELOG.json
  packages/adaptive-web-components/CHANGELOG.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

publish packages (#115)
  change/@adaptive-web-adaptive-ui-0bd327ff-ef0c-4914-98f1-ef5bacf098b3.json
  change/@adaptive-web-adaptive-ui-23ce4046-3241-426a-918b-cc361a6bfdff.json
  change/@adaptive-web-adaptive-ui-46eea0a4-4401-4a9a-b0cb-dc3dfb1a9eac.json
  change/@adaptive-web-adaptive-ui-52badea5-1494-4073-a335-ef8562470c5d.json
  change/@adaptive-web-adaptive-ui-5a8c14e6-76e1-4b14-b0a1-5be5bd4ab774.json
  change/@adaptive-web-adaptive-ui-6e0ca8ae-ac2d-4f40-806c-25a538f0a0ab.json
  change/@adaptive-web-adaptive-ui-81d66b12-c2d3-448c-a461-f69df207ce7e.json
  change/@adaptive-web-adaptive-ui-9cf489bb-f08c-4dbd-ab63-c0fc340423d2.json
  change/@adaptive-web-adaptive-ui-c5541eb5-a043-4841-9783-4f449af6f27d.json
  change/@adaptive-web-adaptive-ui-d2785b2f-53c0-4fc8-9293-f9bc0027c2ac.json
  change/@adaptive-web-adaptive-ui-fc02451e-1a04-4f28-a159-53ede7af978f.json
  change/@adaptive-web-adaptive-web-components-29c191a0-f10e-4247-83e5-59a516148022.json
  change/@adaptive-web-adaptive-web-components-4c31d385-6717-4dd3-8117-df8317a12c6f.json
  change/@adaptive-web-adaptive-web-components-4f880444-6134-4422-8d95-fad857235e9d.json
  change/@adaptive-web-adaptive-web-components-9feaf463-744b-48f4-ac29-48a76f7c3144.json
  change/@adaptive-web-adaptive-web-components-cb0d66f8-ea09-4e3b-96e0-40390e01607a.json
  change/@adaptive-web-adaptive-web-components-fb405a21-d810-4012-8aa4-2d42fe336de4.json
  examples/customize-component/package.json
  examples/use-adaptive-components/package.json
  package-lock.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui-figma-designer/package.json
  packages/adaptive-ui/CHANGELOG.json
  packages/adaptive-ui/CHANGELOG.md
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/CHANGELOG.json
  packages/adaptive-web-components/CHANGELOG.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

working
  packages/adaptive-web-components/src/components/patient-search/patient-search.stories.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.styles.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.template.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

working
  packages/adaptive-web-components/src/components/index.ts
  packages/adaptive-web-components/src/components/patient-list/index.ts
  packages/adaptive-web-components/src/components/patient-list/patient-list.compose.ts
  packages/adaptive-web-components/src/components/patient-list/patient-list.definition.ts
  packages/adaptive-web-components/src/components/patient-list/patient-list.options.ts
  packages/adaptive-web-components/src/components/patient-list/patient-list.stories.ts
  packages/adaptive-web-components/src/components/patient-list/patient-list.styles.modules.ts
  packages/adaptive-web-components/src/components/patient-list/patient-list.styles.ts
  packages/adaptive-web-components/src/components/patient-list/patient-list.template.ts
  packages/adaptive-web-components/src/components/patient-list/patient-list.ts
  packages/adaptive-web-components/src/components/patient-list/strings.en.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.options.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.template.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.ts
  packages/adaptive-web-components/src/components/patient-search/strings.en.ts
  packages/adaptive-web-components/src/custom-elements.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

working
  packages/adaptive-web-components/src/components/index.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.options.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.stories.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.template.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.ts
  packages/adaptive-web-components/src/components/patient-search/strings.en.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

working
  packages/adaptive-web-components/src/components/patient-search/index.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.compose.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.definition.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.stories.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.styles.modules.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.styles.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.template.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.ts
  packages/adaptive-web-components/src/custom-elements.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

working
  packages/adaptive-web-components/src/components/patient-list/patient-list.styles.modules.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.stories.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.styles.modules.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.styles.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.template.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

working
  package-lock.json
  packages/adaptive-web-components/docs/api-report.md
  packages/adaptive-web-components/src/components/patient-search/patient-search.template.ts
  packages/adaptive-web-components/src/components/patient-search/patient-search.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer: Updated style value model to support fixed values
  packages/adaptive-ui-figma-designer/src/core/controller.ts
  packages/adaptive-ui-figma-designer/src/core/model.ts
  packages/adaptive-ui-figma-designer/src/core/node.ts
  packages/adaptive-ui-figma-designer/src/core/serialization.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

.github/CODEOWNERS:

# Approval for at least one *code owner* is required all packages.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more *code owners*.
# The last matching pattern has the most precendence.

# These *code owners* will be the default owners for everything in the repository.
* @awentzel @bheston @KingOfTac @EisenbergEffect

# File type specific owners
# Markdown specific files
*.md @awentzel @bheston @falkicon @EisenbergEffect
/docs/ @awentzel @bheston @falkicon @EisenbergEffect

# GitHub management
.github/ @awentzel @EisenbergEffect
.github/workflows/ @awentzel @EisenbergEffect

# Build scripts
*.yml @awentzel @EisenbergEffect
build/ @awentzel @EisenbergEffect

# Package specific owners
# Examples
/examples/ @bheston @KingOfTac

# Tooling

# Utilities

# Web components
/packages/adaptive-ui/ @EisenbergEffect @bheston
/packages/adaptive-ui-explorer/ @EisenbergEffect @bheston
/packages/adaptive-web-components/ @EisenbergEffect @bheston @KingOfTac
