Repository Adaptive-Web-Community/Adaptive-Web-Components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Designer: Added ability to mark a node `inline` for styling (#217)
  change/@adaptive-web-adaptive-ui-designer-core-a1d3a17c-d392-4dd1-ba4f-07204ba4b955.json
  change/@adaptive-web-adaptive-ui-designer-figma-602338ac-be9f-4281-8f99-be2dd70df37e.json
  packages/adaptive-ui-designer-core/src/index.ts
  packages/adaptive-ui-designer-core/src/model.ts
  packages/adaptive-ui-designer-core/src/node.ts
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
  packages/adaptive-ui-designer-figma/src/lib/node-parser.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

applying package updates
  change/@adaptive-web-adaptive-ui-9a1613c3-c2e2-44c5-9a42-4cb2b5216378.json
  change/@adaptive-web-adaptive-ui-designer-core-a1d3a17c-d392-4dd1-ba4f-07204ba4b955.json
  change/@adaptive-web-adaptive-ui-designer-figma-44d25ed7-78a9-46a7-8518-788cb1ac9ca3.json
  change/@adaptive-web-adaptive-ui-designer-figma-602338ac-be9f-4281-8f99-be2dd70df37e.json
  examples/customize-component/package.json
  examples/use-adaptive-components/package.json
  package-lock.json
  packages/adaptive-ui-designer-core/CHANGELOG.json
  packages/adaptive-ui-designer-core/CHANGELOG.md
  packages/adaptive-ui-designer-core/package.json
  packages/adaptive-ui-designer-figma-plugin/package.json
  packages/adaptive-ui-designer-figma/CHANGELOG.json
  packages/adaptive-ui-designer-figma/CHANGELOG.md
  packages/adaptive-ui-designer-figma/package.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui/CHANGELOG.json
  packages/adaptive-ui/CHANGELOG.md
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/CHANGELOG.json
  packages/adaptive-web-components/CHANGELOG.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

define active state after focus state
  packages/adaptive-ui/src/core/modules/element-styles-renderer.ts
Owners: @nicholasrice, @bheston

Change files
  change/@adaptive-web-adaptive-ui-3677b8f0-153b-48e9-b402-d50350e968f2.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

ensure hover styles override focus styles
  change/@adaptive-web-adaptive-ui-3677b8f0-153b-48e9-b402-d50350e968f2.json
  packages/adaptive-ui/src/core/modules/element-styles-renderer.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

fix: define active state styles after focus state (#219)
  change/@adaptive-web-adaptive-ui-3677b8f0-153b-48e9-b402-d50350e968f2.json
  packages/adaptive-ui/src/core/modules/element-styles-renderer.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

applying package updates
  change/@adaptive-web-adaptive-ui-3677b8f0-153b-48e9-b402-d50350e968f2.json
  examples/customize-component/package.json
  examples/use-adaptive-components/package.json
  package-lock.json
  packages/adaptive-ui-designer-core/CHANGELOG.json
  packages/adaptive-ui-designer-core/CHANGELOG.md
  packages/adaptive-ui-designer-core/package.json
  packages/adaptive-ui-designer-figma-plugin/package.json
  packages/adaptive-ui-designer-figma/CHANGELOG.json
  packages/adaptive-ui-designer-figma/CHANGELOG.md
  packages/adaptive-ui-designer-figma/package.json
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui/CHANGELOG.json
  packages/adaptive-ui/CHANGELOG.md
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/CHANGELOG.json
  packages/adaptive-web-components/CHANGELOG.md
  packages/adaptive-web-components/package.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Turn on strict compilation mode
  package-lock.json
  packages/adaptive-ui-designer-core/src/node.ts
  packages/adaptive-ui-designer-figma-plugin/package.json
  packages/adaptive-ui-designer-figma-plugin/src/ui/app.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/design-token-add/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/stealth-button/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/style-token-item/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/token-glyph/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/tsconfig.json
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-code.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-elements.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-styles.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-tokens.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller.ts
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/components/adaptive-component.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui-explorer/src/components/layer-background/index.ts
  packages/adaptive-ui-explorer/src/components/swatch.ts
  packages/adaptive-ui-explorer/src/state.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/adaptive-design-tokens.ts
  packages/adaptive-ui/src/core/color/recipes/ideal-color-delta-swatch-set.spec.ts
  packages/adaptive-web-components/src/components/menu-item/menu-item.ts
  tsconfig.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-0e754ad7-4d2d-4075-ab2d-064d314e21f6.json
  change/@adaptive-web-adaptive-ui-designer-core-61534f82-7ad1-4cc3-827f-a773f0158229.json
  change/@adaptive-web-adaptive-web-components-50a3cba4-cda8-41ad-ba24-024b430b1065.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Review comments
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/token-glyph/index.ts
  packages/adaptive-ui-explorer/src/state.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Turn on strict compilation mode (#218)
  change/@adaptive-web-adaptive-ui-0e754ad7-4d2d-4075-ab2d-064d314e21f6.json
  change/@adaptive-web-adaptive-ui-designer-core-61534f82-7ad1-4cc3-827f-a773f0158229.json
  change/@adaptive-web-adaptive-web-components-50a3cba4-cda8-41ad-ba24-024b430b1065.json
  package-lock.json
  packages/adaptive-ui-designer-core/src/node.ts
  packages/adaptive-ui-designer-figma-plugin/package.json
  packages/adaptive-ui-designer-figma-plugin/src/ui/app.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/design-token-add/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/stealth-button/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/style-token-item/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/token-glyph/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/tsconfig.json
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-code.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-elements.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-styles.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller-tokens.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller.ts
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/components/adaptive-component.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui-explorer/src/components/layer-background/index.ts
  packages/adaptive-ui-explorer/src/components/swatch.ts
  packages/adaptive-ui-explorer/src/state.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/adaptive-design-tokens.ts
  packages/adaptive-ui/src/core/color/recipes/ideal-color-delta-swatch-set.spec.ts
  packages/adaptive-web-components/src/components/menu-item/menu-item.ts
  tsconfig.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Updating palette base color token type for better type safety
  examples/use-adaptive-components/src/index.ts
  packages/adaptive-ui-designer-core/src/index.ts
  packages/adaptive-ui-designer-core/src/registry/custom-recipes.ts
  packages/adaptive-ui-designer-core/src/registry/recipes.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/design-token-add/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.template.ts
  packages/adaptive-ui-explorer/src/state.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/color/color.ts
  packages/adaptive-ui/src/core/token-helpers.ts
  packages/adaptive-ui/src/reference/palette.ts
Owners: @bheston, @KingOfTac, @nicholasrice, @awentzel

Change files
  change/@adaptive-web-adaptive-ui-7642ef95-7e3c-41a1-8163-c8b9a22b4ae6.json
  change/@adaptive-web-adaptive-ui-designer-core-5bdb15bf-85e4-4209-a9d5-2766c1acd51c.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Updating palette base color token type for better type safety (#222)
  change/@adaptive-web-adaptive-ui-7642ef95-7e3c-41a1-8163-c8b9a22b4ae6.json
  change/@adaptive-web-adaptive-ui-designer-core-5bdb15bf-85e4-4209-a9d5-2766c1acd51c.json
  examples/use-adaptive-components/src/index.ts
  packages/adaptive-ui-designer-core/src/index.ts
  packages/adaptive-ui-designer-core/src/registry/custom-recipes.ts
  packages/adaptive-ui-designer-core/src/registry/recipes.ts
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/components/design-token-add/index.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/ui-controller.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.template.ts
  packages/adaptive-ui-explorer/src/state.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/color/color.ts
  packages/adaptive-ui/src/core/token-helpers.ts
  packages/adaptive-ui/src/reference/palette.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-e0d5b689-bc54-4ebd-a792-599d0516bcb0.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Review comments
  packages/adaptive-ui/src/core/color/palette-okhsl.ts
Owners: @nicholasrice, @bheston

Adaptive UI: Added palette options for Okhsl
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/color/palette-okhsl.ts
  packages/adaptive-ui/src/core/token-helpers.ts
  packages/adaptive-ui/src/reference/palette.ts
Owners: @nicholasrice, @bheston

Fix default value
  packages/adaptive-ui/src/reference/palette.ts
Owners: @nicholasrice, @bheston

Adaptive UI: Added palette options for Okhsl (#223)
  change/@adaptive-web-adaptive-ui-e0d5b689-bc54-4ebd-a792-599d0516bcb0.json
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/color/palette-okhsl.ts
  packages/adaptive-ui/src/core/token-helpers.ts
  packages/adaptive-ui/src/reference/palette.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

fix: CLI module imports on windows (#209)
  change/@adaptive-web-adaptive-ui-3e96b6b4-4027-44d2-ae7f-9ddbfa79dbed.json
  packages/adaptive-ui/src/bin/aui.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Designer: Added support for individual border thickness
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

update to support npm provenance attestation
  .github/workflows/publish-packages.yml
  packages/adaptive-ui-designer-core/package.json
  packages/adaptive-ui-designer-figma/package.json
  packages/adaptive-ui/package.json
  packages/adaptive-web-components/package.json
Owners: @awentzel, @nicholasrice, @KingOfTac, @bheston

Fix an issue with resetting strokes
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Address review comments
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Designer: Added support for individual border thickness (#224)
  packages/adaptive-ui-designer-figma-plugin/src/figma/node.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

AUI: Added support for pseudo selectors in part conditions
  packages/adaptive-ui/src/core/modules/selector.ts
Owners: @nicholasrice, @bheston

Change files
  change/@adaptive-web-adaptive-ui-e52e477e-a9f7-4340-9a72-a1d7ee8c16c5.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

AUI: Added support for pseudo selectors in part conditions (#226)
  change/@adaptive-web-adaptive-ui-e52e477e-a9f7-4340-9a72-a1d7ee8c16c5.json
  packages/adaptive-ui/src/core/modules/selector.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Add support for margin properties Fix a couple small style generation issues
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/bin/aui.ts
  packages/adaptive-ui/src/core/modules/css.ts
  packages/adaptive-ui/src/core/modules/types.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-d4b8c096-adce-4fec-8616-9f0320e1f530.json
  change/@adaptive-web-adaptive-ui-designer-figma-4c209d8b-7be9-46a2-8600-17463e77f670.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Designer: Add margin and fix gen issues (#230)
  change/@adaptive-web-adaptive-ui-d4b8c096-adce-4fec-8616-9f0320e1f530.json
  change/@adaptive-web-adaptive-ui-designer-figma-4c209d8b-7be9-46a2-8600-17463e77f670.json
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/bin/aui.ts
  packages/adaptive-ui/src/core/modules/css.ts
  packages/adaptive-ui/src/core/modules/types.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

AUI: Improve StyleProperty shorthand capabilities
  examples/customize-component/src/index.ts
  package-lock.json
  packages/adaptive-ui-designer-core/src/registry/custom-recipes.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/app.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/density/index.ts
  packages/adaptive-ui/src/core/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/core/modules/styles.ts
  packages/adaptive-ui/src/core/modules/types.ts
  packages/adaptive-ui/src/migration/color.ts
  packages/adaptive-ui/src/reference/appearance.ts
  packages/adaptive-ui/src/reference/color.ts
  packages/adaptive-ui/src/reference/modules.ts
  packages/adaptive-web-components/src/components/progress/progress.styles.modules.ts
  packages/adaptive-web-components/src/components/tooltip/tooltip.styles.modules.ts
Owners: @bheston, @KingOfTac, @nicholasrice, @awentzel

Change files
  change/@adaptive-web-adaptive-ui-dda26682-04a9-49e9-abb3-c4c13a75350b.json
  change/@adaptive-web-adaptive-ui-designer-core-848b0782-1e38-4b1d-9704-28611cffce60.json
  change/@adaptive-web-adaptive-web-components-0a6dc60f-a996-4459-a2ab-6fa972eda308.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

AUI: Improve StyleProperty shorthand capabilities (#231)
  change/@adaptive-web-adaptive-ui-dda26682-04a9-49e9-abb3-c4c13a75350b.json
  change/@adaptive-web-adaptive-ui-designer-core-848b0782-1e38-4b1d-9704-28611cffce60.json
  change/@adaptive-web-adaptive-web-components-0a6dc60f-a996-4459-a2ab-6fa972eda308.json
  examples/customize-component/src/index.ts
  package-lock.json
  packages/adaptive-ui-designer-core/src/registry/custom-recipes.ts
  packages/adaptive-ui-designer-figma-plugin/src/ui/app.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/core/density/index.ts
  packages/adaptive-ui/src/core/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/core/modules/styles.ts
  packages/adaptive-ui/src/core/modules/types.ts
  packages/adaptive-ui/src/migration/color.ts
  packages/adaptive-ui/src/reference/appearance.ts
  packages/adaptive-ui/src/reference/color.ts
  packages/adaptive-ui/src/reference/modules.ts
  packages/adaptive-web-components/src/components/progress/progress.styles.modules.ts
  packages/adaptive-web-components/src/components/tooltip/tooltip.styles.modules.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

AUI: Add support for looking up Token Groups in anatomy
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/bin/aui.ts
  packages/adaptive-ui/src/core/adaptive-design-tokens.ts
  packages/adaptive-ui/src/core/token-helpers-color.ts
Owners: @nicholasrice, @bheston

Change files
  change/@adaptive-web-adaptive-ui-f8c4444f-eeae-489a-9d3d-8f84c8fc761b.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

AUI: Add support for looking up Token Groups in anatomy (#232)
  change/@adaptive-web-adaptive-ui-f8c4444f-eeae-489a-9d3d-8f84c8fc761b.json
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/bin/aui.ts
  packages/adaptive-ui/src/core/adaptive-design-tokens.ts
  packages/adaptive-ui/src/core/token-helpers-color.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

AUI: Add import capability to component anatomy definitions
  package-lock.json
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/bin/aui.ts
  packages/adaptive-ui/src/core/modules/types.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change files
  change/@adaptive-web-adaptive-ui-4e314a96-e352-46f2-b2ab-cfd816afe5fe.json
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

AUI: Add import capability to component anatomy definitions (#233)
  change/@adaptive-web-adaptive-ui-4e314a96-e352-46f2-b2ab-cfd816afe5fe.json
  package-lock.json
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/bin/aui.ts
  packages/adaptive-ui/src/core/modules/types.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

.github/CODEOWNERS:

# Approval for at least one *code owner* is required all packages.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more *code owners*.
# The last matching pattern has the most precendence.

# These *code owners* will be the default owners for everything in the repository.
* @awentzel @bheston @KingOfTac @nicholasrice

# File type specific owners
# Markdown specific files
*.md @awentzel @bheston @nicholasrice
/docs/ @awentzel @bheston @nicholasrice

# GitHub management
.github/ @awentzel @nicholasrice @KingOfTac
.github/workflows/ @awentzel @nicholasrice @KingOfTac

# Build scripts
*.yml @awentzel @nicholasrice @KingOfTac
build/ @awentzel @nicholasrice @KingOfTac

# Package specific owners
# Examples
/examples/ @bheston @KingOfTac @nicholasrice

# Tooling

# Utilities

# Web components
/packages/adaptive-ui/ @nicholasrice @bheston
/packages/adaptive-ui-explorer/ @nicholasrice @bheston
/packages/adaptive-web-components/ @nicholasrice @bheston @KingOfTac
