Repository Adaptive-Web-Community/Adaptive-Web-Components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Consolidate style generation and enable bulk update.
  package-lock.json
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/bin/aui.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change
  .changeset/green-moons-rush.md
Owners: @awentzel, @bheston, @nicholasrice

Consolidate style generation and enable bulk update. (#296)
  .changeset/green-moons-rush.md
  package-lock.json
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/bin/aui.ts
Owners: @awentzel, @bheston, @nicholasrice, @KingOfTac

AUI: Added support for generating default cursor styles
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/bin/aui.ts
  packages/adaptive-ui/src/core/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/core/modules/types.ts
  packages/adaptive-ui/src/reference/modules.ts
Owners: @nicholasrice, @bheston

Change
  .changeset/silver-crabs-flash.md
Owners: @awentzel, @bheston, @nicholasrice

AUI: Added support for generating default cursor styles (#297)
  .changeset/silver-crabs-flash.md
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/bin/aui.ts
  packages/adaptive-ui/src/core/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/core/modules/types.ts
  packages/adaptive-ui/src/reference/modules.ts
Owners: @awentzel, @bheston, @nicholasrice

AUI: Fix part resolution
  packages/adaptive-ui/src/bin/aui.ts
Owners: @nicholasrice, @bheston

change
  .changeset/thick-nails-find.md
Owners: @awentzel, @bheston, @nicholasrice

AUI: Fix part resolution (#298)
  .changeset/thick-nails-find.md
  packages/adaptive-ui/src/bin/aui.ts
Owners: @awentzel, @bheston, @nicholasrice

Figma: Add support for slots
  package-lock.json
  packages/adaptive-ui-designer-figma-plugin/package.json
  packages/adaptive-ui-designer-figma-plugin/src/figma/utility.ts
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
Owners: @awentzel, @bheston, @KingOfTac, @nicholasrice

Change file
  .changeset/clear-clouds-itch.md
Owners: @awentzel, @bheston, @nicholasrice

Figma: Add support for slots (#307)
  .changeset/clear-clouds-itch.md
  package-lock.json
  packages/adaptive-ui-designer-figma-plugin/package.json
  packages/adaptive-ui-designer-figma-plugin/src/figma/utility.ts
  packages/adaptive-ui-designer-figma/src/lib/anatomy.ts
Owners: @awentzel, @bheston, @nicholasrice, @KingOfTac

.github/CODEOWNERS:

# Approval for at least one *code owner* is required all packages.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more *code owners*.
# The last matching pattern has the most precendence.

# These *code owners* will be the default owners for everything in the repository.
* @awentzel @bheston @KingOfTac @nicholasrice

# File type specific owners
# Markdown specific files
*.md @awentzel @bheston @nicholasrice
/docs/ @awentzel @bheston @nicholasrice

# GitHub management
.github/ @awentzel @nicholasrice @KingOfTac
.github/workflows/ @awentzel @nicholasrice @KingOfTac

# Build scripts
*.yml @awentzel @nicholasrice @KingOfTac
build/ @awentzel @nicholasrice @KingOfTac

# Package specific owners
# Examples
/examples/ @bheston @KingOfTac @nicholasrice

# Tooling

# Utilities

# Web components
/packages/adaptive-ui/ @nicholasrice @bheston
/packages/adaptive-ui-explorer/ @nicholasrice @bheston
/packages/adaptive-web-components/ @nicholasrice @bheston @KingOfTac
