Repository Adaptive-Web-Community/Adaptive-Web-Components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect, @falkicon

.github/CODEOWNERS:

# Approval for at least one *code owner* is required all packages.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more *code owners*.
# The last matching pattern has the most precendence.

# These *code owners* will be the default owners for everything in the repository.
* @awentzel @bheston @KingOfTac @EisenbergEffect

# File type specific owners
# Markdown specific files
*.md @awentzel @bheston @falkicon @EisenbergEffect
/docs/ @awentzel @bheston @falkicon @EisenbergEffect

# GitHub management
.github/ @awentzel @EisenbergEffect
.github/workflows/ @awentzel @EisenbergEffect

# Build scripts
*.yml @awentzel @EisenbergEffect
build/ @awentzel @EisenbergEffect

# Package specific owners
# Examples
/examples/ @bheston @KingOfTac

# Tooling

# Utilities

# Web components
/packages/adaptive-ui/ @EisenbergEffect @bheston
/packages/adaptive-ui-explorer/ @EisenbergEffect @bheston
/packages/adaptive-web-components/ @EisenbergEffect @bheston @KingOfTac

Added warning and success palettes and recipes Deprecated color recipe set aliases
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/palette.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-8b15eb8c-ffd5-4522-8252-b6214108fdee.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Explorer updates: - Migrated to state context object - Migrated control panel to AWC - Updated styling
  package-lock.json
  packages/adaptive-ui-explorer/index.html
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/components/adaptive-component.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.styles.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.template.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.ts
  packages/adaptive-ui-explorer/src/components/layer-background/index.ts
  packages/adaptive-ui-explorer/src/components/palette-gradient/palette-gradient.styles.ts
  packages/adaptive-ui-explorer/src/components/style-example.ts
  packages/adaptive-ui-explorer/src/components/swatch.ts
  packages/adaptive-ui-explorer/src/index.ts
  packages/adaptive-ui-explorer/src/state.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Explorer updates: (#171)
  package-lock.json
  packages/adaptive-ui-explorer/index.html
  packages/adaptive-ui-explorer/package.json
  packages/adaptive-ui-explorer/src/app.ts
  packages/adaptive-ui-explorer/src/components/adaptive-component.ts
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.styles.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.template.ts
  packages/adaptive-ui-explorer/src/components/control-pane/control-pane.ts
  packages/adaptive-ui-explorer/src/components/layer-background/index.ts
  packages/adaptive-ui-explorer/src/components/palette-gradient/palette-gradient.styles.ts
  packages/adaptive-ui-explorer/src/components/style-example.ts
  packages/adaptive-ui-explorer/src/components/swatch.ts
  packages/adaptive-ui-explorer/src/index.ts
  packages/adaptive-ui-explorer/src/state.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Added warning and success palettes and recipes (#175)
  change/@adaptive-web-adaptive-ui-8b15eb8c-ffd5-4522-8252-b6214108fdee.json
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/palette.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer: Added support for applying individual density tokens
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-styles.ts
  packages/adaptive-ui/src/density/index.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-cce85a67-4756-4a97-8313-d2c810defe53.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Designer: Added support for applying individual density tokens (#176)
  change/@adaptive-web-adaptive-ui-cce85a67-4756-4a97-8313-d2c810defe53.json
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui-figma-designer/src/ui/ui-controller-styles.ts
  packages/adaptive-ui/src/density/index.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-02928a5b-1a67-41dc-bae7-720ad5e0156e.json
  change/@adaptive-web-adaptive-web-components-2f8d5909-eef1-4f94-82f8-d87f8d652ba2.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Fix an issue with number type style properties
  packages/adaptive-ui/src/modules/element-styles-renderer.ts
Owners: @EisenbergEffect, @bheston

Update CEM config
  packages/adaptive-web-components/cem.config.mjs
  packages/adaptive-web-components/cem.plugins.mjs
Owners: @EisenbergEffect, @bheston, @KingOfTac

Added React integration example
  examples/integration-react/.gitignore
  examples/integration-react/index.html
  examples/integration-react/package-lock.json
  examples/integration-react/package.json
  examples/integration-react/src/App.css
  examples/integration-react/src/App.tsx
  examples/integration-react/src/favicon.svg
  examples/integration-react/src/index.css
  examples/integration-react/src/logo.svg
  examples/integration-react/src/main.tsx
  examples/integration-react/src/vite-env.d.ts
  examples/integration-react/tsconfig.json
  examples/integration-react/tsconfig.node.json
  examples/integration-react/vite.config.ts
  package-lock.json
  package.json
Owners: @bheston, @KingOfTac, @awentzel, @EisenbergEffect

More examples
  examples/integration-react/package-lock.json
  examples/integration-react/package.json
  examples/integration-react/src/App.css
  examples/integration-react/src/App.tsx
  examples/integration-react/src/custom-button.ts
  examples/integration-react/src/gobal.d.ts
  examples/integration-react/src/main.tsx
  examples/integration-react/tsconfig.json
  examples/integration-react/vite.config.ts
Owners: @bheston, @KingOfTac

WIP
  examples/integration-react/.gitignore
  examples/integration-react/README.md
  examples/integration-react/generate-wrappers.mjs
  examples/integration-react/index.html
  examples/integration-react/package-lock.json
  examples/integration-react/package.json
  examples/integration-react/src/App.css
  examples/integration-react/src/App.tsx
  examples/integration-react/src/ContentItem.styles.ts
  examples/integration-react/src/ContentItem.tsx
  examples/integration-react/src/Controls.css
  examples/integration-react/src/Controls.tsx
  examples/integration-react/src/assets/ActionsIcon.tsx
  examples/integration-react/src/assets/BlobIcon.tsx
  examples/integration-react/src/assets/BookmarkIcon.tsx
  examples/integration-react/src/assets/card-background.jpg
  examples/integration-react/src/custom-button.ts
  examples/integration-react/src/index.css
  examples/integration-react/src/init.ts
  examples/integration-react/src/main.tsx
  examples/integration-react/src/styles.ts
  examples/integration-react/src/util.ts
  examples/integration-react/tsconfig.json
  examples/integration-react/vite.config.ts
  package-lock.json
  package.json
  packages/adaptive-ui/src/design-tokens/layer.ts
  packages/adaptive-web-components/cem.plugins.mjs
  packages/adaptive-web-components/docs/api-report.md
  packages/adaptive-web-components/src/components/design-token-context/design-token-context.compose.ts
  packages/adaptive-web-components/src/components/design-token-context/design-token-context.definition.ts
  packages/adaptive-web-components/src/components/design-token-context/design-token-context.stories.ts
  packages/adaptive-web-components/src/components/design-token-context/design-token-context.styles.modules.ts
  packages/adaptive-web-components/src/components/design-token-context/design-token-context.template.ts
  packages/adaptive-web-components/src/components/design-token-context/design-token-context.ts
  packages/adaptive-web-components/src/components/design-token-context/index.ts
  packages/adaptive-web-components/src/components/index.ts
  packages/adaptive-web-components/src/components/listbox-option/listbox-option.compose.ts
  packages/adaptive-web-components/src/custom-elements.ts
Owners: @bheston, @KingOfTac, @awentzel, @EisenbergEffect

Added info color palette
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/design-tokens/palette.ts
Owners: @EisenbergEffect, @bheston

Change files
  change/@adaptive-web-adaptive-ui-c35267ba-eebc-48c2-9d70-e26a1bbbd7d5.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Add integration-mui example.
  examples/integration-mui/.gitignore
  examples/integration-mui/README.md
  examples/integration-mui/generate-wrappers.mjs
  examples/integration-mui/index.html
  examples/integration-mui/package.json
  examples/integration-mui/src/App.css
  examples/integration-mui/src/App.tsx
  examples/integration-mui/src/ContentItem.styles.ts
  examples/integration-mui/src/ContentItem.tsx
  examples/integration-mui/src/Controls.css
  examples/integration-mui/src/Controls.tsx
  examples/integration-mui/src/MuiCSSTheme/muiTheme.js
  examples/integration-mui/src/assets/ActionsIcon.tsx
  examples/integration-mui/src/assets/BlobIcon.tsx
  examples/integration-mui/src/assets/BookmarkIcon.tsx
  examples/integration-mui/src/assets/card-background.jpg
  examples/integration-mui/src/custom-button.ts
  examples/integration-mui/src/favicon.svg
  examples/integration-mui/src/gobal.d.ts
  examples/integration-mui/src/index.css
  examples/integration-mui/src/init.ts
  examples/integration-mui/src/logo.svg
  examples/integration-mui/src/main.tsx
  examples/integration-mui/src/styles.ts
  examples/integration-mui/src/util.ts
  examples/integration-mui/src/vite-env.d.ts
  examples/integration-mui/tsconfig.json
  examples/integration-mui/tsconfig.node.json
  examples/integration-mui/vite.config.ts
  package-lock.json
Owners: @bheston, @KingOfTac, @awentzel, @EisenbergEffect

Create MUI integration example POCs.
  examples/integration-mui/package.json
  examples/integration-mui/src/App.tsx
  examples/integration-mui/src/ContentItem.styles.ts
  examples/integration-mui/src/ContentItem.tsx
  examples/integration-mui/src/MuiButtonAuiStyles/MuiButtonAuiStyles.styles.ts
  examples/integration-mui/src/MuiButtonAuiStyles/MuiButtonAuiStyles.tsx
  examples/integration-mui/src/MuiCSSTheme/BaseButton.js
  examples/integration-mui/src/MuiCSSTheme/muiTheme.js
  examples/integration-mui/src/main.tsx
  package-lock.json
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-web-components/src/components/button/button.styles.modules.ts
Owners: @bheston, @KingOfTac, @awentzel, @EisenbergEffect

bug fix
  examples/integration-mui/src/MuiButtonAuiStyles/MuiButtonAuiStyles.styles.ts
  examples/integration-mui/src/MuiButtonAuiStyles/MuiButtonAuiStyles.tsx
Owners: @bheston, @KingOfTac

Added MUI Slider styling example
  examples/integration-mui/src/App.tsx
  examples/integration-mui/src/ContentItem.tsx
  examples/integration-mui/src/MuiSliderAuiStyles/MuiSliderAuiStyles.styles.ts
  examples/integration-mui/src/MuiSliderAuiStyles/MuiSliderAuiStyles.tsx
  examples/integration-mui/src/main.tsx
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/modules/selector.ts
  packages/adaptive-ui/src/modules/types.ts
Owners: @bheston, @KingOfTac, @EisenbergEffect

Fix refactor
  examples/integration-mui/src/MuiSliderAuiStyles/MuiSliderAuiStyles.styles.ts
Owners: @bheston, @KingOfTac

Add tokens to Designer plugin
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Adaptive UI: Added info color palette (#179)
  change/@adaptive-web-adaptive-ui-c35267ba-eebc-48c2-9d70-e26a1bbbd7d5.json
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/design-tokens/palette.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Adaptive UI: Fix circular palette reference
  packages/adaptive-ui/src/color/index.ts
  packages/adaptive-ui/src/color/palette-base.ts
  packages/adaptive-ui/src/color/palette-okhsl.ts
  packages/adaptive-ui/src/color/palette-rgb.ts
  packages/adaptive-ui/src/color/palette.ts
Owners: @EisenbergEffect, @bheston

Change files
  change/@adaptive-web-adaptive-ui-1d8f42fa-b2d9-4b19-a179-23ce4bf2b329.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Adaptive UI: Fix circular palette reference (#180)
  change/@adaptive-web-adaptive-ui-1d8f42fa-b2d9-4b19-a179-23ce4bf2b329.json
  packages/adaptive-ui/src/color/index.ts
  packages/adaptive-ui/src/color/palette-base.ts
  packages/adaptive-ui/src/color/palette-okhsl.ts
  packages/adaptive-ui/src/color/palette-rgb.ts
  packages/adaptive-ui/src/color/palette.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-972c117e-79a9-42ce-a3c3-d439465f4178.json
  change/@adaptive-web-adaptive-web-components-9b964b7c-2bef-4128-8709-3519071312b2.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Initial support for style module media query variations
  package-lock.json
  packages/adaptive-ui/package.json
  packages/adaptive-ui/src/design-tokens/index.ts
  packages/adaptive-ui/src/design-tokens/modules.forced-colors.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
  packages/adaptive-ui/src/modules/css.ts
  packages/adaptive-ui/src/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/modules/styles.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

WIP
  packages/adaptive-web-components/src/components/button/button.stories.ts
  packages/adaptive-web-components/src/components/button/button.styles.modules.ts
  packages/adaptive-web-components/src/components/button/button.styles.ts
  packages/adaptive-web-components/src/components/button/button.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Add a Tootlip provider helper
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/apply-mixins.ts
  packages/adaptive-ui/src/index.ts
  packages/adaptive-web-components/src/components/button/button.stories.ts
  packages/adaptive-web-components/src/components/button/button.ts
  packages/adaptive-web-components/src/components/tooltip/tooltip.styles.ts
  packages/adaptive-web-components/src/utilities/tooltip-provider.ts
Owners: @EisenbergEffect, @bheston, @KingOfTac

Added subtle inverse color recipes
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
Owners: @EisenbergEffect, @bheston

Change files
  change/@adaptive-web-adaptive-ui-af78f269-705d-4753-a2cf-fa5d40c26969.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Fix input base module definition
  packages/adaptive-ui/src/design-tokens/modules.ts
Owners: @EisenbergEffect, @bheston

Added subtle inverse color recipes (#182)
  change/@adaptive-web-adaptive-ui-af78f269-705d-4753-a2cf-fa5d40c26969.json
  packages/adaptive-ui-explorer/src/components/color-block.ts
  packages/adaptive-ui/src/design-tokens/color.ts
  packages/adaptive-ui/src/design-tokens/modules.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Added shadows to Designer plugin
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/figma/utility.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/elevation.ts
  packages/adaptive-ui/src/index.ts
  packages/adaptive-ui/src/shadow/index.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-ff49c45e-e50b-4cae-ac86-69ccd40127a7.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Added shadows to Designer plugin (#183)
  change/@adaptive-web-adaptive-ui-ff49c45e-e50b-4cae-ac86-69ccd40127a7.json
  packages/adaptive-ui-figma-designer/src/core/registry/recipes.ts
  packages/adaptive-ui-figma-designer/src/figma/node.ts
  packages/adaptive-ui-figma-designer/src/figma/utility.ts
  packages/adaptive-ui-figma-designer/src/ui/app.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/design-tokens/elevation.ts
  packages/adaptive-ui/src/index.ts
  packages/adaptive-ui/src/shadow/index.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Expand styling capabilities to not assume `:host` container
  examples/customize-component/src/index.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/modules/selector.ts
  packages/adaptive-ui/src/modules/types.ts
  packages/adaptive-web-components/src/components/anchor/anchor.styles.modules.ts
  packages/adaptive-web-components/src/components/breadcrumb-item/breadcrumb-item.styles.modules.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.styles.modules.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.template.ts
  packages/adaptive-web-components/src/components/data-grid-cell/data-grid-cell.styles.modules.ts
  packages/adaptive-web-components/src/components/data-grid-cell/data-grid-cell.template.ts
  packages/adaptive-web-components/src/components/divider/divider.styles.modules.ts
  packages/adaptive-web-components/src/components/flipper/flipper.template.ts
  packages/adaptive-web-components/src/components/listbox-option/listbox-option.styles.modules.ts
  packages/adaptive-web-components/src/components/listbox/listbox.template.ts
  packages/adaptive-web-components/src/components/menu-item/menu-item.template.ts
  packages/adaptive-web-components/src/components/picker-list-item/picker-list-item.template.ts
  packages/adaptive-web-components/src/components/picker-menu-option/picker-menu-option.styles.modules.ts
  packages/adaptive-web-components/src/components/radio/radio.styles.modules.ts
  packages/adaptive-web-components/src/components/radio/radio.template.ts
  packages/adaptive-web-components/src/components/select/select.styles.modules.ts
  packages/adaptive-web-components/src/components/select/select.template.ts
  packages/adaptive-web-components/src/components/skeleton/skeleton.styles.modules.ts
  packages/adaptive-web-components/src/components/slider/slider.template.ts
  packages/adaptive-web-components/src/components/switch/switch.styles.modules.ts
  packages/adaptive-web-components/src/components/switch/switch.template.ts
  packages/adaptive-web-components/src/components/tab/tab.template.ts
  packages/adaptive-web-components/src/components/tree-item/tree-item.template.ts
  packages/adaptive-web-components/src/global.styles.modules.ts
Owners: @bheston, @KingOfTac, @EisenbergEffect

Change files
  change/@adaptive-web-adaptive-ui-3ea279c0-91e4-47db-8015-8b43925b9c60.json
  change/@adaptive-web-adaptive-web-components-fee5fd32-8612-44e2-9b82-07a9b21b20e4.json
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect

Expand styling capabilities to not assume `:host` container (#184)
  change/@adaptive-web-adaptive-ui-3ea279c0-91e4-47db-8015-8b43925b9c60.json
  change/@adaptive-web-adaptive-web-components-fee5fd32-8612-44e2-9b82-07a9b21b20e4.json
  examples/customize-component/src/index.ts
  packages/adaptive-ui/docs/api-report.md
  packages/adaptive-ui/src/modules/element-styles-renderer.ts
  packages/adaptive-ui/src/modules/selector.ts
  packages/adaptive-ui/src/modules/types.ts
  packages/adaptive-web-components/src/components/anchor/anchor.styles.modules.ts
  packages/adaptive-web-components/src/components/breadcrumb-item/breadcrumb-item.styles.modules.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.styles.modules.ts
  packages/adaptive-web-components/src/components/checkbox/checkbox.template.ts
  packages/adaptive-web-components/src/components/data-grid-cell/data-grid-cell.styles.modules.ts
  packages/adaptive-web-components/src/components/data-grid-cell/data-grid-cell.template.ts
  packages/adaptive-web-components/src/components/divider/divider.styles.modules.ts
  packages/adaptive-web-components/src/components/flipper/flipper.template.ts
  packages/adaptive-web-components/src/components/listbox-option/listbox-option.styles.modules.ts
  packages/adaptive-web-components/src/components/listbox/listbox.template.ts
  packages/adaptive-web-components/src/components/menu-item/menu-item.template.ts
  packages/adaptive-web-components/src/components/picker-list-item/picker-list-item.template.ts
  packages/adaptive-web-components/src/components/picker-menu-option/picker-menu-option.styles.modules.ts
  packages/adaptive-web-components/src/components/radio/radio.styles.modules.ts
  packages/adaptive-web-components/src/components/radio/radio.template.ts
  packages/adaptive-web-components/src/components/select/select.styles.modules.ts
  packages/adaptive-web-components/src/components/select/select.template.ts
  packages/adaptive-web-components/src/components/skeleton/skeleton.styles.modules.ts
  packages/adaptive-web-components/src/components/slider/slider.template.ts
  packages/adaptive-web-components/src/components/switch/switch.styles.modules.ts
  packages/adaptive-web-components/src/components/switch/switch.template.ts
  packages/adaptive-web-components/src/components/tab/tab.template.ts
  packages/adaptive-web-components/src/components/tree-item/tree-item.template.ts
  packages/adaptive-web-components/src/global.styles.modules.ts
Owners: @awentzel, @bheston, @KingOfTac, @EisenbergEffect
